mdw-side-sheet,
mdw-navigation-drawer {
  --mdw-side-sheet-swipe-back-scale: 1;
  --mdw-side-sheet-swipe-back-move: 0;

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  z-index: 9;
  box-sizing: border-box;
  background-color: var(--mdw-surface);
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;

  width: var(--mdw-side-sheet-width);
  transform: translateX(0);

  transition: transform var(--mdw-motion-duration-medium2);
  transition-timing-function: var(--mdw-motion-easing-decelerate);
}


mdw-side-sheet.mdw-left,
mdw-navigation-drawer.mdw-left {
  right: unset;
  left: 0;
}
mdw-navigation-drawer,
mdw-side-sheet.mdw-global,
mdw-navigation-drawer.mdw-global {
  position: fixed;
}
mdw-side-sheet.mdw-divider:not(.mdw-left),
mdw-navigation-drawer.mdw-divider:not(.mdw-left) {
  border-left: 1px solid var(--mdw-surface-variant);
}
mdw-side-sheet.mdw-divider.mdw-left,
mdw-navigation-drawer.mdw-divider.mdw-left {
  border-right: 1px solid var(--mdw-surface-variant);
}

mdw-side-sheet.mdw-swipe-back,
mdw-navigation-drawer.mdw-swipe-back {
  transform: scale(var(--mdw-side-sheet-swipe-back-scale));
  transform-origin: center right;
}
mdw-side-sheet.mdw-swipe-back.mdw-left,
mdw-navigation-drawer.mdw-swipe-back.mdw-left {
  transform-origin: center left;
}

mdw-side-sheet.mdw-swipe-back-from-left,
mdw-navigation-drawer.mdw-swipe-back-from-left {
  right: var(--mdw-side-sheet-swipe-back-move);
}
mdw-side-sheet.mdw-swipe-back-from-left.mdw-left,
mdw-navigation-drawer.mdw-swipe-back-from-left.mdw-left {
  left: var(--mdw-side-sheet-swipe-back-move);
}

mdw-side-sheet.mdw-swipe-back-from-right,
mdw-navigation-drawer.mdw-swipe-back-from-right {
  right: calc(var(--mdw-side-sheet-swipe-back-move) * -1);
}
mdw-side-sheet.mdw-swipe-back-from-right.mdw-left,
mdw-navigation-drawer.mdw-swipe-back-from-right.mdw-left {
  left: calc(var(--mdw-side-sheet-swipe-back-move));
}

mdw-side-sheet.mdw-swipe-back-from-right::after,
mdw-navigation-drawer.mdw-swipe-back-from-right::after {
  content: '';
  position: absolute;
  left: 100%;
  right: -16px;
  top: 0;
  bottom: 0;
  background-color: var(--mdw-surface);
}
mdw-side-sheet.mdw-swipe-back-from-right.mdw-left::after,
mdw-navigation-drawer.mdw-swipe-back-from-right.mdw-left::after {
  content: '';
  position: absolute;
  right: 100%;
  left: -16px;
  top: 0;
  bottom: 0;
  background-color: var(--mdw-surface);
}

mdw-side-sheet.mdw-swipe-back-animate-out,
mdw-navigation-drawer.mdw-swipe-back-animate-out {
  transition: transform var(--mdw-motion-duration-short1), right var(--mdw-motion-duration-short1);
  transition-timing-function: var(--mdw-motion-easing-accelerate);
}
mdw-side-sheet.mdw-swipe-back-animate-out.mdw-left,
mdw-navigation-drawer.mdw-swipe-back-animate-out.mdw-left {
  transition: transform var(--mdw-motion-duration-short1), left var(--mdw-motion-duration-short1);
  transition-timing-function: var(--mdw-motion-easing-accelerate);
}

mdw-side-sheet.mdw-modal,
mdw-navigation-drawer.mdw-modal {
  position: fixed;
  border-radius: var(--mdw-shape-large) 0 0 var(--mdw-shape-large);
  box-shadow: var(--mdw-elevation-2);
  background-color: var(--mdw-surface-container-low);
  z-index: 11;
}
mdw-side-sheet.mdw-modal.mdw-left,
mdw-navigation-drawer.mdw-modal.mdw-left {
  border-radius: 0 var(--mdw-shape-large) var(--mdw-shape-large) 0;
}

mdw-side-sheet.mdw-modal.mdw-inset,
mdw-navigation-drawer.mdw-modal.mdw-inset {
  border-radius: var(--mdw-shape-large);
  margin: 16px 16px 16px 0;
}

mdw-side-sheet.mdw-hide,
mdw-navigation-drawer.mdw-hide,
mdw-side-sheet.mdw-window-state-hide,
mdw-navigation-drawer.mdw-window-state-hide {
  pointer-events: none;
  transform: translateX(var(--mdw-side-sheet-width));
  transition: transform var(--mdw-motion-duration-short3);
  transition-timing-function: var(--mdw-motion-easing-accelerate);
}

mdw-side-sheet.mdw-modal.mdw-hide,
mdw-navigation-drawer.mdw-modal.mdw-hide,
mdw-side-sheet.mdw-modal.mdw-window-state-hide,
mdw-navigation-drawer.mdw-modal.mdw-window-state-hide {
  pointer-events: none;
  transform: translateX(calc(var(--mdw-side-sheet-width) + 24px));
}

mdw-side-sheet + .mdw-side-sheet-placeholder,
mdw-navigation-drawer + .mdw-side-sheet-placeholder {
  width: var(--mdw-side-sheet-width);
  flex-shrink: 0;
  transition: width var(--mdw-motion-duration-medium2);
  transition-timing-function: var(--mdw-motion-easing);
}

mdw-side-sheet.mdw-hide + .mdw-side-sheet-placeholder,
mdw-side-sheet.mdw-window-state-hide + .mdw-side-sheet-placeholder,
mdw-side-sheet.mdw-modal + .mdw-side-sheet-placeholder,
mdw-navigation-drawer.mdw-hide + .mdw-side-sheet-placeholder,
mdw-navigation-drawer.mdw-window-state-hide + .mdw-side-sheet-placeholder,
mdw-navigation-drawer.mdw-modal + .mdw-side-sheet-placeholder {
  width: 0;
  transition: width var(--mdw-motion-duration-short3);
  transition-timing-function: var(--mdw-motion-easing-accelerate);
}

mdw-side-sheet.mdw-left.mdw-hide,
mdw-navigation-drawer.mdw-left.mdw-hide,
mdw-side-sheet.mdw-left.mdw-window-state-hide,
mdw-navigation-drawer.mdw-left.mdw-window-state-hide {
  transform: translateX(calc(var(--mdw-side-sheet-width) * -1));
}

mdw-side-sheet.mdw-modal.mdw-left.mdw-hide,
mdw-navigation-drawer.mdw-modal.mdw-left.mdw-hide,
mdw-side-sheet.mdw-modal.mdw-left.mdw-window-state-hide,
mdw-navigation-drawer.mdw-modal.mdw-left.mdw-window-state-hide {
  transform: translateX(calc(var(--mdw-side-sheet-width) * -1 - 24px));
}



mdw-side-sheet .mdw-header,
mdw-navigation-drawer .mdw-header {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: end;
  padding-left: 16px;
}

mdw-side-sheet .mdw-header .mdw-title,
mdw-navigation-drawer .mdw-header .mdw-title {
  flex: 1;

  font-size: var(--mdw-font-medium-title-size);
  font-weight: var(--mdw-font-medium-title-weight);
  letter-spacing: var(--mdw-font-medium-title-tracking);
  color: var(--mdw-on-surface-variant);
}

mdw-side-sheet .mdw-content,
mdw-navigation-drawer .mdw-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 24px;
}

mdw-side-sheet .mdw-actions,
mdw-navigation-drawer .mdw-actions {
  position: relative;
  display: flex;
  height: 72px;
  align-items: center;
  padding-left: 16px;
}

mdw-side-sheet .mdw-actions mdw-button + mdw-button,
mdw-navigation-drawer .mdw-actions mdw-button + mdw-button {
  margin-left: 6px;
}

mdw-side-sheet .mdw-actions .mdw-divider,
mdw-navigation-drawer .mdw-actions .mdw-divider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid var(--mdw-surface-variant);
}

mdw-side-sheet.mdw-no-animation + .mdw-side-sheet-placeholder,
mdw-side-sheet.mdw-no-animation,
mdw-navigation-drawer.mdw-no-animation + .mdw-side-sheet-placeholder,
mdw-navigation-drawer.mdw-no-animation {
  transition: none !important;
}
