mdw-bottom-sheet {
  --mdw-bottom-sheet-bottom: 0;

  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 640px;
  min-height: 100%;
  height: 100%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /* padding-bottom: 12px; */
  overflow-y: visible;
  overscroll-behavior: contain;
  box-sizing: border-box;

  bottom: var(--mdw-bottom-sheet-bottom);

  z-index: 9;

  background-color: var(--mdw-surface-container-low);
  border-radius: var(--mdw-shape-extra-large-top);
  box-shadow: var(--mdw-elevation-1);
}

mdw-bottom-sheet.mdw-no-shape {
  border-radius: 0;
}

body:not(.mdw-window-compact) mdw-bottom-sheet {
  display: none;
  pointer-events: none;
}

mdw-bottom-sheet.mdw-fullscreen {
  border-radius: 0;
}

body.mdw-has-bottom-app-bar.mdw-window-compact mdw-bottom-sheet,
body.mdw-has-navigation-bar.mdw-window-compact mdw-bottom-sheet {
  padding-bottom: 80px;
}

mdw-bottom-sheet.mdw-animate-position {
  transition: bottom 300ms cubic-bezier(0, 0.55, 0.45, 1);
}


mdw-bottom-sheet > .mdw-drag-handle {
  flex-shrink: 0;
  align-self: center;
  width: 36px;
  height: 4px;
  border-radius: var(--mdw-shape-extra-small);
  margin: 12px 0;

  background-color: var(--mdw-on-surface-variant);
}


mdw-bottom-sheet > .mdw-content {
  margin: 0 12px;
}
