body.has-navigation-rail.window-medium wfc-navigation-bar:not(.always-show),
body.window-expanded wfc-navigation-bar:not(.always-show) {
  display: none;
}

body:not(.wfc-animation) wfc-navigation-bar {
  transition-duration: 0ms !important;
}
