mdw-navigation-group {
  --mdw-navigation-group-height: 56px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: hidden;
  height: var(--mdw-navigation-group-height);
  width: 100%;
  transition: height 0ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}

mdw-navigation.mdw-animation mdw-navigation-group {
  transition-duration: 320ms;
}

/* mdw-navigation.mdw-no-animation mdw-navigation-group mdw-anchor .mdw-group-arrow {
  transition-duration: 0ms;
} */

mdw-navigation:not(.mdw-state-rail) mdw-navigation-group > mdw-anchor {
  margin-left: 24px;
}

mdw-navigation:not(.mdw-state-rail) mdw-navigation-group > mdw-anchor[group] {
  margin-left: 12px;
}
