mdw-badge {
  position: absolute;
  min-width: 6px;
  min-height: 6px;
  border-radius: 6px;
  font-size: var(--mdw-font-small-label-size);
  font-size: var(--mdw-font-small-label-weight);
  letter-spacing: var(--mdw-font-small-label-tracking);
  color: var(--mdw-on-error);
  background-color: var(--mdw-error);
  opacity: 0;
}

mdw-badge.mdw-has-value {
  opacity: 1;
}

mdw-badge.mdw-has-value:not(.mdw-non-counting) {
  border-radius: 8px;
  line-height: 8px;
  padding: 4px;
  text-align: center;
}

.mdw-icon-button mdw-badge,
mdw-icon mdw-badge {
  left: calc(50% + 5px);
  top: 9px;
}
.mdw-icon-button mdw-badge.mdw-has-value:not(.mdw-non-counting),
mdw-icon mdw-badge.mdw-has-value:not(.mdw-non-counting) {
  left: calc(50% - 2px);
  top: 3px;
}

mdw-anchor mdw-badge {
  position: absolute;
  right: 20px;
}

mdw-button:not(.mdw-icon-button):not(.mdw-icon-toggle-button) mdw-badge {
  position: unset;
  display: inline-block;
}
