:host {  
  position: relative;
  display: inline-flex;
  border-radius: var(--wfc-shape-extra-large);
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  user-select: none;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  -webkit-tap-highlight-color: transparent;
  place-content: center;
  place-items: center;
  gap: 8px;
  height: 40px;
  line-height: 40px;
  font-size: var(--wfc-font-large-label-size);
  font-weight: var(--wfc-font-large-label-weight);
  letter-spacing: var(--wfc-font-large-label-tracking);
  color: var(--wfc-primary);
  vertical-align: top;
  pointer-events: none;
}

:host([disabled]) {
  cursor: default;
  color: var(--wfc-on-surface);
  opacity: 0.38;
}

button {
  border-radius: inherit;
  cursor: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  -webkit-appearance: none;
  vertical-align: middle;
  background: transparent;
  text-decoration: none;
  width: 100%;
  height: 100%;
  font: inherit;
  color: inherit;
  padding: 0;
  gap: inherit;
  padding: 0 16px;
  pointer-events: all;
}

:host([disabled]) button{
  pointer-events: none;
}


:host(.filled) {
  color: var(--wfc-on-primary);
  background-color: var(--wfc-primary);
}

:host([disabled].filled) {
  background-color: var(--wfc-on-surface-alpha-12);
  color: var(--wfc-on-surface-alpha-38);
  box-shadow: none;
}

:host(.elevated) {
  color: var(--wfc-primary);
  background-color: var(--wfc-surface-container-low);
  box-shadow: var(--wfc-elevation-1);
}

:host([disabled].elevated) {
  background-color: var(--wfc-on-surface-alpha-12);
  color: var(--wfc-on-surface-alpha-38);
  box-shadow: none;
}

:host(.filled-tonal) {
  color: var(--wfc-on-secondary-container);
  background-color: var(--wfc-secondary-container);
}

:host([disabled].filled-tonal) {
  background-color: var(--wfc-on-surface-alpha-12);
  color: var(--wfc-on-surface-alpha-38);
  box-shadow: none;
}

:host(.outlined) {
  color: var(--wfc-primary);
  background-color: var(--wfc-button-outlined-container-color);
  border: 1px solid var(--wfc-outline);
}

:host([disabled].outlined) {
  color: var(--wfc-on-surface-alpha-38);
  border: 1px solid var(--wfc-on-surface-alpha-12);
}


::slotted(wfc-icon),
slot[name="leading-icon"]::slotted(wfc-icon) {
  pointer-events: none;
  margin-right: -2px;
  margin-left: -2px;
  width: var(--wfc-font-small-icon-size);
  height: var(--wfc-font-small-icon-size);
  font-size: var(--wfc-font-small-icon-size);
  line-height: var(--wfc-font-small-icon-size);
}




/* --- states --- */

.state-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  opacity: 0;
  pointer-events: none;
  transition-duration: var(--wfc-motion-duration-medium1);
  transition-timing-function: var(--wfc-motion-easing-standard);
  transition-property: opacity;
}

:host(:focus) .state-layer {
  opacity: var(--wfc-state-layer-opacity-focus);
  background-color: var(--wfc-on-surface);
}

:host(:focus.filled) .state-layer {
  opacity: var(--wfc-state-layer-opacity-focus);
  background-color: var(--wfc-on-primary);
}

:host(:focus.filled) {
  box-shadow: var(--wfc-elevation-1);
}

:host(:focus.filled-tonal) .state-layer {
  opacity: var(--wfc-state-layer-opacity-focus);
  background-color: var(--wfc-on-secondary-container);
}

:host(:focus.elevated) .state-layer {
  opacity: var(--wfc-state-layer-opacity-focus);
  background-color: var(--wfc-button-elevate-state-layer-color);
}

:host(:focus.outlined) .state-layer {
  opacity: var(--wfc-state-layer-opacity-focus);
  background-color: var(--wfc-primary);
}

:host(:focus.elevated),
:host(:focus.filled),
:host(:focus.filled-tonal) {
  transition-duration: var(--wfc-motion-duration-medium1);
  transition-timing-function: var(--wfc-motion-easing-standard);
  transition-property: box-shadow;
}

@media (hover: hover) {
  :host(:hover.elevated),
  :host(:hover.filled),
  :host(:hover.filled-tonal) {
    transition-duration: var(--wfc-motion-duration-medium1);
    transition-timing-function: var(--wfc-motion-easing-standard);
    transition-property: box-shadow;
  }

  :host(:hover) .state-layer {
    opacity: var(--wfc-state-layer-opacity-hover);
    background-color: var(--wfc-primary);
  }

  :host(:hover.filled) .state-layer {
    opacity: var(--wfc-state-layer-opacity-hover);
    background-color: var(--wfc-on-primary);
  }

  :host(:hover.filled-tonal) .state-layer {
    opacity: var(--wfc-state-layer-opacity-hover);
    background-color: var(--wfc-on-secondary-container);
  }

  :host(:hover.filled),
  :host(:hover.filled-tonal) {
    box-shadow: var(--wfc-elevation-1);
  }

  :host(:hover.elevated) .state-layer {
    opacity: var(--wfc-state-layer-opacity-hover);
    background-color: var(--wfc-primary);
  }

  :host(:hover.elevated) {
    box-shadow: var(--wfc-elevation-2);
  }

  :host(:hover.outlined) .state-layer {
    opacity: var(--wfc-state-layer-opacity-hover);
    background-color: var(--wfc-primary);
  }
}

.spinner {
  position: absolute;
  top: 5px;
  --wfc-progress-circular-stroke-width: 6;
}

:host(.async-pending) {
  pointer-events: none;
}

:host(.async-pending) button .default-slot {
  color: transparent;
}



/* --- Ripple --- */

.ripple {
  overflow: hidden;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;

  .ripple-element {
    background-color: var(--wfc-primary);
    opacity: var(--wfc-state-layer-opacity-pressed);
    border-radius: var(--wfc-shape-full);
  }
}

:host(.filled) .ripple-element {
  background-color: var(--wfc-on-primary);
}

:host(.elevated) .ripple-element {
  background-color: var(--wfc-primary);
}

:host(.filled-tonal) .ripple-element {
  background-color: var(--wfc-on-secondary-container);
}
