:host {
  border-radius: var(--wfc-shape-extra-small);
}

.surface-content {
  background-color: var(--wfc-surface-container);
  box-shadow: var(--wfc-elevation-2);
}

.item-padding {
  padding-block: 8px;
}

::slotted(wfc-button) {
  display: flex;
}
