:host {
  border-radius: var(--mdw-shape-extra-small);
}

.surface-content {
  background-color: var(--mdw-surface-container);
  box-shadow: var(--mdw-elevation-2);
}

.item-padding {
  padding-block: 8px;
}

::slotted(mdw-button) {
  display: flex;
}
