:host {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  min-width: 56px;
  max-width: 100%;
  height: 56px;
  border-radius: var(--mdw-shape-large);
}

:host(.fixed) {
  position: fixed !important;
  z-index: 11;
}

:host(.large) {
  min-width: 96px;
  height: 96px;
  max-width: 96px;
  justify-content: center;
  border-radius: var(--mdw-shape-extra-large);
}

:host(.small) {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: var(--mdw-shape-medium);
}

:host(.position-bottom-right) {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

:host(.position-bottom-left){
  position: absolute;
  bottom: 16px;
  left: 16px;
}

:host(.position-top-right) {
  position: absolute;
  top: 16px;
  right: 16px;
}

:host(.position-top-left) {
  position: absolute;
  top: 16px;
  left: 16px;
}


button {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  height: inherit;
  min-width: inherit;
  max-width: inherit;
  border-width: 0px;
  outline: none;
  z-index: 0;
  border-radius: inherit;
  cursor: inherit;

  color: var(--mdw-on-primary-container);
  background-color: var(--mdw-primary-container);
  box-shadow: var(--mdw-elevation-3);
}

:host(.small) button {
  padding: 8px;
}

:host(.surface) button {
  color: var(--mdw-primary);
  background-color: var(--mdw-surface-container);
}

:host(.secondary) button {
  color: var(--mdw-on-secondary-container);
  background-color: var(--mdw-secondary-container);
}

:host(.tertiary) button {
  color: var(--mdw-on-tertiary-container);
  background-color: var(--mdw-tertiary-container);
}


slot[name="label"] {
  display: inline-flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--mdw-font-large-label-size);
  font-weight: var(--mdw-font-large-label-weight);
  letter-spacing: var(--mdw-font-large-label-tracking);
}

slot[name="label"]::slotted(*) {
  margin-left: 8px;
}

:host {
  transition: max-width;
  transition-duration: var(--mdw-motion-duration-medium2);
  transition-timing-function: var(--mdw-motion-easing-standard);
}

:host(.hide-label) {
  max-width: 0px;
  transition-duration: var(--mdw-motion-duration-medium4);
}

:host(.large) slot.icon::slotted(mdw-icon) {
  width: var(--mdw-font-large-icon-size);
  height: var(--mdw-font-large-icon-size);
  font-size: var(--mdw-font-large-icon-size);
  line-height: var(--mdw-font-large-icon-size);
}

:host(.auto-hide) {
  transition: transform;
  transition-duration: var(--mdw-motion-duration-medium2);
  transition-timing-function: var(--mdw-motion-easing-standard);
  overflow: hidden;
  transform: scale(1);
  transform-origin: bottom right;
}

:host(.auto-hide.hide) {
  transition-duration: var(--mdw-motion-duration-medium2);
  transform: scale(0);
}


/* --- states --- */

.state-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  opacity: 0;
  pointer-events: none;
  transition-duration: var(--mdw-motion-duration-medium1);
  transition-timing-function: var(--mdw-motion-easing-standard);
  transition-property: opacity;
}


:host(:not(.mdw-animation)),
:host(:not(.mdw-animation)) .state-layer {
  transition-duration: 0s !important;
}


:host-context(body.navigation-bar-auto-hide):host(.fixed.position-bottom-right),
:host-context(body.navigation-bar-auto-hide):host(.fixed.position-bottom-left) {
  transition: bottom;
  transition-duration: var(--mdw-motion-duration-short3);
  transition-timing-function: var(--mdw-motion-easing-standard);
}

:host-context(body.navigation-bar-auto-hide):host(.fixed.position-bottom-right.auto-hide-label),
:host-context(body.navigation-bar-auto-hide):host(.fixed.position-bottom-left.auto-hide-label) {
  transition: max-width, color, bottom;
  transition-delay: 0ms, 60ms, 0ms;
  transition-duration: var(--mdw-motion-duration-short3);
  transition-timing-function: var(--mdw-motion-easing-standard);
}

:host-context(body.navigation-bar-auto-hide):host(.fixed.position-bottom-right.auto-hide),
:host-context(body.navigation-bar-auto-hide):host(.fixed.position-bottom-left.auto-hide) {
  transition: transform, bottom;
  transition-duration: var(--mdw-motion-duration-medium2), var(--mdw-motion-duration-short3);
  transition-timing-function: var(--mdw-motion-easing-standard);
}

:host-context(body.has-navigation-bar:not(.navigation-bar-hide)):host(.fixed.position-bottom-right),
:host-context(body.has-navigation-bar:not(.navigation-bar-hide)):host(.fixed.position-bottom-left) {
  bottom: 96px;
}

:host-context(body.navigation-bar-auto-hide.navigation-bar-hide:not(.bottom-app-bar-always-show)):host(.fixed.position-bottom-right),
:host-context(body.navigation-bar-auto-hide.navigation-bar-hide:not(.bottom-app-bar-always-show)):host(.fixed.position-bottom-left),
:host-context(body.navigation-bar-auto-hide.has-navigation-rail.window-medium:not(.bottom-app-bar-always-show)):host(.fixed.position-bottom-right),
:host-context(body.navigation-bar-auto-hide.has-navigation-rail.window-medium:not(.bottom-app-bar-always-show)):host(.fixed.position-bottom-left),
:host-context(body.navigation-bar-auto-hide.window-expanded:not(.bottom-app-bar-always-show)):host(.fixed.position-bottom-right),
:host-context(body.navigation-bar-auto-hide.window-expanded:not(.bottom-app-bar-always-show)):host(.fixed.position-bottom-left) {
  bottom: 16px;
}


@media (hover: hover) {
  button {
    transition-duration: var(--mdw-motion-duration-medium1);
    transition-timing-function: var(--mdw-motion-easing-standard);
    transition-property: box-shadow;
  }

  :host(:hover) button {
    box-shadow: var(--mdw-elevation-4);
  }

  :host(:hover) .state-layer {
    opacity: var(--mdw-state-layer-opacity-hover);
    background-color: var(--mdw-on-primary-container);
  }

  :host(.surface:hover) .state-layer {
    background-color: var(--mdw-on-surface);
  }

  :host(.secondary:hover) .state-layer {
    background-color: var(--mdw-on-secondary-container);
  }

  :host(.tertiary:hover) .state-layer {
    background-color: var(--mdw-on-tertiary-container);
  }
}


/* --- ripple --- */

.ripple {
  overflow: hidden;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.ripple > .mdw-ripple-element {
  background-color: var(--mdw-primary-alpha-16);
}
