:host {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  min-width: 56px;
  max-width: 100%;
  height: 56px;
  border-radius: var(--wfc-shape-large);
}

:host(.fixed) {
  position: fixed !important;
  z-index: 11;
}

:host(.large) {
  min-width: 96px;
  height: 96px;
  max-width: 96px;
  justify-content: center;
  border-radius: var(--wfc-shape-extra-large);
}

:host(.small) {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: var(--wfc-shape-medium);
}

:host(.position-bottom-right) {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

:host(.position-bottom-left){
  position: absolute;
  bottom: 16px;
  left: 16px;
}

:host(.position-top-right) {
  position: absolute;
  top: 16px;
  right: 16px;
}

:host(.position-top-left) {
  position: absolute;
  top: 16px;
  left: 16px;
}


button {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  height: inherit;
  min-width: inherit;
  max-width: inherit;
  border-width: 0px;
  outline: none;
  z-index: 0;
  border-radius: inherit;
  cursor: inherit;

  color: var(--wfc-on-primary-container);
  background-color: var(--wfc-primary-container);
}

:host(.small) button {
  padding: 8px;
}

:host(.surface) button {
  color: var(--wfc-primary);
  background-color: var(--wfc-surface-container-hight);
}

:host(.surface[lowered]) button {
  color: var(--wfc-primary);
  background-color: var(--wfc-surface-container-low);
}

:host(.secondary) button {
  color: var(--wfc-on-secondary-container);
  background-color: var(--wfc-secondary-container);
}

:host(.tertiary) button {
  color: var(--wfc-on-tertiary-container);
  background-color: var(--wfc-tertiary-container);
}


slot[name="label"] {
  display: inline-flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--wfc-font-large-label-size);
  font-weight: var(--wfc-font-large-label-weight);
  letter-spacing: var(--wfc-font-large-label-tracking);
}

slot[name="label"]::slotted(*) {
  margin-left: 8px;
}

:host {
  transition: max-width;
  transition-duration: var(--wfc-motion-duration-medium2);
  transition-timing-function: var(--wfc-motion-easing-standard);
}

:host(.hide-label) {
  max-width: 0px;
  transition-duration: var(--wfc-motion-duration-medium4);
}

:host(.large) slot.icon::slotted(wfc-icon) {
  width: var(--wfc-font-large-icon-size);
  height: var(--wfc-font-large-icon-size);
  font-size: var(--wfc-font-large-icon-size);
  line-height: var(--wfc-font-large-icon-size);
}

:host(.auto-hide) {
  transition: transform;
  transition-duration: var(--wfc-motion-duration-medium2);
  transition-timing-function: var(--wfc-motion-easing-standard);
  overflow: hidden;
  transform: scale(1);
  transform-origin: bottom right;
}

:host(.auto-hide.hide) {
  transition-duration: var(--wfc-motion-duration-medium2);
  transform: scale(0);
}


/* --- states --- */

wfc-state-layer {
  --wfc-state-layer-box-shadow: var(--wfc-elevation-3);
  --wfc-state-layer-hover-box-shadow: var(--wfc-elevation-4);
  --wfc-state-layer-focus-box-shadow: var(--wfc-elevation-3);
  --wfc-state-layer-hover-color: var(--wfc-on-primary-container);
  --wfc-state-layer-focus-color: var(--wfc-on-primary-container);
  --wfc-state-layer-ripple-color: var(--wfc-on-primary-container);
}
:host([lowered]) wfc-state-layer {
  --wfc-state-layer-box-shadow: var(--wfc-elevation-1);
  --wfc-state-layer-hover-box-shadow: var(--wfc-elevation-2);
  --wfc-state-layer-focus-box-shadow: var(--wfc-elevation-1);
}

:host(.secondary) wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-on-secondary-container);
  --wfc-state-layer-focus-color: var(--wfc-on-secondary-container);
  --wfc-state-layer-ripple-color: var(--wfc-on-secondary-container);
}

:host(.surface) wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-primary);
  --wfc-state-layer-focus-color: var(--wfc-primary);
  --wfc-state-layer-ripple-color: var(--wfc-primary);
}

:host(.tertiary) wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-on-tertiary-container);
  --wfc-state-layer-focus-color: var(--wfc-on-tertiary-container);
  --wfc-state-layer-ripple-color: var(--wfc-on-tertiary-container);
}

:host(:not(.wfc-animation)) {
  transition-duration: 0s !important;
}
