:host {
  display: flex;
  box-sizing: border-box;
  gap: 16px;
  min-height: 56px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;

  font-size: var(--wfc-font-large-body-size);
  font-weight: var(--wfc-font-large-body-weight);
  line-height: var(--wfc-font-large-body-line-height);
  letter-spacing: var(--wfc-font-large-body-tracking);
  background-color: var(--wfc-surface);

  color: var(--wfc-on-surface);
  background-color: var(--wfc-surface);
  outline: none;
}

:host(.drag-reorder-active) {
  overflow: visible;
}

:host([multiline]) {
  min-height: 72px;
}

:host(.selected) {
  background-color: var(--wfc-primary-container);
}

:host(.remove) {
  height: 0px;
  min-height: 0px;
  transition: height;
  transition-duration: var(--wfc-motion-duration-short3);
  transition-delay: 50ms;
}

.container {
  z-index: 1;
  border-radius: inherit;
  display: flex;
  flex: 1;
  max-width: inherit;
  min-width: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  gap: inherit;
  align-items: center;
  padding: 12px 16px;
  background-color: inherit;

  transition: transform;
  transition-duration: var(--wfc-motion-duration-medium1);
  transition-timing-function: var(--wfc-motion-easing-standard-accelerate);
}

:host(.drag-active) .container {
  transition: none;
}

[name='overline'] {
  color: var(--wfc-on-surface-variant);
  font-size: var(--wfc-font-small-label-size);
  font-weight: var(--wfc-font-small-label-weight);
  line-height: var(--wfc-font-small-label-line-height);
  letter-spacing: var(--wfc-font-small-label-tracking);
}

[name='supporting-text'] {
  color: var(--wfc-on-surface-variant);
  font-size: var(--wfc-font-medium-body-size);
  font-weight: var(--wfc-font-medium-body-weight);
  line-height: var(--wfc-font-medium-body-line-height);
  letter-spacing: var(--wfc-font-medium-body-tracking);
}

[name='trailing-supporting-text'] {
  color: var(--wfc-on-surface-variant);
  font-size: var(--wfc-font-small-label-size);
  font-weight: var(--wfc-font-small-label-weight);
  line-height: var(--wfc-font-small-label-line-height);
  letter-spacing: var(--wfc-font-small-label-tracking);
}

.default-slot {
  display: inline;
}

.default-slot,
.text ::slotted(*) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.default-slot::slotted(wfc-divider) {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}


.text {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

:is([slot='start'], [slot='end'])::slotted(*) {
  fill: currentColor;
}

[slot='start'] {
  color: var(--wfc-on-surface-variant);
}

[slot='end'] {
  color: var(--wfc-on-surface-variant);
}

::slotted(wfc-switch) {
  flex-grow: 0;
}

slot[name='end']::slotted([hover-only]) {
  opacity: 0;
  transition: opacity;
  transition-duration: var(--wfc-motion-duration-short1);
}


[name="swipe-start"] {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-inline-start: 24px;
  background-color: var(--wfc-primary);
  color: var(--wfc-on-primary);
}

[name="swipe-end"] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-inline-end: 24px;
  background-color: var(--wfc-secondary);
  color: var(--wfc-on-primary);
}

[name="swipe-start"].hide,
[name="swipe-end"].hide {
  display: none;
}

[name="swipe-start"].activate::slotted(*),
[name="swipe-end"].activate::slotted(*) {
  animation: action-bounce-in;
  animation-duration: 400ms;
}


/* --- State layer / Ripple --- */

wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-on-surface);
  --wfc-state-layer-focus-color: var(--wfc-on-surface);
  --wfc-state-layer-ripple-color: var(--wfc-on-surface);
}

:host(.drag-reorder-active) wfc-state-layer {
  --wfc-state-layer-box-shadow: var(--wfc-elevation-4);
}

@media (hover: hover) {
  :host(:hover) slot[name='end']::slotted([hover-only]) {
    opacity: 1;
    transition-duration: var(--wfc-motion-duration-short3);
  }
}



@keyframes action-bounce-in {
  0% {
    transform: scale(.7);
  }

  50% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}
