:host {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-inline: 16px;
  height: 56px;
  line-height: 54px;
  font-size: var(--wfc-font-small-body-size);
  font-weight: var(--wfc-font-small-body-weight);
  letter-spacing: var(--wfc-font-small-body-tracking);
  color: var(--wfc-on-surface-variant-alpha-76);

  background-color: var(--wfc-surface);
  transition: background-color 0ms linear;
  
  transition-duration: var(--wfc-motion-duration-short1);
}

:host(.stuck) {
  background-color: var(--wfc-surface-container);
  color: var(--wfc-on-surface-variant);
}

:host([shadow].stuck) {
  box-shadow: var(--wfc-elevation-2);
  clip-path: inset(0px -30px -30px -30px);
}

:host([inset]) {
  padding-inline-start: 70px;
}
