:host {
  border-radius: 0;
  color: var(--mdw-on-surface);
  border-left: 1px solid var(--mdw-outline);
  border-top: 1px solid var(--mdw-outline);
  border-bottom: 1px solid var(--mdw-outline);
}

:host(:last-of-type) {
  border-right: 1px solid var(--mdw-outline);
  border-radius: 0 var(--mdw-shape-extra-large) var(--mdw-shape-extra-large) 0;
}

:host(:first-of-type) {
  border-radius: var(--mdw-shape-extra-large) 0 0 var(--mdw-shape-extra-large);
}

:host(.checked) {
  color: var(--mdw-on-secondary-container);
  background-color: var(--mdw-secondary-container);
}

.check {
  opacity: 0;
  width: 0;
  pointer-events: none;
  position: relative;
  margin-top: -4px;
  margin-left: -8px;
  margin-right: -2px;
  animation: uncheck;
  animation-duration: var(--mdw-motion-duration-medium1);
}

:host(.checked:not(.no-checkmark)) .check {
  opacity: 1;
  width: 18px;
  animation: check;
  animation-duration: var(--mdw-motion-duration-medium1);
}

.check svg {
  display: block;
  width: 18px;
  height: 18px;
  stroke: var(--mdw-primary);
  stroke-width: 4;
}

.check svg path {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  transition: stroke-dashoffset;
  transition-duration: var(--mdw-motion-duration-medium1);
}

:host(.checked:not(.no-checkmark)) .check svg path {
  stroke-dashoffset: 0;
}

:host(:not(.animation)) .check,
:host(:not(.animation)) .check svg path {
  animation-duration: 0s !important;
  transition-duration: 0s !important;
}

@keyframes check {
  0% {
    width: 0px;
    opacity: 0;
  }

  50% {
    width: 18px;
    opacity: 1;
  }

  100% {
    width: 18px;
    opacity: 1;
  }
}

@keyframes uncheck {
  0% {
    width: 18px;
    opacity: 1;
  }

  70% {
    width: 18px;
    opacity: 1;
  }
  100% { 
    width: 0px;
    opacity: 0;
  }
}
