:host {
  display: inline-flex;
  outline: none;
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 9px 0;
  flex-grow: 1;
}

:host(.min-width) {
  flex-grow: 0;
}

:host([disabled]) {
  cursor: default;
}

.container {
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  position: relative;
  min-width: 52px;
  height: 32px;
  border-radius: var(--wfc-shape-large);
}

input {
  appearance: none;
  height: 48px;
  outline: none;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  cursor: inherit;
}

.track {
  position: absolute;
  width: 52px;
  height: 100%;
  box-sizing: border-box;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track::before {
  content: '';
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  box-sizing: border-box;
  transition-property: opacity, background-color;
  transition-duration: var(--wfc-motion-duration-short1);

  background-color: var(--wfc-surface-container-highest);
  border: 2px solid;
  border-color: var(--wfc-outline);
}

:host(.checked) .track::before {
  background-color: var(--wfc-primary);
}

:host(.invalid) .track::before {
  border-color: var(--wfc-error);
}

.track .thumb-container {
  display: flex;
  place-content: center;
  place-items: center;
  position: relative;
  margin-inline-end: 20px;
  
  transition: margin;
  transition-duration: var(--wfc-motion-duration-medium2);
  transition-timing-function: var(--wfc-transition-overshoot);
}

:host(.checked) .track .thumb-container {
  margin-inline-end: unset;
  margin-inline-start: 20px;
}

.track .thumb {
  position: relative;
  border-radius: var(--wfc-shape-full);
  height: 16px;
  width: 16px;

  transform-origin: center;
  transition-property: height, width;
  transition-duration: var(--wfc-motion-duration-medium1), var(--wfc-motion-duration-medium1);
  transition-timing-function: var(--wfc-motion-easing-standard), var(--wfc-motion-easing-standard);
  z-index: 0;
}

:host(.unchecked-icon) .track .thumb,
:host(.checked) .track .thumb {
  width: 24px;
  height: 24px;
}

.track .thumb::before {
  content: '';
  display: flex;
  inset: 0;
  position: absolute;
  border-radius: inherit;
  box-sizing: border-box;
  transition: background-color;
  transition-duration: var(--wfc-motion-duration-short1);

  background-color: var(--wfc-outline);
}

:host(.checked) .track .thumb::before {
  background-color: var(--wfc-on-primary);
}

:host(.invalid) .track .thumb::before {
  background-color: var(--wfc-error);
}


.label {
  display: inline-flex;
  flex-grow: inherit;
  user-select: none;
  -webkit-user-select: none;
  cursor: inherit;
  white-space: nowrap;
  height: 32px;
  line-height: 32px;
  margin-right: 16px;

  font-size: var(--wfc-font-large-label-size);
  font-weight: var(--wfc-font-large-label-weight);
  letter-spacing: var(--wfc-font-large-label-tracking);
}

:host(.label-right) .label {
  justify-content: flex-end;
  order: 1;
  margin-right: 0;
  margin-left: 16px;
}

:host(.invalid) .label {
  color: var(--wfc-error);
}

:host([disabled]) .label {
  color: var(--wfc-on-surface);
  opacity: 0.38;
}


.icon {
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;

  transition:
    fill 67ms linear, opacity 33ms linear,
    transform 167ms var(--wfc-motion-easing-standard);
  opacity: 0;
}

:host(.checked.checked-icon) .icon.icon-on {
  opacity: 1;
}

:host(:not(.checked).unchecked-icon) .icon.icon-off {
  opacity: 1;
}

.icon.icon-on {
  width: 16px;
  height: 16px;
  color: var(--wfc-primary);
}

.icon.icon-off {
  width: 16px;
  height: 16px;
  color: var(--wfc-surface-container-highest);
}



wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-on-surface);
  --wfc-state-layer-focus-color: var(--wfc-on-surface);
}
