:host {
  position: relative;
  display: inline-flex;
  padding: 1px 0;
  outline: none;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:host > .track {
  position: relative;
  width: 52px;
  height: 32px;
  cursor: pointer;
  border-radius: var(--mdw-shape-large);
  box-sizing: border-box;
  border: 2px solid;

  background-color: var(--mdw-surface-container-highest);
  border-color: var(--mdw-outline);
}

:host(.mdw-checked) > .track {
  background-color: var(--mdw-primary);
  border-color: var(--mdw-primary);
  user-select: none;
}

:host > .track > .thumb {
  position: relative;
  left: 0;
  width: 16px;
  height: 16px;
  margin: 6px;
  border-radius: var(--mdw-shape-full);
  box-sizing: border-box;

  background-color: var(--mdw-outline);

  transition:
    left 300ms,
    width 200ms,
    height 200ms,
    margin 200ms,
    background-color 200ms,
    border-color 200ms;
}

:host(:active.mdw-checked) > .track > .thumb {
  width: 28px;
  height: 28px;
  margin: 0;
}

:host(.mdw-checked) > .track > .thumb {
  left: 20px;
  width: 24px;
  height: 24px;
  margin: 2px;
  background-color: var(--mdw-on-primary);
}

:host(:active) > .track > .thumb {
  width: 24px;
  height: 24px;
  margin: 2px;
}


:host > .track > .thumb > svg {
  opacity: 0;
  transition: opacity var(--mdw-motion-duration-short4);
}

:host(.mdw-icon.mdw-checked) > .track > .thumb > svg {
  opacity: 1;
}

:host > .track > .thumb > svg > path {
  stroke-width: 1.1333333333px;
  stroke: var(--mdw-on-primary-container);
}

:host > slot {
  display: block;
  flex: 1;

  font-size: var(--mdw-font-large-label-size);
  font-weight: var(--mdw-font-large-label-weight);
  line-height: var(--mdw-font-large-label-line-height);
  letter-spacing: var(--mdw-font-large-label-tracking);
}

:host(.mdw-label-right) > slot {
  order: 2;
  flex: 1;
  text-align: right;
}


/* --- disabled --- */

:host([disabled]) {
  pointer-events: none;
  cursor: unset;
}

:host([disabled]) > .track {
  background-color: var(--mdw-surface-variant-alpha-12);
  border-color: var(--mdw-on-surface-alpha-12);
}

:host([disabled].mdw-checked) > .track {
  background-color: var(--mdw-on-surface-alpha-12);
  border-color: var(--mdw-on-surface-alpha-0);
}

:host([disabled]) > .track > .thumb {
  background-color: var(--mdw-on-surface-alpha-38);
}

:host([disabled].mdw-checked) > .track > .thumb {
  background-color: var(--mdw-surface);
}

:host(.mdw-icon.mdw-checked[disabled]) > .track > .thumb > svg {
  opacity: .38;
}



:host > .track > .thumb::before {
  position: absolute;
  content: "";
  left: -12px;
  top: -12px;
  bottom: -12px;
  right: -12px;
  border-radius: inherit;
  background-color: var(--mdw-primary);
  opacity: 0;
  transition: opacity var(--mdw-motion-duration-short2);
  pointer-events: none;
}

:host > .track::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  background-color: var(--mdw-on-surface);
  opacity: 0;
  transition: opacity var(--mdw-motion-duration-short2);
  pointer-events: none;
}

:host(:not(.mdw-checked):focus) > .track > .thumb::before {
  opacity: var(--mdw-state-layer-opacity-focus);
  transition: opacity var(--mdw-motion-duration-short4);
}

:host(:not(.mdw-checked):focus) > .track > .thumb {
  background-color: var(--mdw-on-surface-variant);
}

:host(.mdw-checked:focus) > .track > .thumb {
  background-color: var(--mdw-primary-container);
}

:host(.mdw-checked:focus) > .track {
  background-color: var(--mdw-primary);
}

:host(:not(.mdw-checked):focus) > .track::after {
  opacity: var(--mdw-state-layer-opacity-focus);
}

/* hover state layers. Media needed to prevent hover on mobile */
@media (hover: hover) {
  :host(:not(.mdw-checked):hover) > .track > .thumb::before {
    opacity: var(--mdw-state-layer-opacity-focus);
    transition: opacity var(--mdw-motion-duration-short4);
  }

  :host(:not(.mdw-checked):hover) > .track > .thumb {
    background-color: var(--mdw-on-surface-variant);
  }

  :host(.mdw-checked:hover) > .track > .thumb {
    background-color: var(--mdw-primary-container);
  }

  :host(.mdw-checked:hover) > .track {
    background-color: var(--mdw-primary);
  }

  :host(:not(.mdw-checked):hover) > .track::after {
    opacity: var(--mdw-state-layer-opacity-hover);
    background-color: var(--mdw-on-surface);
  }
}
