:root {
  color-scheme: only light;
}

:root.wfc-theme-dark {
  color-scheme: only dark;
}


html {
  font-family: 'Roboto Flex', Roboto, sans-serif;
  font-size: 16px;
  height: 100%;
  background-color: var(--wfc-background);
  overflow-anchor: none;
}

input {
  font-family: 'Roboto Flex', Roboto, sans-serif;
}

body {
  display: flex;
  min-height: 100%;
  width: 100%;
  margin: 0;

  background-color: var(--wfc-background);
  color: var(--wfc-on-background);
}

body.has-navigation-bar:not(.navigation-bar-auto-hide),
body.has-bottom-app-bar:not(.bottom-app-bar-auto-hide) {
  padding-bottom: 80px;
}

body.has-top-app-bar {
  padding-top: 64px;
}

body.has-top-app-bar.top-app-bar-medium {
  padding-top: 112px;
}

body.has-top-app-bar.top-app-bar-large {
  padding-top: 152px;
}

body page-content,
body #page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  padding: 12px;
  max-width: 100dvw;
}

.drag-active {
  user-select: none;
  -webkit-user-select: none;
}

.prevent-user-selection {
  -webkit-user-select: none;
  user-select: none;
}
