:root {
  color-scheme: only light;
}

:root.mdw-theme-dark {
  color-scheme: only dark;
}


html {
  font-family: 'Roboto Flex', Roboto, sans-serif;
  font-size: 16px;
  height: 100%;
  background-color: var(--mdw-background);
  overflow-anchor: none;
}

input {
  font-family: 'Roboto Flex', Roboto, sans-serif;
}

body {
  display: flex;
  min-height: 100%;
  width: 100%;
  margin: 0;

  background-color: var(--mdw-background);
  color: var(--mdw-on-background);
}
/* prevents bottom bars from flickering on scroll. When location changes the scroll is reset to 0 and the bottom bars flicker */
body.window-compact {
  overflow-y: auto;
}

body.has-navigation-bar:not(.navigation-bar-auto-hide),
body.has-bottom-app-bar:not(.bottom-app-bar-auto-hide) {
  padding-bottom: 80px;
}

body.has-top-app-bar {
  padding-top: 64px;
}

body.has-top-app-bar.top-app-bar-medium {
  padding-top: 112px;
}

body.has-top-app-bar.top-app-bar-large {
  padding-top: 152px;
}

body page-content,
body #page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  padding: 12px;
  max-width: 100dvw;
}

/* html page-content,
html #page-content {
  width: 100%;
} */

.mdw-text-length {
  position: fixed;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.mdw-icon-svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.mdw-icon-svg > svg {
  fill: var(--mdw-on-surface);
}

mdw-snackbar .mdw-icon-svg > svg {
  fill: var(--mdw-primary-container);
}

/* TODO remove */
body {
  --mdw-motion-easing: var(--mdw-motion-easing-emphasized);
  --mdw-motion-easing-accelerate: var(--mdw-motion-easing-emphasized-accelerate);
  --mdw-motion-easing-decelerate: var(--mdw-motion-easing-emphasized-decelerate);
}

body.mdw-motion-emphasized {
  --mdw-motion-easing: var(--mdw-motion-easing-emphasized);
  --mdw-motion-easing-accelerate: var(--mdw-motion-easing-emphasized-accelerate);
  --mdw-motion-easing-decelerate: var(--mdw-motion-easing-emphasized-decelerate);
}

body.mdw-motion-standard {
  --mdw-motion-easing: var(--mdw-motion-easing-standard);
  --mdw-motion-easing-accelerate: var(--mdw-motion-easing-standard-accelerate);
  --mdw-motion-easing-decelerate: var(--mdw-motion-easing-standard-decelerate);
}


.mdw-drag-active {
  user-select: none;
  -webkit-user-select: none;
}
