:root {
  --mdw-elevation-1:
    0px 1px 2px 0px var(--mdw-shadow-alpha-26),
    0px 1px 3px 1px var(--mdw-shadow-alpha-16);
  --mdw-elevation-tint-1: var(--mdw-surface-tint-alpha-5);

  --mdw-elevation-2:
    0px 1px 2px 0px var(--mdw-shadow-alpha-26),
    0px 2px 6px 2px var(--mdw-shadow-alpha-16);
  --mdw-elevation-tint-2: var(--mdw-surface-tint-alpha-8);

  --mdw-elevation-3:
    0px 1px 3px 0px var(--mdw-shadow-alpha-26),
    0px 4px 8px 3px var(--mdw-shadow-alpha-16);
  --mdw-elevation-tint-3: var(--mdw-surface-tint-alpha-11);

  --mdw-elevation-4:
    0px 2px 3px 0px var(--mdw-shadow-alpha-26),
    0px 6px 10px 4px var(--mdw-shadow-alpha-16);
  --mdw-elevation-tint-4: var(--mdw-surface-tint-alpha-12);

  --mdw-elevation-5:
    0px 4px 4px 0px var(--mdw-shadow-alpha-26),
    0px 8px 12px 6px var(--mdw-shadow-alpha-16);
  --mdw-elevation-tint-5: var(--mdw-surface-tint-alpha-16);
}
