h1 {
  margin: 0;
}
h1,
.mdw-font-display-large {
  font-family: var(--mdw-font-large-display-font);
  font-size: var(--mdw-font-large-display-size);
  line-height: var(--mdw-font-large-display-line-height);
  font-weight: var(--mdw-font-large-display-weight);
  letter-spacing: var(--mdw-font-large-display-tracking);
}

h2 {
  margin: 0;
}
h2,
.mdw-font-display-medium {
  font-family: var(--mdw-font-medium-display-font);
  font-size: var(--mdw-font-medium-display-size);
  line-height: var(--mdw-font-medium-display-line-height);
  font-weight: var(--mdw-font-medium-display-weight);
  letter-spacing: var(--mdw-font-medium-display-tracking);
}

h3 {
  margin: 0;
}
h3,
.mdw-font-display-small {
  font-family: var(--mdw-font-small-display-font);
  font-size: var(--mdw-font-small-display-size);
  line-height: var(--mdw-font-small-display-line-height);
  font-weight: var(--mdw-font-small-display-weight);
  letter-spacing: var(--mdw-font-small-display-tracking);
}

.mdw-font-headline-large {
  font-family: var(--mdw-font-large-headline-font);
  font-size: var(--mdw-font-large-headline-size);
  line-height: var(--mdw-font-large-headline-line-height);
  font-weight: var(--mdw-font-large-headline-weight);
  letter-spacing: var(--mdw-font-large-headline-tracking);
}

.mdw-font-headline-medium {
  font-family: var(--mdw-font-medium-headline-font);
  font-size: var(--mdw-font-medium-headline-size);
  line-height: var(--mdw-font-medium-headline-line-height);
  font-weight: var(--mdw-font-medium-headline-weight);
  letter-spacing: var(--mdw-font-medium-headline-tracking);
}

.mdw-font-headline-small {
  font-family: var(--mdw-font-small-headline-font);
  font-size: var(--mdw-font-small-headline-size);
  line-height: var(--mdw-font-small-headline-line-height);
  font-weight: var(--mdw-font-small-headline-weight);
  letter-spacing: var(--mdw-font-small-headline-tracking);
}

.mdw-font-title-large {
  font-family: var(--mdw-font-large-title-font);
  font-size: var(--mdw-font-large-title-size);
  line-height: var(--mdw-font-large-title-line-height);
  font-weight: var(--mdw-font-large-title-weight);
  letter-spacing: var(--mdw-font-large-title-tracking);
}

.mdw-font-title-medium {
  font-family: var(--mdw-font-medium-title-font);
  font-size: var(--mdw-font-medium-title-size);
  line-height: var(--mdw-font-medium-title-line-height);
  font-weight: var(--mdw-font-medium-title-weight);
  letter-spacing: var(--mdw-font-medium-title-tracking);
}

.mdw-font-title-small {
  font-family: var(--mdw-font-small-title-font);
  font-size: var(--mdw-font-small-title-size);
  line-height: var(--mdw-font-small-title-line-height);
  font-weight: var(--mdw-font-small-title-weight);
  letter-spacing: var(--mdw-font-small-title-tracking);
}

.mdw-font-label-large {
  font-family: var(--mdw-font-large-label-font);
  font-size: var(--mdw-font-large-label-size);
  line-height: var(--mdw-font-large-label-line-height);
  font-weight: var(--mdw-font-large-label-weight);
  letter-spacing: var(--mdw-font-large-label-tracking);
}

.mdw-font-label-medium {
  font-family: var(--mdw-font-medium-label-font);
  font-size: var(--mdw-font-medium-label-size);
  line-height: var(--mdw-font-medium-label-line-height);
  font-weight: var(--mdw-font-medium-label-weight);
  letter-spacing: var(--mdw-font-medium-label-tracking);
}

.mdw-font-label-small {
  font-family: var(--mdw-font-small-label-font);
  font-size: var(--mdw-font-small-label-size);
  line-height: var(--mdw-font-small-label-line-height);
  font-weight: var(--mdw-font-small-label-weight);
  letter-spacing: var(--mdw-font-small-label-tracking);
}

.mdw-font-body-large {
  font-family: var(--mdw-font-large-body-font);
  font-size: var(--mdw-font-large-body-size);
  line-height: var(--mdw-font-large-body-line-height);
  font-weight: var(--mdw-font-large-body-weight);
  letter-spacing: var(--mdw-font-large-body-tracking);
}

p,
.mdw-font-body-medium {
  font-family: var(--mdw-font-medium-body-font);
  font-size: var(--mdw-font-medium-body-size);
  line-height: var(--mdw-font-medium-body-line-height);
  font-weight: var(--mdw-font-medium-body-weight);
  letter-spacing: var(--mdw-font-medium-body-tracking);
}

.mdw-font-body-small {
  font-family: var(--mdw-font-small-body-font);
  font-size: var(--mdw-font-small-body-size);
  line-height: var(--mdw-font-small-body-line-height);
  font-weight: var(--mdw-font-small-body-weight);
  letter-spacing: var(--mdw-font-small-body-tracking);
}
