:host {
  min-width: 210px;
  display: inline-flex;
  border-radius: var(--wfc-shape-extra-small);
}

.surface-content {
  background-color: var(--wfc-surface-container);
  box-shadow: var(--wfc-elevation-2);
}

:host([filter]) .surface.above .surface-content {
  box-shadow: var(--wfc-elevation-2-reverse);
}

.item-padding {
  padding-block: 8px;
}

wfc-textfield,
.select,
.surface {
  min-width: inherit;
  width: inherit;
  max-width: inherit;
}

.drop-arrow {
  margin-top: 18px;
  z-index: 1;
}

.drop-arrow .up,
.drop-arrow .down {
  fill: var(--wfc-outline);
  opacity: 0;
  /* 75 ms is half of min(animate open duration, animate closed duration)*/
  transition: opacity 75ms linear 75ms;
}

:host(.open) .drop-arrow .up,
:host(:not(.open)) .drop-arrow .down {
  opacity: 1;
}

wfc-textfield,
.select {
  width: 100%;
}

.select {
  position: relative;
  border-radius: inherit;
}


.surface {
  min-width: inherit;
  max-width: inherit;
}

slot[name="leading-icon"],
slot[name="trailing-icon"] {
  display: contents;
}


.options-container {
  display: flex;
  flex-direction: column;
}


.no-results {
  display: none;
  pointer-events: none;
  align-items: center;
  box-sizing: border-box;
  padding: 12px 16px;
  height: 48px;
  line-height: 48px;
  font-size: var(--wfc-font-large-label-size);
  font-weight: var(--wfc-font-large-label-weight);
  letter-spacing: var(--wfc-font-large-label-tracking);
  color: var(--wfc-on-surface-variant-alpha-76);
}

.surface.filter-no-results .no-results {
  display: flex;
}


wfc-progress-linear {
  display: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

:host(.filter-async-active) wfc-progress-linear {
  display: block;
}
