mdw-card {
  --mdw-card-swipe-action-position: 0;
  --mdw-card-drag-expand-position: 0;

  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--mdw-shape-medium);
  box-sizing: border-box;
  background-color: var(--mdw-surface-container-low);
  color: var(--mdw-on-surface);
  outline: none;
  -webkit-tap-highlight-color: transparent;

  left: var(--mdw-card-swipe-action-position);
  transition: left;
  transition-duration: 0ms;
}

mdw-card:not(.mdw-filled):not(.mdw-outlined) {
  box-shadow: var(--mdw-elevation-1);
}

mdw-card.mdw-animation {
  transition-duration: var(--mdw-motion-duration-short3);
}

mdw-card.mdw-remove {
  margin-top: var(--mdw-card-margin-top-remove);
  opacity: 0;
  transition: margin-top, opacity;
  transition-duration: 0ms, 0ms;
  transition-delay: 0ms, 40ms;
}
mdw-card.mdw-animation.mdw-remove {
  transition-duration: var(--mdw-motion-duration-short3), var(--mdw-motion-duration-short2);
}

/* fixes outline overlap */
mdw-card.mdw-outlined {
  --mdw-card-swipe-action-position: 0;
}

mdw-card.mdw-dragging {
  transition: none;
}

mdw-card.mdw-has-swipe-action {
  --mdw-card-swipe-action-position: 0px;
  left: var(--mdw-card-swipe-action-position);
  transition: left;
  transition-duration: var(--mdw-motion-duration-short3);
}


mdw-card > .mdw-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  border-radius: var(--mdw-shape-medium) var(--mdw-shape-medium) 0 0;
}

mdw-card > .mdw-card-image > img {
  /* Display issue when using 100% */
  width: 101%;
}

mdw-card > .mdw-card-image.mdw-rounded {
  border-radius: var(--mdw-shape-medium);
}

mdw-card .mdw-headline{
  font-size: var(--mdw-font-small-headline-size);
  font-weight: var(--mdw-font-small-headline-weight);
  line-height: var(--mdw-font-small-headline-line-height);
  letter-spacing: var(--mdw-font-small-headline-tracking);
  color: var(--mdw-on-surface);
}

mdw-card .mdw-subhead {
  font-size: var(--mdw-font-small-title-size);
  font-weight: var(--mdw-font-small-title-weight);
  line-height: var(--mdw-font-small-title-line-height);
  letter-spacing: var(--mdw-font-small-title-tracking);
  color: var(--mdw-on-surface-variant);
}

mdw-card > .mdw-supporting-text,
mdw-card .mdw-card-content > .mdw-supporting-text {
  margin-top: 12px;
  font-size: var(--mdw-font-medium-body-size);
  font-weight: var(--mdw-font-medium-body-weight);
  line-height: var(--mdw-font-medium-body-line-height);
  letter-spacing: var(--mdw-font-medium-body-tracking);
  color: var(--mdw-on-surface-variant);
}

mdw-card .mdw-card-actions {
  display: flex;
  margin-top: 24px;
}

mdw-card .mdw-card-actions mdw-button + mdw-button {
  margin-left: 6px;
}

mdw-card > .mdw-card-image.mdw-size-small {
  height: 60px;
  transition: height;
  transition-duration: 0s;
}

mdw-card > .mdw-card-image.mdw-size-medium {
  height: 120px;
  transition: height;
  transition-duration: 0s;
}

mdw-card > .mdw-card-image.mdw-size-large {
  height: 180px;
  transition: height;
  transition-duration: 0s;
}

mdw-card.mdw-animation > .mdw-card-image.mdw-size-small,
mdw-card.mdw-animation > .mdw-card-image.mdw-size-medium,
mdw-card.mdw-animation > .mdw-card-image.mdw-size-large {
  transition-duration: var(--mdw-motion-duration-medium1);
}


/* --- types --- */

mdw-card.mdw-filled {
  color: var(--mdw-on-surface-variant);
  background-color: var(--mdw-surface-container-highest);
}

mdw-card.mdw-outlined {
  background-color: var(--mdw-surface);
  /* use outline because box-sizing with border-radius does not prevent hight change */
  outline: 1px solid var(--mdw-outline);
}


/* --- state layer --- */

mdw-card::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--mdw-shape-medium);
}

mdw-card.mdw-drag-reorder-active {
  box-shadow: var(--mdw-elevation-4);
}
mdw-card.mdw-drag-reorder-active::after {
  opacity: var(--mdw-state-layer-opacity-dragged);
  background-color: var(--mdw-on-surface);
}

mdw-card.mdw-filled.mdw-drag-reorder-active,
mdw-card.mdw-outlined.mdw-drag-reorder-active {
  box-shadow: var(--mdw-elevation-3);
}

mdw-card.mdw-outlined.mdw-drag-reorder-active::after {
  outline: 1px solid var(--mdw-outline-variant);
}

mdw-card[onclick]:focus::after,
mdw-card.mdw-fullscreen:not(.mdw-show):focus::after,
mdw-card.mdw-states:focus::after {
  opacity: var(--mdw-state-layer-opacity-focus);
  background-color: var(--mdw-on-surface);
}

mdw-card.mdw-outlined[onclick]:focus,
mdw-card.mdw-outlined.mdw-fullscreen:not(.mdw-show):focus,
mdw-card.mdw-outlined.mdw-states:focus {
  outline: 1px solid var(--mdw-on-surface);
}

/* hover state layers. Media needed to prevent hover on mobile */
@media (hover: hover) {
  mdw-card[onclick]:hover,
  mdw-card.mdw-states:hover {
    box-shadow: var(--mdw-elevation-2);
  }

  mdw-card.mdw-filled[onclick]:hover,
  mdw-card.mdw-filled.mdw-states:hover,
  mdw-card.mdw-outlined[onclick]:hover,
  mdw-card.mdw-outlined.mdw-states:hover {
    box-shadow: var(--mdw-elevation-1);
  }

  mdw-card[onclick]:hover::after,
  mdw-card.mdw-states:hover::after {
    opacity: var(--mdw-state-layer-opacity-hover);
    background-color: var(--mdw-on-surface);
  }

  mdw-card.mdw-outlined:hover {
    outline: 1px solid var(--mdw-outline-variant);
  }
}


mdw-card > .mdw-card-content {
  position: relative;
  padding: 16px;
}


/* --- expanding --- */

mdw-card.mdw-expanding {
  transform: translateY(0);
  margin-bottom: 0;
  transition: margin-bottom, box-shadow, transform;
  transition-duration: 0ms;
}

body:not(.window-compact) mdw-card.mdw-expanding.mdw-show {
  transform: translateY(-6px);
}

mdw-card.mdw-animation.mdw-expanding {
  transition-duration: var(--mdw-motion-duration-short3);
}

mdw-card.mdw-expanding.mdw-show.mdw-filled {
  box-shadow: var(--mdw-elevation-1);
}

mdw-card.mdw-expanding > .mdw-card-content .mdw-expand-arrow {
  position: absolute;
  right: 16px;
  transition: transform;
  transition-duration: 0ms;
  cursor: pointer;
}
mdw-card.mdw-expanding.mdw-animation > .mdw-card-content .mdw-expand-arrow {
  transition-duration: var(--mdw-motion-duration-short3);
}

mdw-card.mdw-expanding.mdw-show > .mdw-card-content .mdw-expand-arrow {
  transform: rotate(180deg);
}

mdw-card.mdw-expanding > .mdw-card-content > .mdw-contracted {
  opacity: 1;
  transition: opacity;
  transition-duration: 0ms;
}
mdw-card.mdw-expanding.mdw-animation > .mdw-card-content > .mdw-contracted {
  transition-duration: var(--mdw-motion-duration-short3);
}

mdw-card.mdw-expanding > .mdw-card-content > .mdw-expanded {
  height: 0;
  transform: translateY(0);
  overflow: hidden;
  pointer-events: none;
  background-color: inherit;

  transition: height, transform;
  transition-duration: 0ms;
}
mdw-card.mdw-expanding.mdw-animation > .mdw-card-content > .mdw-expanded {
  transition-duration: var(--mdw-motion-duration-short3);
}

/* add spacing to inner child to pad the bottom */
mdw-card.mdw-expanding > .mdw-card-content > .mdw-expanded > :nth-child(1) {
  margin-bottom: 16px;
}

/* move expanded content down so it lines up with the bottom of the card */
mdw-card.mdw-expanding.mdw-show > .mdw-card-content > .mdw-expanded {
  transform: translateY(16px);
  pointer-events: all;
  overflow: auto;
  overscroll-behavior: contain;
}

mdw-card.mdw-expanding.mdw-show > .mdw-card-content > .mdw-expanded {
  height: auto;
}


/* fullscreen */

mdw-card.mdw-fullscreen {
  --mdw-card-fullscreen-expanded-left: 0px;
  --mdw-card-fullscreen-top: 0;
  --mdw-card-fullscreen-left: 0;
  --mdw-card-fullscreen-width: 0;
  --mdw-card-fullscreen-height: 0;

  animation: mdw-card-fullscreen-card-hide;
  animation-timing-function: var(--mdw-motion-easing-accelerate);
  animation-duration: 0ms;
}
mdw-card.mdw-animation.mdw-fullscreen.mdw-fullscreen-initialized {
  animation-duration: var(--mdw-motion-duration-short3);
}

mdw-card[onclick],
mdw-card.mdw-fullscreen:not(.mdw-show) {
  cursor: pointer;
}

mdw-card.mdw-fullscreen.mdw-show {
  position: fixed;
  z-index: 11;
  top: 0;
  left: var(--mdw-card-fullscreen-expanded-left);
  width: 100%;
  height: 100%;
  border-radius: 0;
  overflow: auto;

  animation: mdw-card-fullscreen-card-show;
  animation-duration: 0ms;
  animation-timing-function: var(--mdw-motion-easing);
}
mdw-card.mdw-animation.mdw-fullscreen.mdw-show {
  animation-duration: var(--mdw-motion-duration-medium1);
}

mdw-card.mdw-fullscreen > .mdw-card-content > .mdw-expanded {
  height: 0;
  opacity: 0;
  transition: opacity;
  transition-duration: 0ms;
}
mdw-card.mdw-animation.mdw-fullscreen > .mdw-card-content > .mdw-expanded {
  transition-duration: var(--mdw-motion-duration-short3);
}

mdw-card.mdw-fullscreen.mdw-show > .mdw-card-content > .mdw-expanded {
  opacity: 1;
  height: auto;
  position: absolute;
  top: 0;
  background-color: var(--mdw-surface);
}

mdw-card.mdw-fullscreen > .mdw-card-image {
  transition: height, border-radius;
  transition-duration: 0ms, 0ms;
  transition-delay: 0ms, var(--mdw-motion-duration-short1);
  transition-timing-function: var(--mdw-motion-easing-accelerate);
}
mdw-card.mdw-animation.mdw-fullscreen > .mdw-card-image {
  transition-duration: var(--mdw-motion-duration-short3), 80ms;
}

mdw-card.mdw-fullscreen > .mdw-card-image.mdw-rounded {
  border-radius: var(--mdw-shape-medium);
}

mdw-card.mdw-fullscreen.mdw-show > .mdw-card-image {
  height: var(--mdw-card-fullscreen-img-height, 300px);
  transition: height, border-radius;
  transition-duration: 0ms, 0ms;
  transition-delay: 0ms, var(--mdw-motion-duration-short3);
  transition-timing-function: var(--mdw-motion-easing);
}
mdw-card.mdw-animation.mdw-duration.mdw-fullscreen.mdw-show > .mdw-card-image {
  transition-duration: var(--mdw-motion-duration-medium3), var(--mdw-motion-duration-short3);

}
mdw-card.mdw-fullscreen.mdw-show > .mdw-card-image.mdw-rounded {
  border-radius: 0 0 var(--mdw-shape-medium) var(--mdw-shape-medium);
}

@keyframes mdw-card-fullscreen-card-show {
  0% {
    top: var(--mdw-card-fullscreen-top);
    left: var(--mdw-card-fullscreen-left);
    width: var(--mdw-card-fullscreen-width);
    height: var(--mdw-card-fullscreen-height);
    border-radius: var(--mdw-shape-medium);
    overflow: hidden;
  }

  99% {
    overflow: hidden;
  }

  100% {
    top: 0;
    left: var(--mdw-card-fullscreen-expanded-left);
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 0;
  }
}

@keyframes mdw-card-fullscreen-card-hide {
  0% {
    position: fixed;
    top: 0;
    left: var(--mdw-card-fullscreen-expanded-left);
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 0;
    overflow: hidden;
    z-index: 11;
  }

  1% {
    overflow: hidden;
  }

  100% {
    position: fixed;
    z-index: 11;
    overflow: hidden;
    top: var(--mdw-card-fullscreen-top);
    left: var(--mdw-card-fullscreen-left);
    width: var(--mdw-card-fullscreen-width);
    height: var(--mdw-card-fullscreen-height);
    border-radius: var(--mdw-shape-medium);
  }
}



mdw-card > .mdw-card-fullscreen-back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
  left: 16px;
  padding-left: 5px;
  padding-right: 8px;
  height: 36px;
  border-radius: var(--mdw-shape-full);
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: opacity;
  transition-duration: 0ms;
}

mdw-card.mdw-animation > .mdw-card-fullscreen-back {
  transition-duration: var(--mdw-motion-duration-short3);
}

mdw-card > .mdw-card-fullscreen-back .text {
  font-size: var(--mdw-font-medium-title-size);
  font-weight: var(--mdw-font-medium-title-weight);
  line-height: var(--mdw-font-medium-title-line-height);
  letter-spacing: var(--mdw-font-medium-title-tracking);
  color: var(--mdw-surface);
  margin-left: -6px;

  filter:
    drop-shadow(-1px -1px 1px rgba(0, 0, 0, .3))
    drop-shadow(1px -1px 1px rgba(0, 0, 0, .3))
    drop-shadow(1px 1px 1px rgba(0, 0, 0, .3))
    drop-shadow(-1px 1px 1px rgba(0, 0, 0, .3));
}

mdw-card > .mdw-card-fullscreen-back > svg {
  transform: scale(1.1);
  fill: var(--mdw-surface);
  filter:
    drop-shadow(-1px -1px 1px rgba(0, 0, 0, .3))
    drop-shadow(1px -1px 1px rgba(0, 0, 0, .3))
    drop-shadow(1px 1px 1px rgba(0, 0, 0, .3))
    drop-shadow(-1px 1px 1px rgba(0, 0, 0, .3));
}

mdw-card > .mdw-card-fullscreen-back > svg path {
  stroke-width: 0.5px;
  stroke: var(--mdw-surface);
}

mdw-card.mdw-fullscreen.mdw-show > .mdw-card-fullscreen-back {
  opacity: 1;
  pointer-events: auto;
}



/* --- group ---- */

mdw-card-group:not(.mdw-grid) > mdw-card,
mdw-card.mdw-grid-list-item {
  flex-direction: row;
  height: 80px;
  overflow: hidden;
}

mdw-card-group:not(.mdw-grid) > mdw-card > .mdw-card-image,
mdw-card.mdw-grid-list-item > .mdw-card-image {
  width: 80px;
  height: 80px;
}

mdw-card-group:not(.mdw-grid) > mdw-card > .mdw-card-image > img,
mdw-card.mdw-grid-list-item > .mdw-card-image > img {
  width: unset;
  height: 100%;
}

mdw-card-group:not(.mdw-grid) > mdw-card > .mdw-supporting-text,
mdw-card-group:not(.mdw-grid) > mdw-card .mdw-card-content > .mdw-supporting-text,
mdw-card-group:not(.mdw-grid) > mdw-card.mdw-card-list-item .mdw-card-actions,
mdw-card.mdw-grid-list-item > .mdw-supporting-text,
mdw-card.mdw-grid-list-item .mdw-card-content > .mdw-supporting-text,
mdw-card.mdw-grid-list-item.mdw-card-list-item .mdw-card-actions {
  display: none;
}


/* --- swipe action --- */

mdw-card > mdw-card-swipe-action {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1px;
  left: calc(var(--mdw-card-swipe-action-position) * -1);
  bottom: 0;
  width: 100px;
  padding-top: 18px;
  padding-left: 18px;
  z-index: 0;
  border-radius: var(--mdw-shape-medium) 0 0 var(--mdw-shape-medium);
  box-sizing: border-box;

  background-color: var(--mdw-surface-tint-alpha-16);
  color: var(--mdw-on-surface-variant);

  transition: left, background-color;
  transition-duration: 0ms, 0ms;
}
mdw-card.mdw-animation > mdw-card-swipe-action {
  transition-duration: var(--mdw-motion-duration-short3), var(--mdw-motion-duration-short3);
}

mdw-card.mdw-outlined > mdw-card-swipe-action {
  top: -1px;
  bottom: -1px;
  border-left: 1px solid var(--mdw-outline);
  border-top: 1px solid var(--mdw-outline);
  border-bottom: 1px solid var(--mdw-outline);
}

mdw-card > mdw-card-swipe-action mdw-icon {
  pointer-events: none;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

mdw-card.mdw-dragging > mdw-card-swipe-action {
  transition: none;
}

mdw-card > mdw-card-swipe-action::after {
  position: absolute;
  content: '';
  top: 0;
  left: var(--mdw-card-swipe-action-position);
  width: 101px;
  padding-top: 18px;
  padding-left: 18px;
  bottom: 0;
  border-radius: var(--mdw-shape-medium) 0 0 var(--mdw-shape-medium);
  background-color: var(--mdw-surface);
  z-index: 1;
  box-sizing: border-box;

  transition: left;
  transition-duration: 0ms;
}
mdw-card.mdw-animation > mdw-card-swipe-action::after {
  transition-duration: var(--mdw-motion-duration-short3);
}

mdw-card.mdw-filled > mdw-card-swipe-action::after {
  background-color: var(--mdw-surface-variant);
}

mdw-card.mdw-dragging > mdw-card-swipe-action::after {
  transition: none;
}

mdw-card > mdw-card-swipe-action[checked] {
  background-color: var(--mdw-surface-tint-alpha-38);
}

mdw-card > mdw-card-swipe-action[checked] mdw-icon {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


/* --- Ripple --- */

mdw-card > .mdw-ripple {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

mdw-card > .mdw-ripple > .mdw-ripple-element {
  background-color: var(--mdw-primary);
  opacity: var(--mdw-state-layer-opacity-pressed);
  border-radius: var(--mdw-shape-full);
}

mdw-card.mdw-filled > .mdw-ripple > .mdw-ripple-element {
  background-color: var(--mdw-on-primary);
}
