mdw-card-group {
  gap: 8px;
}

mdw-card-group,
mdw-card-group.grid {
  display: grid;
  grid-template-columns: repeat(var(--mdw-card-group-columns), 1fr);
}

body.window-compact mdw-card-group:not(.grid),
mdw-card-group.list {
  display: flex;
  flex-direction: column;
}


mdw-card-group > mdw-card.card-grid-cell {
  height: fit-content;
}


mdw-card-group.reorder {
  cursor: pointer;
}
