:host {
  min-width: 0px;
  height: 100%;
  width: 0px;

  transition: width;
  transition-duration: var(--wfc-motion-duration-medium2);
  transition-timing-function: var(--wfc-motion-easing-standard);
}

:host(.open:not(.modal)) {
  width: var(--wfc-navigation-drawer-width);
  transition: width;
  transition-duration: var(--wfc-motion-duration-medium3);
  transition-timing-function: var(--wfc-motion-easing-standard-decelerate);
}

:host-context(body:not(.wfc-animation)) {
  transition-duration: 0ms !important;
}

.placeholder {
  display: flex;
  flex-shrink: 0;
  width: inherit;
}

.surface {
  --wfc-surface-translate-x: var(--wfc-navigation-drawer-width);
  width: var(--wfc-navigation-drawer-width);
}

.surface-content {
  background-color: var(--wfc-surface);
}

:host(.modal) .surface-content {
  animation: box-shadow-animation;
  animation-duration: var(--wfc-motion-duration-medium2);
  animation-timing-function: var(--wfc-motion-easing-standard);
}

:host(.modal.open) .surface-content {
  box-shadow: var(--wfc-elevation-2);
  animation: box-shadow-animation;
  animation-duration: var(--wfc-motion-duration-medium3);
  animation-timing-function: var(--wfc-motion-easing-standard-decelerate);
}

.item-padding {
  padding: 12px 28px;
}

slot[name="header"] {
  display: flex;
  justify-content: space-between;
  opacity: 1;
  padding-left: 0;
  height: 56px;
}

::slotted(.headline),
slot[name="header"]::slotted(.headline) {
  line-height: 56px;
  height: 56px;
  vertical-align: middle;
  font-size: var(--wfc-font-small-title-size);
  font-weight: var(--wfc-font-small-title-weight);
  letter-spacing: var(--wfc-font-small-title-tracking);
  color: var(--wfc-on-surface-variant);
}

/* make sure box shadow is visible until off screen */
@keyframes box-shadow-animation {
  0% {
    box-shadow: var(--wfc-elevation-2);
  }
  100% {
    box-shadow: var(--wfc-elevation-2);
  }
}
