/* page-content css in src/core/page-content.css */

mdw-navigation-drawer.mdw-left {
  --mdw-side-sheet-width: var(--mdw-navigation-drawer-width);
  z-index: 11;
  padding: 12px 28px;
}

mdw-navigation-drawer.mdw-left .mdw-headline {
  line-height: 56px;
  height: 56px;
  vertical-align: middle;
  font-size: var(--mdw-font-small-title-size);
  font-weight: var(--mdw-font-small-title-weight);
  letter-spacing: var(--mdw-font-small-title-tracking);
  color: var(--mdw-on-surface-variant);
}

mdw-navigation-drawer.mdw-left .mdw-header {
  display: flex;
  justify-content: space-between;
  opacity: 1;
  padding-left: 0;
  height: 56px;
}
