mdw-navigation-drawer-group {
  --mdw-navigation-drawer-group-height: 56px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: hidden;
  height: var(--mdw-navigation-drawer-group-height);
  width: 100%;
  margin: 0 -16px;
  padding: 0 16px;
  transition: height 0ms;
  transition-timing-function: var(--mdw-motion-easing-decelerate);
}

body.mdw-animation mdw-navigation-drawer-group {
  transition-duration: var(--mdw-motion-duration-short4);
}

mdw-navigation-drawer-group > a:not([group]) {
  margin-left: 16px;
}
