:host {
  position: relative;
  display: contents;
  height: 100%;
  width: 0px;
}

.placeholder {
  display: flex;
  flex-shrink: 0;
  width: inherit;
}

.surface {
  display: block;
  background-color: var(--wfc-surface);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--wfc-navigation-rail-width);
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 18px 0px;
}
