:host {
  position: relative;
  display: contents;
  height: 100%;
  width: 0px;
}

:host-context(body.window-expanded:not(body.has-navigation-drawer)),
:host-context(body.navigation-drawer-state-hide:not(.window-compact)),
:host-context(body.window-medium),
:host-context(body:not(.window-compact):not(.has-navigation-drawer)) {
  width: var(--wfc-navigation-rail-width);
}

.placeholder {
  display: flex;
  flex-shrink: 0;
  width: inherit;
}

.surface {
  display: block;
  background-color: var(--wfc-surface);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--wfc-navigation-rail-width);
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 18px 0px;
}

:host-context(body.window-compact.has-bottom-app-bar),
:host-context(body.window-compact.has-navigation-bar) {
  display: none;
}
