mdw-anchor {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  height: 56px;
  line-height: 56px;
  padding-right: 8px;
  margin-bottom: 2px;

  font-size: var(--mdw-font-label-size-large);
  font-weight: var(--mdw-font-label-weight-large);
  letter-spacing: var(--mdw-font-label-letter-spacing-large);
  border-radius: var(--mdw-shape-extra-large);
}

mdw-anchor::after {
  content: '';
  position: absolute;
  left: -16px;
  top: 0;
  right: -16px;
  z-index: -1;
  height: 56px;
  border-radius: var(--mdw-shape-extra-large);
}

mdw-anchor.mdw-active:not([group])::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 0;
  right: -16px;
  z-index: -1;
  height: 56px;
  border-radius: var(--mdw-shape-extra-large);
  background-color: var(--mdw-secondary-container);
}

mdw-anchor:focus::after {
  opacity: var(--mdw-state-layer-opacity-focus);
  background-color: var(--mdw-on-surface);
}

/* hover state layers. Media needed to prevent hover on mobile */
@media (hover: hover) {
  mdw-anchor:hover::after {
    opacity: var(--mdw-state-layer-opacity-hover);
    background-color: var(--mdw-on-surface);
  }
}

mdw-anchor > * {
  pointer-events: none;
}

mdw-anchor mdw-icon {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 12px;
  margin-left: -6px;
}

/* --- Ripple --- */

mdw-anchor > .ripple {
  overflow: hidden;
  border-radius: inherit;
  transform: translateZ(0);
  /* fixes bug on ios safari */
  position: absolute;
  top: 0;
  left: -16px;
  bottom: 0;
  right: -16px;
  pointer-events: none;
}

mdw-anchor > .ripple > .mdw-ripple-element {
  background-color: var(--mdw-on-surface-alpha-16);
  border-radius: var(--mdw-shape-full);
}

mdw-anchor[group] .mdw-group-arrow {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 16px;
  transition: transform 0ms;
}

mdw-anchor.mdw-animation[group] .mdw-group-arrow {
  transition-duration: var(--mdw-motion-duration-short3);
}

mdw-anchor[group].mdw-open .mdw-group-arrow {
  transform: rotate(180deg);
}
