/* page-content css in src/core/page-content.css */

mdw-navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  z-index: 11;
  box-sizing: border-box;
  background-color: var(--mdw-surface);
  padding: 12px 28px;

  width: var(--mdw-navigation-drawer-width);

  transition: width 0ms, left 0ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}
mdw-navigation.mdw-animation {
  transition-duration: 180ms;
}

mdw-navigation.mdw-hide,
body.mdw-mobile mdw-navigation:not(.mdw-show) {
  width: 0;
  left: -56px;
  pointer-events: none;
  transition: width 0ms, left 0ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}

body.mdw-mobile mdw-navigation {
  border-radius: 0 var(--mdw-shape-large) 0 0;
  box-shadow: var(--mdw-elevation-2);
}

body.mdw-animation mdw-navigation,
body.mdw-animation.mdw-mobile mdw-navigation {
  transition-duration: 180ms;
}

mdw-navigation .mdw-headline {
  line-height: 56px;
  height: 56px;
  vertical-align: middle;
  font-size: var(--mdw-font-title-size-small);
  font-weight: var(--mdw-font-title-weight-small);
  letter-spacing: var(--mdw-font-title-letter-spacing-small);
  color: var(--mdw-on-surface-variant);
}

mdw-navigation .mdw-header {
  display: flex;
  justify-content: space-between;
  opacity: 1;
}
