/* page-content css in src/core/page-content.css */

mdw-navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  z-index: 11;
  box-sizing: border-box;
  background-color: var(--mdw-surface);
  padding: 18px 0;

  width: var(--mdw-navigation-drawer-width);

  transition: width 180ms, left 180ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}

mdw-navigation:not(.mdw-no-tint)::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: var(--mdw-navigation-drawer-width);
  height: 100%;
  pointer-events: none;
  background-color: var(--mdw-elevation-tint-1);
  border-radius: inherit;
}

mdw-navigation.mdw-hide {
  width: 0;
  left: -56px;
  pointer-events: none;
  transition: width 180ms, left 180ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}

mdw-navigation .mdw-headline {
  line-height: 56px;
  height: 56px;
  margin: 0 36px;
  font-size: var(--mdw-font-title-size-small);
  font-weight: var(--mdw-font-title-weight-small);
  letter-spacing: var(--mdw-font-title-letter-spacing-small);
  color: var(--mdw-on-surface-variant);
  opacity: 1;
  transition: opacity 180ms;
}
mdw-navigation.mdw-rail.mdw-state-rail .mdw-headline  {
  opacity: 0;
}



/* --- rail --- */

mdw-navigation.mdw-rail.mdw-state-rail {
  width: var(--mdw-navigation-rail-width);
  left: 0;
}

mdw-navigation .mdw-header {
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
  margin-right: 12px;
  opacity: 1;
}

mdw-navigation .mdw-header > .mdw-headline {
  margin-left: 24px;
}

mdw-navigation.mdw-rail.mdw-state-rail .mdw-header > * {
  opacity: 0;
  pointer-events: none;
}

mdw-navigation.mdw-rail.mdw-state-rail .mdw-header > mdw-navigation-button {
  opacity: 1;
  pointer-events: all;
}

/* --- mobile --- */

body.mdw-mobile mdw-navigation {
  border-radius: 0 var(--mdw-shape-large) 0 0;
  box-shadow: var(--mdw-elevation-2);
}

body.mdw-mobile mdw-navigation.mdw-hide {
  width: 0;
  left: -56px;
  box-shadow: none;
}

body.mdw-mobile mdw-navigation:not(.mdw-no-tint).mdw-hide::before {
  width: 0;
  left: -56px;
}


/* --- secondary draw for rail --- */
mdw-navigation.mdw-rail.mdw-state-rail + .mdw-navigation-secondary-draw {
  position: fixed;
  top: 0;
  bottom: 0;
  left: calc(-230px + var(--mdw-navigation-rail-width));
  width: 230px;
  background-color: var(--mdw-surface);
  border-radius: 0 var(--mdw-shape-large) var(--mdw-shape-large) 0;
  z-index: 9;
}

mdw-navigation.mdw-rail.mdw-state-rail.mdw-secondary-drawer-open + .mdw-navigation-secondary-draw {
  left: var(--mdw-navigation-rail-width);
}


mdw-navigation.mdw-no-animation,
mdw-navigation.mdw-no-animation .mdw-headline {
  transition: none !important;
}
