wfc-divider {
  box-sizing: border-box;
  color: var(--wfc-outline-variant);
  display: flex;
  height: 1px;
  width: 100%;
}

wfc-divider[inset],
wfc-divider[inset-start] {
  padding-inline-start: 16px;
}

wfc-divider[inset],
wfc-divider[inset-end] {
  padding-inline-end: 16px;
}

wfc-divider::before {
  background: currentColor;
  content: '';
  height: 100%;
  width: 100%;
}
