wfc-anchor-group {
  --wfc-navigation-drawer-group-height: 56px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  height: var(--wfc-navigation-drawer-group-height);
  width: 100%;
  margin-left: -16px;
  padding-left: 16px;
  padding-right: 26px;
  transition: height 0ms;
  transition-timing-function: var(--wfc-motion-easing-standard-decelerate);
}

body.wfc-animation wfc-anchor-group {
  transition-duration: var(--wfc-motion-duration-short4);
}

wfc-anchor-group wfc-anchor:not([control]) {
  margin-left: 16px;
}
