wfc-navigation-drawer > wfc-anchor {
  width: 100%;
}

body:not(.wfc-animation) wfc-anchor::before,
body:not(.wfc-animation) wfc-anchor::after {
  transition-duration: 0s;
}

wfc-anchor-group.has-current > wfc-anchor[control]::after {
  opacity: var(--wfc-state-layer-opacity-hover);
  background-color: var(--wfc-on-surface);
}


wfc-navigation-bar wfc-anchor,
wfc-navigation-rail wfc-anchor {
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 56px;
  margin-bottom: 2px;

  font-size: var(--wfc-font-medium-label-size);
  font-weight: var(--wfc-font-medium-label-weight);
  letter-spacing: var(--wfc-font-medium-label-tracking);
  border-radius: var(--wfc-shape-extra-medium);
}

wfc-navigation-rail wfc-anchor::part(a) {
  line-height: 20px;
  flex-direction: column;
}

wfc-navigation-bar wfc-anchor::before,
wfc-navigation-rail wfc-anchor::before {
  left: unset;
  right: unset;
  top: 3px;
  width: 64px;
  height: 32px;
  border-radius: var(--wfc-shape-extra-large);
}

wfc-navigation-bar wfc-anchor::after,
wfc-navigation-rail wfc-anchor::after {
  left: unset;
  right: unset;
  top: 3px;
  width: 64px;
  height: 32px;
  border-radius: var(--wfc-shape-extra-large);
}

wfc-navigation-bar wfc-anchor.current.animate::after,
wfc-navigation-bar wfc-anchor.current.animate::before,
wfc-navigation-rail wfc-anchor.current.animate::after,
wfc-navigation-rail wfc-anchor.current.animate::before {
  transform: scale(0);
  transition-duration: 0s;
}

wfc-navigation-bar wfc-anchor::after,
wfc-navigation-bar wfc-anchor::before,
wfc-navigation-rail wfc-anchor::after,
wfc-navigation-rail wfc-anchor::before {
  transition: transform;
  transition-duration: var(--wfc-motion-duration-medium1);
  transition-timing-function: var(--wfc-motion-easing-standard);
}

wfc-navigation-bar wfc-anchor.current::before,
wfc-navigation-rail wfc-anchor.current::before {
  transform: scale(1);
}


wfc-navigation-rail wfc-anchor wfc-icon {
  margin-right: 0px;
  margin-top: 3px;
  height: 32px;
  line-height: 32px;
}

wfc-navigation-rail wfc-anchor.no-text wfc-icon {
  margin-top: 12px;
}

wfc-navigation-bar wfc-anchor.no-text::before,
wfc-navigation-rail wfc-anchor.no-text::before {
  top: 0px;
  height: 56px;
  width: 56px;
  border-radius: var(--wfc-shape-full);
}

wfc-navigation-bar wfc-anchor.no-text::after,
wfc-navigation-rail wfc-anchor.no-text::after {
  top: 0px;
  height: 56px;
  width: 56px;
  border-radius: var(--wfc-shape-full);
}
