mdw-navigation-bar a,
mdw-navigation-drawer a,
mdw-navigation-rail a {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  height: 56px;
  line-height: 56px;
  padding-right: 8px;
  margin-bottom: 2px;

  font-size: var(--mdw-font-large-label-size);
  font-weight: var(--mdw-font-large-label-weight);
  letter-spacing: var(--mdw-font-large-label-tracking);
  border-radius: var(--mdw-shape-extra-large);
  color: var(--mdw-on-surface-variant);
  text-decoration: none;
}

mdw-navigation-bar a:-webkit-any-link:active,
mdw-navigation-drawer a:-webkit-any-link:active,
mdw-navigation-rail a:-webkit-any-link:active {
  color: unset;
}

mdw-navigation-bar a:focus,
mdw-navigation-drawer a:focus,
mdw-navigation-rail a:focus {
  opacity: unset;
  background-color: unset;
}

a.mdw-active {
  color: var(--mdw-on-surface);
}

mdw-navigation-drawer a::after {
  content: '';
  position: absolute;
  left: -16px;
  top: 0;
  right: -16px;
  z-index: -1;
  height: 56px;
  border-radius: var(--mdw-shape-extra-large);
}

a:not([group])::before {
  content: '';
  position: absolute;
  z-index: -1;
}
mdw-navigation-drawer a:not([group])::before {
  left: 40%;
  right: 40%;
  top: 0;
  height: 56px;
  border-radius: var(--mdw-shape-extra-large);
}

mdw-navigation-drawer a.mdw-active:not([group])::before {
  left: -16px;
  right: -16px;
  transition: left, right;
  transition-duration: var(--mdw-motion-duration-medium1);
  transition-timing-function: var(--mdw-motion-easing);
  border-radius: var(--mdw-shape-extra-large);
}
a.mdw-active:not([group])::before {
  background-color: var(--mdw-secondary-container);
  color: var(--mdw-on-surface);
}

a:focus::after {
  opacity: var(--mdw-state-layer-opacity-focus);
  background-color: var(--mdw-on-surface);
}

/* hover state layers. Media needed to prevent hover on mobile */
@media (hover: hover) {
  a:not(.mdw-active):hover::after {
    opacity: var(--mdw-state-layer-opacity-hover);
    background-color: var(--mdw-on-surface);
    mix-blend-mode: unset;
  }
}

a > * {
  pointer-events: none;
}

a mdw-icon {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 12px;
  margin-left: -6px;
  color: var(--mdw-on-surface);
}
a.mdw-active mdw-icon {
  color: var(--mdw-on-secondary-container);
}

a[group] .mdw-group-arrow {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 16px;
  transition: transform 0ms;
}

a.mdw-animation[group] .mdw-group-arrow {
  transition-duration: var(--mdw-motion-duration-short3);
}

a[group].mdw-open .mdw-group-arrow {
  transform: rotate(180deg);
}

a[group]:has(~ a.mdw-active)::after {
  opacity: var(--mdw-state-layer-opacity-hover);
  background-color: var(--mdw-on-surface);
}


mdw-navigation-bar a,
mdw-navigation-rail a {
  flex-direction: column;
  justify-content: center;
  line-height: 20px;
  padding: 0 16px;
  margin: 0;

  font-size: var(--mdw-font-medium-label-size);
  font-weight: var(--mdw-font-medium-label-weight);
  letter-spacing: var(--mdw-font-medium-label-tracking);
  border-radius: var(--mdw-shape-extra-medium);
}

mdw-navigation-bar a mdw-icon,
mdw-navigation-rail a mdw-icon {
  position: relative;
  display: flex;
  justify-content: center;
  height: 32px;
  margin: 0;
  margin-top: -2px;
  padding: 0;
  line-height: 32px;
  font-size: var(--mdw-font-small-icon-size);
}


mdw-navigation-bar a::before,
mdw-navigation-rail a::before {
  top: 11px;
  width: 64px;
  height: 32px;
  border-radius: var(--mdw-shape-extra-large);
  transform: scaleX(0);
  transition: transform;
  transition-duration: var(--mdw-motion-duration-medium1);
  transition-timing-function: var(--mdw-motion-easing);
}
mdw-navigation-bar a.mdw-active::before {
  transform: scaleX(1);
}

mdw-navigation-rail a::before {
  top: 0;
  width: 56px;
  height: 56px;
  border-radius: var(--mdw-shape-full);
  transform: scale(0);
}
mdw-navigation-rail a.mdw-active::before {
  transform: scale(1);
}


mdw-navigation-bar a.mdw-has-text.mdw-has-icon::before,
mdw-navigation-rail a.mdw-has-text.mdw-has-icon::before {
  top: 0;
  width: 64px;
  height: 32px;
  border-radius: var(--mdw-shape-extra-large);
  transform: scaleX(0);
  transition: transform;
  transition-duration: var(--mdw-motion-duration-medium1);
  transition-timing-function: var(--mdw-motion-easing);
}
mdw-navigation-rail a.mdw-has-text.mdw-has-icon::before {
  width: 56px;
}

mdw-navigation-bar a.mdw-active.mdw-has-text.mdw-has-icon::before,
mdw-navigation-rail a.mdw-active.mdw-has-text.mdw-has-icon::before {
  transform: scaleX(1);
}



mdw-navigation-bar a::after,
mdw-navigation-rail a::after {
  left: unset;
  right: unset;
  top: 11px;
  width: 64px;
  height: 32px;
  border-radius: var(--mdw-shape-extra-large);
}

mdw-navigation-rail a::after {
  top: 0;
  width: 56px;
  height: 56px;
  border-radius: var(--mdw-shape-full);
}

mdw-navigation-bar a.mdw-has-text.mdw-has-icon::after,
mdw-navigation-rail a.mdw-has-text.mdw-has-icon::after {
  top: 0;
  width: 64px;
  height: 32px;
  border-radius: var(--mdw-shape-extra-large);
}

mdw-navigation-rail a.mdw-has-text.mdw-has-icon::after {
  width: 56px;
}


mdw-navigation-bar a.mdw-has-text mdw-badge,
mdw-navigation-rail a.mdw-has-text mdw-badge {
  position: absolute;
  right: 3px;
  top: 7px;
}

mdw-navigation-bar a.mdw-has-text mdw-badge.mdw-no-label,
mdw-navigation-rail a.mdw-has-text mdw-badge.mdw-no-label {
  position: absolute;
  right: 12px;
  top: 20px;
}

mdw-navigation-bar a.mdw-has-icon mdw-badge,
mdw-navigation-rail a.mdw-has-icon mdw-badge {
  position: absolute;
  right: 7px;
  top: 6px;
}

mdw-navigation-bar a.mdw-has-icon mdw-badge.mdw-no-label,
mdw-navigation-rail a.mdw-has-icon mdw-badge.mdw-no-label {
  position: absolute;
  right: 16px;
  top: 16px;
}

mdw-navigation-bar a.mdw-has-text.mdw-has-icon mdw-badge,
mdw-navigation-rail a.mdw-has-text.mdw-has-icon mdw-badge {
  position: absolute;
  right: 16px;
  top: -3px;
}

mdw-navigation-bar a.mdw-has-text.mdw-has-icon mdw-badge.mdw-no-label,
mdw-navigation-rail a.mdw-has-text.mdw-has-icon mdw-badge.mdw-no-label {
  position: absolute;
  right: 24px;
  top: 5px;
}
