:host {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  height: 40px;
  width: 40px;
  justify-content: center;
  border-radius: var(--wfc-shape-full);
  color: var(--wfc-on-surface-variant);
}

:host(.selected) {
  color: var(--wfc-primary);
}

:host([disabled]) {
  pointer-events: none;
}

button {
  place-items: center;
  background: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  place-content: center;
  outline: none;
  padding: 0;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  z-index: 0;
  flex: 1;
  border-radius: inherit;
  color: inherit;
}

:host([filled]) {
  color: var(--wfc-on-primary);
  background-color: var(--wfc-primary);
}
:host([filled][toggle]) {
  color: var(--wfc-primary);
  background-color: var(--wfc-surface-container-highest);
}
:host([filled][toggle].selected) {
  color: var(--wfc-on-primary);
  background-color: var(--wfc-primary);
}

:host([filled-tonal]) {
  color: var(--wfc-on-secondary-container);
  background-color: var(--wfc-secondary-container);
}
:host([filled-tonal][toggle]) {
  color: var(--wfc-on-surface-variant);
  background-color: var(--wfc-surface-container-highest);
}
:host([filled-tonal][toggle].selected) {
  color: var(--wfc-on-secondary-container);
  background-color: var(--wfc-secondary-container);
}

:host([outlined]) {
  border: 1px solid var(--wfc-outline);
}

:host(.selected:not(.selected-icon)) ::slotted(wfc-icon) {
  font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48 !important
}

:host(.selected[filled]:not(.selected-icon)) ::slotted(wfc-icon),
:host(.selected[filled-tonal]:not(.selected-icon)) ::slotted(wfc-icon) {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48 !important
}

:host(.selected.selected-icon) slot.default-slot::slotted(wfc-icon),
:host(.selected-icon) slot[name="selected"]::slotted(wfc-icon) {
  display: none;
}

:host(.selected.selected-icon) slot[name="selected"]::slotted(wfc-icon) {
  display: block;
}



/* --- states --- */

wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-on-surface-variant);
  --wfc-state-layer-focus-color: var(--wfc-on-surface-variant);
  --wfc-state-layer-ripple-color: var(--wfc-on-surface-variant);
}
:host(.selected) wfc-state-layer{
  --wfc-state-layer-hover-color: var(--wfc-primary);
  --wfc-state-layer-focus-color: var(--wfc-primary);
  --wfc-state-layer-ripple-color: var(--wfc-primary);
}

:host([filled]) wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-on-primary);
  --wfc-state-layer-focus-color: var(--wfc-on-primary);
  --wfc-state-layer-ripple-color: var(--wfc-on-primary);
}
:host([filled][toggle]) wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-primary);
  --wfc-state-layer-focus-color: var(--wfc-primary);
  --wfc-state-layer-ripple-color: var(--wfc-primary);
}
:host([filled][toggle].selected) wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-on-primary);
  --wfc-state-layer-focus-color: var(--wfc-on-primary);
  --wfc-state-layer-ripple-color: var(--wfc-on-primary);
}

:host([filled-tonal]) wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-on-secondary-container);
  --wfc-state-layer-focus-color: var(--wfc-on-secondary-container);
  --wfc-state-layer-ripple-color: var(--wfc-on-secondary-container);
}
:host([filled-tonal][toggle]) wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-on-surface-variant);
  --wfc-state-layer-focus-color: var(--wfc-on-surface-variant);
  --wfc-state-layer-ripple-color: var(--wfc-on-surface-variant);
}
:host([filled-tonal][toggle].selected) wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-on-secondary-container);
  --wfc-state-layer-focus-color: var(--wfc-on-secondary-container);
  --wfc-state-layer-ripple-color: var(--wfc-on-secondary-container);
}

:host([filled]) wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-on-primary);
  --wfc-state-layer-focus-color: var(--wfc-on-primary);
  --wfc-state-layer-ripple-color: var(--wfc-on-primary);
}
:host([filled][toggle]) wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-primary);
  --wfc-state-layer-focus-color: var(--wfc-primary);
  --wfc-state-layer-ripple-color: var(--wfc-primary);
}
:host([filled][toggle].selected) wfc-state-layer {
  --wfc-state-layer-hover-color: var(--wfc-on-primary);
  --wfc-state-layer-focus-color: var(--wfc-on-primary);
  --wfc-state-layer-ripple-color: var(--wfc-on-primary);
}
