mdw-carousel {
  --mdw-carousel-item-full-width: 0;
  display: flex;
  background-color: var(--mdw-surface);
  margin: 8px 16px;
  min-height: 80px;
  overflow-x: auto;
  border-radius: var(--mdw-shape-extra-large);
}

mdw-carousel .mdw-carousel-front-padding,
mdw-carousel .mdw-carousel-back-padding {
  flex-shrink: 0;
}

mdw-carousel-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  min-width: 40px;
  flex-basis: 40px;
  border-radius: var(--mdw-shape-extra-large);
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--mdw-surface);
  margin-right: 8px;
  pointer-events: none;
  user-select: none;
}

mdw-carousel-item:last-of-type {
  margin-right: 0;
}

mdw-carousel-item img {
  height: 100%;
  /* z-index: 0; */
}

mdw-carousel-item .mdw-text {
  position: absolute;
  width: inherit;
  overflow: hidden;
  bottom: 14px;
  left: -14px;
  padding-left: 28px;
  box-sizing: border-box;
  opacity: calc(clamp(var(--mdw-carousel-item-full-width), 0, 40) / 40);
}

mdw-carousel-item .mdw-text > * {
  width: var(--mdw-carousel-item-full-width);
}

