wfc-carousel {
  display: flex;
  background-color: var(--wfc-surface);
  margin: 8px 16px;
  min-height: 80px;
  overflow-x: auto;
  border-radius: var(--wfc-shape-extra-large);
  opacity: 0;
}

wfc-carousel::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: transparent;
}

wfc-carousel.loaded {
  opacity: 1;
  transition: opacity 240ms;
}

wfc-carousel .carousel-front-padding,
wfc-carousel .carousel-back-padding {
  flex-shrink: 0;
}

wfc-carousel-item {
  --wfc-carousel-item-text-opacity: 0;
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  min-width: 40px;
  flex-basis: 40px;
  border-radius: var(--wfc-shape-extra-large);
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--wfc-surface);
  margin-right: 8px;
  pointer-events: none;
  user-select: none;
}

wfc-carousel-item:last-of-type {
  margin-right: 0;
}

wfc-carousel-item img {
  height: 100%;
}

wfc-carousel-item .text {
  position: absolute;
  width: inherit;
  overflow: hidden;
  bottom: 14px;
  left: -14px;
  padding-left: 28px;
  box-sizing: border-box;
  opacity: var(--wfc-carousel-item-text-opacity);
  color: var(--wfc-on-surface-inverse);
  text-shadow: 1px 1px 6px var(--wfc-shadow);
}
