:host {
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  bottom: 0;
}

:host(.active) {
  left: 0;
}

:host(.animation) {
  transition: left;
  transition-timing-function: var(--wfc-motion-easing-standard-decelerate);
  transition-duration: var(--wfc-motion-duration-long3);
}
