mdw-tab-bar {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 48px;

  background-color: var(--mdw-surface);
  color: var(--mdw-on-surface-variant);

  font-size: var(--mdw-font-title-size-small);
  font-weight: var(--mdw-font-title-weight-small);
  line-height: var(--mdw-font-title-line-height-small);
  letter-spacing: var(--mdw-font-title-letter-spacing-small);

  pointer-events: none;
}

mdw-tab-bar.mdw-line-two {
  height: 64px;
}


mdw-tab-bar .mdw-tab-underline {
  position: absolute;
  bottom: 0;
  border-radius: 3px 3px 0 0;
  border-top: 3px solid var(--mdw-primary);
  pointer-events: none;

  transition: left 0ms, width 0ms;
}
mdw-tab-bar.mdw-animation .mdw-tab-underline {
  transition-duration: 220ms, 220ms;
}

mdw-tab-bar.mdw-tab-secondary .mdw-tab-underline {
  border-top: 2px solid var(--mdw-primary);
}
