wfc-tab {
  position: relative;
  flex: 1;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 48px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  background-color: none;
  outline: none;

  transition: color 0ms, background-color 0ms;
}
wfc-tab.wfc-animation {
  transition-duration: 120ms, 220ms;
}

/* hover state layers. Media needed to prevent hover on mobile */
@media (hover: hover) {
  wfc-tab:hover {
    background-color: var(--wfc-on-surface-alpha-8);
  }
}

wfc-tab:focus {
  background-color: var(--wfc-on-surface-alpha-12);
}

wfc-tab[active] {
  color: var(--wfc-primary);
}

wfc-tab .wfc-label,
wfc-tab wfc-icon {
  pointer-events: none;
}

wfc-tabs .wfc-underline {
  position: absolute;
  bottom: 0;
  border-radius: 3px 3px 0 0;
  border-top: 3px solid var(--wfc-primary);
  pointer-events: none;

  transition: left 0ms, width 0ms;
}
wfc-tabs.wfc-animation .wfc-underline {
  transition-duration: 220ms, 220ms;
}


/* --- Ripple --- */

.ripple {
  overflow: hidden;
  border-radius: inherit;
  transform: translateZ(0);
  /* fixes bug on ios safari */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.ripple > .ripple-element {
  background-color: var(--wfc-primary-alpha-16);
  border-radius: var(--wfc-shape-full);
}
