wfc-tab-bar {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 48px;

  background-color: var(--wfc-surface);
  color: var(--wfc-on-surface-variant);

  font-size: var(--wfc-font-small-title-size);
  font-weight: var(--wfc-font-small-title-weight);
  line-height: var(--wfc-font-small-title-line-height);
  letter-spacing: var(--wfc-font-small-title-tracking);

  pointer-events: none;
}

wfc-tab-bar.wfc-line-two {
  height: 64px;
}


wfc-tab-bar .wfc-tab-underline {
  position: absolute;
  bottom: 0;
  border-radius: 3px 3px 0 0;
  border-top: 3px solid var(--wfc-primary);
  pointer-events: none;

  transition: left 0ms, width 0ms;
}
wfc-tab-bar.wfc-animation .wfc-tab-underline {
  transition-duration: 220ms, 220ms;
}

wfc-tab-bar.wfc-tab-secondary .wfc-tab-underline {
  border-top: 2px solid var(--wfc-primary);
}
