wfc-tab-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0ms;
}
wfc-tab-panel.wfc-animation {
  transition-duration: 420ms;
}

wfc-tab-panel[active] {
  opacity: 1;
  height: unset;
  overflow: unset;
}
