body.mdw-navigation-state-open page-content {
  margin-left: var(--mdw-navigation-drawer-width);
  transition: margin-left 180ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}

body.mdw-navigation-state-hide page-content {
  margin-left: 0;
  transition: margin-left 180ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}

body.mdw-navigation-state-rail page-content {
  margin-left: var(--mdw-navigation-rail-width);
  transition: margin-left 180ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}

body.mdw-side-sheet-state-open.mdw-side-sheet-connect-page-content page-content {
  margin-right: var(--mdw-side-sheet-width);
  transition: margin-right 180ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}

body.mdw-side-sheet-state-hide.mdw-side-sheet-connect-page-content page-content {
  margin-right: 0;
  transition: margin-right 180ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}

body.mdw-navigation-state-open.mdw-side-sheet-state-open.mdw-side-sheet-connect-page-content page-content {
  margin-left: var(--mdw-navigation-drawer-width);
  margin-right: var(--mdw-side-sheet-width);
  transition: margin-left 180ms, margin-right 180ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}

body.mdw-navigation-state-hide.mdw-side-sheet-state-hide.mdw-side-sheet-connect-page-content page-content {
  margin-left: 0;
  margin-right: 0;
  transition: margin-left 180ms, margin-right 180ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}

body.mdw-navigation-state-open.mdw-side-sheet-state-hide.mdw-side-sheet-connect-page-content page-content {
  margin-left: var(--mdw-navigation-drawer-width);
  margin-right: 0;
  transition: margin-left 180ms, margin-right 180ms;
  transition-timing-function: var(--mdw-transition-expand-in), var(--mdw-transition-expand-out);
}

body.mdw-navigation-state-rail.mdw-side-sheet-state-open.mdw-side-sheet-connect-page-content page-content {
  margin-left: var(--mdw-navigation-rail-width);
  margin-right: var(--mdw-side-sheet-width);
  transition: margin-left 180ms, margin-right 180ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}

body.mdw-navigation-state-rail.mdw-side-sheet-state-hide.mdw-side-sheet-connect-page-content page-content {
  margin-left: var(--mdw-navigation-rail-width);
  margin-right: 0;
  transition: margin-left 180ms, margin-right 180ms;
  transition-timing-function: var(--mdw-transition-expand-in), var(--mdw-transition-expand-out);
}

body.mdw-navigation-state-hide.mdw-side-sheet-state-open.mdw-side-sheet-connect-page-content page-content {
  margin-left: 0;
  margin-right: var(--mdw-side-sheet-width);
  transition: margin-left 180ms, margin-right 180ms;
  transition-timing-function: var(--mdw-transition-expand-out), var(--mdw-transition-expand-in);
}



body.mdw-navigation-no-animation mdw-top-app-bar,
body.mdw-navigation-no-animation page-content,
body.mdw-side-sheet-no-animation page-content {
  transition: none !important;
}
