:host {
  min-width: 210px;
  display: inline-flex;
  border-radius: var(--wfc-shape-extra-large);
}

.surface-content {
  background-color: var(--wfc-surface-container);
  box-shadow: var(--wfc-elevation-3);
  border-radius: var(--wfc-shape-extra-large-bottom);
  clip-path: inset(0px -30px -30px -30px);
}

:host(.window-compact) .surface-content {
  box-shadow: none;
  border-radius: 0;
  clip-path: none;
}

:host(.window-compact.open) .surface .surface-content {
  transition: border-radius;
  transition-duration: var(--wfc-motion-duration-short3);
  transition-timing-function: var(--wfc-motion-easing-emphasized);
}

:host(.window-compact.open) .surface.animating .surface-content {
  border-radius: 0;
}

.item-padding {
  padding-block: 8px;
}
:host(.window-compact) .item-padding {
  padding-inline: 8px;
  padding-top: 76px;
}

.input,
.search,
.surface {
  min-width: inherit;
  width: inherit;
  max-width: inherit;
}

.input,
.search {
  width: 100%;
}

.search {
  position: relative;
  border-radius: inherit;
}


.surface {
  min-width: inherit;
  max-width: inherit;
}

slot[name="suggestions"],
.options-container {
  display: flex;
  flex-direction: column;
}

slot[name="suggestions"] {
  margin-bottom: 8px;
}

.no-results {
  display: none;
  pointer-events: none;
  align-items: center;
  box-sizing: border-box;
  padding: 12px 16px;
  height: 48px;
  line-height: 48px;
  font-size: var(--wfc-font-large-label-size);
  font-weight: var(--wfc-font-large-label-weight);
  letter-spacing: var(--wfc-font-large-label-tracking);
  color: var(--wfc-on-surface-variant-alpha-76);
}

.surface-content:not(.has-value) .no-results {
  display: flex;
}

wfc-progress-linear {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity;
  transition-timing-function: var(--wfc-motion-easing-standard);
  transition-duration: var(--wfc-motion-duration-short4);
  transition-delay: var(--wfc-motion-duration-medium2);
}

wfc-divider {
  display: none;
}
:host(.open.window-compact) wfc-divider {
  display: flex;
  position: absolute;
  top: 56px;
  left: 0;
}

:host(.loading) wfc-progress-linear {
  opacity: 1;
  transition-duration: var(--wfc-motion-duration-short4);
  transition-delay: 0s;
}

:host(.open.loading.window-compact) wfc-progress-linear {
  top: 56px;
}


.input {
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  height: 56px;
  padding: 8px 12px;
  resize: inherit;
  width: 100%;
  align-items: center;

  background-color: var(--wfc-surface-container);
  border-radius: var(--wfc-shape-extra-large);
  box-shadow: var(--wfc-elevation-3);

  transition: border-radius;
  transition-duration: var(--wfc-motion-duration-short1);
  transition-timing-function: var(--wfc-motion-easing-emphasized-accelerate);
  transition-delay: var(--wfc-motion-duration-short2);
}

:host(.open) .input {
  border-radius: var(--wfc-shape-extra-large-top);
  transition-duration: var(--wfc-motion-duration-short1);
  transition-timing-function: var(--wfc-motion-easing-emphasized);
  transition-delay: 0s;
}

:host(.window-compact) .input,
:host(.open.window-compact) .input,
:host(.closing.window-compact) .input {
  border-radius: var(--wfc-shape-extra-large);
  transition: none;
}

:host(.open.window-compact) .input,
:host(.closing.window-compact) .input {
  box-shadow: none;
  z-index: 22;
}

input {
  flex: 1;
  width: 100%;
  height: 56px;
  line-height: 56px;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  background: none;

  text-decoration: inherit;
  text-transform: inherit;
  font-size: var(--wfc-font-large-body-size);
  font-weight: var(--wfc-font-large-body-weight);
  line-height: var(--wfc-font-large-body-line-height);
  letter-spacing: var(--wfc-font-large-body-tracking);
  color: var(--wfc-on-surface);
  caret-color: var(--wfc-primary);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::placeholder {
  color: var(--wfc-on-surface-variant);
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}


.clear {
  position: absolute;
  right: 12px;
  pointer-events: none;
  opacity: 0;
  transition: opacity;
  transition-duration: var(--wfc-motion-duration-short2);
  transition-timing-function: var(--wfc-motion-easing-emphasized);
}

.input.has-value .clear {
  pointer-events: all;
  opacity: 1;
}

.mic {
  display: none;
}
.mic.show {
  display: inline-flex;
}

.back {
  position: relative;
  display: none;
}
/* used for composedPath on click event */
.back::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
:host(.open.window-compact) .back {
  display: inline-flex;
}

slot[name="leading"],
slot[name="trailing"] {
  display: contents;
}

:host(.open.window-compact) slot[name="leading"] {
  display: none;
}
.input.has-value slot[name="trailing"] {
  pointer-events: none;
}

slot[name="trailing"]::slotted(*) {
  opacity: 1;
  transition: opacity;
  transition-duration: var(--wfc-motion-duration-short2);
  transition-timing-function: var(--wfc-motion-easing-emphasized);
}

.input.has-value slot[name="trailing"]::slotted(*) {
  opacity: 0;
}

.search-icon {
  display: flex;
  width: 32px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.search-icon svg {
  width: 24px;
  height: 24px;
}

:host(.open.window-compact) .search-icon,
.input.has-leading .search-icon {
  display: none;
}

slot[name="chips"] {
  display: contents;
}

wfc-chip-set.hide {
  display: none;
}
