.label {
  display: none;
  font-size: var(--wfc-font-small-body-size);
  font-weight: var(--wfc-font-small-body-weight);
  letter-spacing: var(--wfc-font-small-body-tracking);
  line-height: 48px;
  margin-bottom: -8px;
  margin-left: 16px;
}

.label.has-results { 
  display: block;
}

slot {
  display: flex;
  flex-direction: column;
}
