:host {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
  overflow-x: auto;
  padding: 8px 8px;
  min-height: 32px;
}


input {
  display: none;
  box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  min-width: 0;

  text-decoration: inherit;
  text-transform: inherit;
  font-size: var(--mdw-font-large-body-size);
  font-weight: var(--mdw-font-large-body-weight);
  line-height: var(--mdw-font-large-body-line-height);
  letter-spacing: var(--mdw-font-large-body-tracking);
  color: var(--mdw-on-surface);
  caret-color: var(--mdw-primary);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

:host([input]) {
  /* align-items: center; */
  border-bottom: 1px solid;
  border-bottom-color: var(--mdw-on-surface-variant);
  /* padding-top: 12px; */
  padding-bottom: 10px;
  margin-bottom: 12px;
}

:host([input]) input {
  display: flex;
  flex: 1;
  padding-left: 8px;
}


.label {
  margin-left: -8px;
  height: 32px;
  line-height: 32px;
  font-size: var(--mdw-font-large-label-size);
  font-weight: var(--mdw-font-large-label-weight);
  letter-spacing: var(--mdw-font-large-label-tracking);
  text-decoration: inherit;
  text-transform: inherit;
  color: var(--mdw-on-surface-variant-alpha-76);
}


.label.has-label {
  margin-left: 0px;
  margin-right: 16px;
}
