:host {
  border-radius: var(--mdw-shape-large);

  width: 328px;
  height: 512px;
  max-height: 512px;
}

:host([modal]) {
  border-radius: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

:host([modal].input-view) {
  border-radius: var(--mdw-shape-large);
  width: 328px;
  max-height: 234px;
}

:host([modal].animate-view) {
  transition: width, max-height;
  transition-duration: var(--mdw-motion-duration-short3), var(--mdw-motion-duration-short2);
  transition-timing-function: var(--mdw-motion-easing-emphasized), var(--mdw-motion-easing-emphasized);
}

.surface-content {
  background-color: var(--mdw-surface-container-high);
  box-shadow: var(--mdw-elevation-3);
  overflow: hidden;
}

.item-padding {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 6px;
}

.days-controls {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 4px;
}

.month-label {
  margin-right: 8px
}

.header {
  display: none;
}

:host([modal]) .header {
  display: flex;
  height: 104px;
  padding: 0 12px;
  margin-bottom: 16px;
}

:host([modal].input-view) .header {
  height: 60px;
}

.header > * {
  display: flex;
  flex-direction: column;
}

.header-center {
  flex: 1;
  justify-content: flex-end;
  margin-left: 16px;
}
.header-right {
  align-items: flex-end;
  justify-content: space-between;
}

:host([modal].input-view) .header-right {
  justify-content: flex-end;
}


.header mdw-icon {
  padding: 12px;
  color: var(--mdw-on-surface-variant);
}

.close svg {
  transform: scale(1.2) translate(-2px, -2px);
}

:host(.input-view) .close,
:host(.input-view) .save {
  display: none;
}

.header .select-date {
  font-size: var(--mdw-font-medium-label-size);
  font-weight: var(--mdw-font-medium-label-weight);
  letter-spacing: var(--mdw-font-medium-label-tracking);
  color: var(--mdw-on-surface-variant);
  line-height: 16px;
  height: 16px;
  margin-bottom: 8px;
}

.header .display-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--mdw-on-surface-variant);
  cursor: pointer;
}

.header .display-date {
  font-size: var(--mdw-font-large-title-size);
  font-weight: var(--mdw-font-large-title-weight);
  letter-spacing: var(--mdw-font-large-title-tracking);
  line-height: 40px;
  height: 40px;
}

.divider {
  margin-bottom: 0px;
  margin-left: -12px;
  margin-right: -12px;
  border-top: 1px solid var(--mdw-outline-alpha-26);
}

:host(.input-view) .divider.bottom {
  display: none;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 12px;
  padding-top: 6px;
}

.week-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  height: 24px;
  width: 276px;
  margin-bottom: 8px;

  font-size: var(--mdw-font-small-body-size);
  font-weight: var(--mdw-font-small-body-weight);
  line-height: var(--mdw-font-small-body-line-height);
  letter-spacing: var(--mdw-font-small-body-tracking);
  color: var(--mdw-on-surface);
}

.month-days-container {
  position: relative;
  width: 100%;
  flex: 1;
  align-self: center;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

:host(.input-view) .week-header,
:host(.input-view) .month-days-container {
  display: none;
}

.inputs {
  display: none;
}
:host(.input-view) .inputs {
  display: flex;
  margin-top: 16px;
  gap: 12px;
  padding: 0 16px;
  justify-content: center;
}

.inputs mdw-textfield {
  flex: 1;
  width: 140px;
  margin-bottom: 16px;
}

.months-scroll-container {
  width: 100%;
}

.days-header {
  display: flex;
  margin-bottom: 12px;
  padding-left: calc((100% - 304px) / 2);
}

.year-label,
.month-label {
  font-size: var(--mdw-font-small-title-size);
  font-weight: var(--mdw-font-small-title-weight);
  line-height: var(--mdw-font-small-title-line-height);
  letter-spacing: var(--mdw-font-small-title-tracking);
  color: var(--mdw-on-surface-variant);
}

.scroll-spacer {
  width: 100%;
  height: 34776px;
}

.months-scroll-container {
  position: absolute;
  overflow: hidden;
}

.month {
  width: 100%;
  height: 322px;
  flex-shrink: 0;
}

.days-container {
  display: flex;
  flex-direction: column;
}

.days-container .days-inner {
  display: grid;
  height: 264px;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: repeat(6, 40px);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-items: center;
  justify-items: center;
  align-self: center;
  /* overflow: hidden; */
}

.day {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  user-select: none;
  box-sizing: border-box;
  cursor: pointer;
  pointer-events: none;
  border-radius: var(--mdw-shape-full);
  z-index: 1;

  font-size: var(--mdw-font-small-label-size);
  font-weight: var(--mdw-font-small-label-weight);
  line-height: var(--mdw-font-small-label-line-height);
  letter-spacing: var(--mdw-font-small-label-tracking);
  color: var(--mdw-on-surface);
}

.day::before,
.day::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  border-radius: var(--mdw-shape-full);
  z-index: -1;
}

.day::after {
  z-index: 1;
  opacity: 0;
  background-color: var(--mdw-on-surface-variant);
}

.day.interactive {
  cursor: pointer;
  pointer-events: auto;
}

.day.out-of-range {
  pointer-events: none;
  cursor: auto;
  color: var(--mdw-on-surface-alpha-60);
}

.day.selected {
  color: var(--mdw-on-primary);
}

.day.selected::before {
  background-color: var(--mdw-primary);
}

.day.selected:hover::after {
  background-color: var(--mdw-on-primary);
}

.day:hover::after {
  opacity: var(--mdw-state-layer-opacity-hover);
}

.day.today {
  border: 1px solid var(--mdw-outline-alpha-60);
}

.day.selected.start {
  background-color: var(--mdw-surface-variant);
  border-radius: var(--mdw-shape-full) 0 0 var(--mdw-shape-full);
}

.day.selected.end {
  background-color: var(--mdw-surface-variant);
  border-radius: 0 var(--mdw-shape-full) var(--mdw-shape-full) 0;
}

.day.selected-range:not(.not-current-month)::before {
  background-color: var(--mdw-surface-variant);
  border-radius: 0;
  margin-left: -2px;
  margin-right: -2px;
}

.day.selected-range.first-day::before {
  border-radius: var(--mdw-shape-full) 0 0 var(--mdw-shape-full);
  /* use pixels because margin is stretched */
  margin-left: 0;
}

.day.selected-range.last-day::before {
  border-radius: 0 var(--mdw-shape-full) var(--mdw-shape-full) 0;
  /* use pixels because margin is stretched */
  margin-right: 0;
}


.day.selected-range.sunday::before {
  margin-left: -100px;
}

.day.selected-range.saturday::before {
  margin-right: -100px;
}
