mdw-scrim {
  position: fixed;
  z-index: 11;
  opacity: 0;
  transition: opacity var(--mdw-motion-duration-short4);
  transition-timing-function: var(--mdw-motion-easing);
}

mdw-scrim.mdw-show {
  opacity: 1;
}

mdw-scrim::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--mdw-scrim-alpha-16);
}

mdw-scrim.mdw-local,
mdw-scrim.mdw-local::before {
  position: absolute;
  top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
