:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: var(--mdw-shape-full);
  overflow: hidden;

  background-color: var(--mdw-primary-container);
  font-size: var(--mdw-font-small-body-size);
  font-weight: var(--mdw-font-small-body-weight);
  letter-spacing: var(--mdw-font-small-body-tracking);
  color: var(--mdw-on-primary-container);
}

:host([onclick]) {
  cursor: pointer;
}

:host(.tertiary) {
  background-color: var(--mdw-tertiary-container);
  color: var(--mdw-on-tertiary-container);
}

:host::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--mdw-shape-full);
  background-color: var(--mdw-primary-inverse);
  opacity: 0;
  transition: opacity 0ms;
}
:host(.animation)::after {
  transition-duration: var(--mdw-motion-duration-short3);
}

:host(.checkbox)::after {
  cursor: pointer;
}

:host(.checked)::after {
  opacity: 1;
}

:host > svg {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
}

:host > svg > path {
  stroke-dashoffset: 22.910259;
  stroke-dasharray: 22.910259;
  animation: avatar-uncheck 0ms;
}
:host(.animation) > svg > path {
  animation-duration: 90ms;
}

:host(.checked) > svg {
  z-index: 1;
  opacity: 1;
}

:host(.checked) > svg > path {
  stroke-dashoffset: 0;
  animation: avatar-check 0ms;
}
:host(.animation.checked) > svg > path {
  animation-duration: 180ms;
}


@keyframes avatar-check {
  0%,
  50% {
    stroke-dashoffset: 22.910259;
  }

  50% {
    animation-timing-function: cubic-bezier(0, 0, 0.2, 0.1);
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes avatar-uncheck {
  from {
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    stroke-dashoffset: 0
  }

  to {
    stroke-dashoffset: -22.910259
  }
}

:host ::slotted(img) {
  width: 100%;
}
