:host {
  min-width: 20px;
  pointer-events: none;
  border-radius: var(--wfc-shape-extra-small);
}

.surface {
  pointer-events: none;
}

:host([rich].open),
:host([rich].open) .surface {
  pointer-events: all;
}

.surface-content {
  display: flex;
  flex-direction: column;
  height: 24px;
  padding: 0 8px;
  font-size: var(--wfc-font-small-label-size);
  font-weight: var(--wfc-font-small-label-weight);
  line-height: 24px;
  letter-spacing: var(--wfc-font-small-label-tracking);

  border-radius: var(--wfc-shape-extra-small);
  background-color: var(--wfc-surface-inverse);
  color: var(--wfc-on-surface-inverse);
}

:host([rich]) .surface-content {
  height: auto;
  padding: 12px 16px;
  padding-bottom: 8px;
  max-width: 320px;
  border-radius: var(--wfc-shape-small);
  font-size: var(--wfc-font-medium-body-size);
  font-weight: var(--wfc-font-medium-body-weight);
  line-height: var(--wfc-font-medium-body-line-height);
  letter-spacing: var(--wfc-font-medium-body-tracking);
  color: var(--wfc-on-surface-variant);
  background-color: var(--wfc-surface-container);
  box-shadow: var(--wfc-elevation-2);
}

[name="subhead"] {
  display: contents;

  font-size: var(--wfc-font-small-title-size);
  font-weight: var(--wfc-font-small-title-weight);
  line-height: var(--wfc-font-small-title-line-height);
  letter-spacing: var(--wfc-font-small-title-tracking);
  color: var(--wfc-on-surface-variant);
}

:host([rich]) slot.default-slot {
  padding-top: 4px;
  padding-bottom: 12px;
}

[name="actions"] {
  margin-left: -8px;
}
