:host {
  min-width: 20px;
  pointer-events: none;
  border-radius: var(--wfc-shape-extra-small);
}

.surface {
  pointer-events: none;
}

.surface-content {
  height: 24px;
  padding: 0 8px;
  font-size: var(--wfc-font-small-label-size);
  font-weight: var(--wfc-font-small-label-weight);
  line-height: 24px;
  letter-spacing: var(--wfc-font-small-label-tracking);

  border-radius: var(--wfc-shape-extra-small);
  background-color: var(--wfc-surface-inverse);
  color: var(--wfc-on-surface-inverse);
}



/* wfc-tooltip.rich {
  height: auto;
  min-height: 24px;
  max-width: 300px;
  background-color: var(--wfc-surface-container);
  color: var(--wfc-on-surface-variant);
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  letter-spacing: unset;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  pointer-events: all;
  white-space: normal;
  box-shadow: var(--wfc-elevation-2);
}

wfc-tooltip.rich .subheader {
  margin: 0;
  font-size: var(--wfc-font-small-title-size);
  font-weight: var(--wfc-font-small-title-weight);
  line-height: var(--wfc-font-small-title-line-height);
  letter-spacing: var(--wfc-font-small-title-tracking);
}

wfc-tooltip.rich .supporting-text {
  margin: 0;
  font-size: var(--wfc-font-medium-body-size);
  font-weight: var(--wfc-font-medium-body-weight);
  line-height: var(--wfc-font-medium-body-line-height);
  letter-spacing: var(--wfc-font-medium-body-tracking);
  padding-top: 4px;
}

wfc-tooltip.rich .actions {
  padding-top: 12px;
  margin-left: -12px;
} */
