:host {
  border-radius: var(--mdw-shape-extra-small);
}

.surface-content {
  width: 344px;
  height: 48px;
  padding: 0 16px;
  margin: 8px;

  box-shadow: var(--mdw-elevation-1);
  background-color: var(--mdw-surface-inverse);
  font-size: var(--mdw-font-medium-body-size);
  font-weight: var(--mdw-font-medium-body-weight);
  line-height: 24px;
  letter-spacing: var(--mdw-font-medium-body-tracking);
  color: var(--mdw-on-surface-inverse);
}

:host(.two-line) .surface-content {
  height: 68px;
}

slot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

::slotted(mdw-button),
::slotted(mdw-icon) {
  color: var(--mdw-primary-container);
}
