@import url(./theme.css);
@import url(./colorTokens.css);
@import url(./dracula.css);

:root {
  color-scheme: light;
  font-family: system-ui, Arial;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

/* #page-content {
  overflow-x: hidden;
} */

.page-title {
  margin-bottom: 0;
}

.page-subheader {
  margin-top: 8px;
}

.page-secondary-header {
  margin-bottom: 18px;
  margin-top: 28px;
}

.page-list {
  list-style-type: none;
  margin-left: -24px;
  margin-top: -4px;
  font-size: 18px;
  line-height: 32px;
  color: rgb(10, 100, 112);
}

.page-list strong {
  font-weight: bold;
  font-size: 20px;
  margin-right: 2px;
}

section {
  display: inline-flex;
  flex-direction: column;
}

pre {
  display: contents;
  margin: 0;
  white-space: pre-wrap;
}

mdw-card > pre:first-of-type > code {
  margin-top: 8px;
}

mdw-card > pre:last-of-type > code {
  border-radius: 0 0 var(--mdw-shape-medium) var(--mdw-shape-medium);
}

mdw-card .example {
  margin-top: 18px;
}

.github-link {
  display: flex;
  line-height: 40px;
  align-items: center;
}

mdw-card.header-card {
  margin-top: 16px;
  margin-bottom: 48px;
  padding-bottom: 8px;
  box-shadow: none;
}

mdw-card.header-card > .mdw-headline {
  font-size: 32px;
}

mdw-card > .mdw-card-content > .mdw-headline + .mdw-subheader {
  margin-top: 2px;
}

#page-content > section > mdw-card,
#page-content > section > .page-content-container > mdw-card {
  margin-bottom: 36px;
}

.code-collapse-top code {
  margin-top: 0;
  padding-top: 0;
}

.code-collapse-top code::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  margin-top: -20px;
}

.code-collapse-bottom code {
  margin-bottom: 0;
  padding-bottom: 0;
}

.code-collapse-bottom code::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  margin-bottom: -20px;
}

.code-collapse code {
  margin-top: 0;
  padding-top: 0;

  margin-bottom: 0;
  padding-bottom: 0;
}

.code-collapse code::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  margin-top: -20px;
  margin-bottom: -20px;
}


.mdw-supporting-text + .example {
  margin-top: 32px;
}


.page-content-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

body.mdw-window-compact .page-content-section {
  flex-direction: column;
}

.links-nav {
  margin-left: 48px;
  box-sizing: border-box;
  min-width: 190px;
}

.links-nav .page-secondary-header {
  padding-top: 16px;
  position: sticky;
  top: 0;
}

.links-nav .links {
  position: sticky;
  top: 48px;
  list-style-type: none;
  margin-top: -12px;
  padding-left: 0px;
}

.links a {
  width: 0;
  white-space: nowrap;
  display: block;
}

.page-content-container {
  flex: 1;
}

.page-content-container > mdw-card:first-of-type {
  margin-top: 48px;
}
