 :root {
  --mdw-primary-0: #000000;
  --mdw-primary-4: #13003a;
  --mdw-primary-6: #190048;
  --mdw-primary-10: #22005d;
  --mdw-primary-12: #260661;
  --mdw-primary-17: #31166b;
  --mdw-primary-20: #381e72;
  --mdw-primary-22: #3c2377;
  --mdw-primary-24: #41287b;
  --mdw-primary-25: #432b7e;
  --mdw-primary-30: #4f378a;
  --mdw-primary-35: #5b4397;
  --mdw-primary-40: #6750a4;
  --mdw-primary-50: #8069bf;
  --mdw-primary-60: #9a83db;
  --mdw-primary-70: #b69df7;
  --mdw-primary-80: #cfbcff;
  --mdw-primary-87: #e1d3ff;
  --mdw-primary-90: #e9ddff;
  --mdw-primary-92: #eee4ff;
  --mdw-primary-94: #f3eaff;
  --mdw-primary-95: #f6eeff;
  --mdw-primary-96: #f8f1ff;
  --mdw-primary-98: #fdf7ff;
  --mdw-primary-100: #ffffff;
  --mdw-secondary-0: #000000;
  --mdw-secondary-4: #100b1d;
  --mdw-secondary-6: #161023;
  --mdw-secondary-10: #1e192b;
  --mdw-secondary-12: #221d2f;
  --mdw-secondary-17: #2d273a;
  --mdw-secondary-20: #332d41;
  --mdw-secondary-22: #383246;
  --mdw-secondary-24: #3c364a;
  --mdw-secondary-25: #3e384d;
  --mdw-secondary-30: #4a4358;
  --mdw-secondary-35: #564f65;
  --mdw-secondary-40: #625b71;
  --mdw-secondary-50: #7b738a;
  --mdw-secondary-60: #958da5;
  --mdw-secondary-70: #b0a7c0;
  --mdw-secondary-80: #ccc2dc;
  --mdw-secondary-87: #e0d6f0;
  --mdw-secondary-90: #e8def9;
  --mdw-secondary-92: #eee4fe;
  --mdw-secondary-94: #f3eaff;
  --mdw-secondary-95: #f6edff;
  --mdw-secondary-96: #f8f1ff;
  --mdw-secondary-98: #fef7ff;
  --mdw-secondary-100: #ffffff;
  --mdw-tertiary-0: #000000;
  --mdw-tertiary-4: #200410;
  --mdw-tertiary-6: #270915;
  --mdw-tertiary-10: #31111d;
  --mdw-tertiary-12: #361521;
  --mdw-tertiary-17: #421f2c;
  --mdw-tertiary-20: #492532;
  --mdw-tertiary-22: #4e2936;
  --mdw-tertiary-24: #532e3b;
  --mdw-tertiary-25: #56303d;
  --mdw-tertiary-30: #633b48;
  --mdw-tertiary-35: #704654;
  --mdw-tertiary-40: #7d5260;
  --mdw-tertiary-50: #986a79;
  --mdw-tertiary-60: #b48392;
  --mdw-tertiary-70: #d19dad;
  --mdw-tertiary-80: #eeb8c8;
  --mdw-tertiary-87: #ffcddb;
  --mdw-tertiary-90: #ffd9e3;
  --mdw-tertiary-92: #ffe1e8;
  --mdw-tertiary-94: #ffe8ed;
  --mdw-tertiary-95: #ffecf0;
  --mdw-tertiary-96: #fff0f2;
  --mdw-tertiary-98: #fff8f8;
  --mdw-tertiary-100: #ffffff;
  --mdw-neutral-0: #000000;
  --mdw-neutral-4: #100c17;
  --mdw-neutral-6: #15111d;
  --mdw-neutral-10: #1e1a25;
  --mdw-neutral-12: #221e29;
  --mdw-neutral-17: #2c2834;
  --mdw-neutral-20: #332e3b;
  --mdw-neutral-22: #37333f;
  --mdw-neutral-24: #3c3744;
  --mdw-neutral-25: #3e3946;
  --mdw-neutral-30: #4a4452;
  --mdw-neutral-35: #56505e;
  --mdw-neutral-40: #625c6a;
  --mdw-neutral-50: #7b7483;
  --mdw-neutral-60: #958e9d;
  --mdw-neutral-70: #b0a8b8;
  --mdw-neutral-80: #ccc3d3;
  --mdw-neutral-87: #dfd7e7;
  --mdw-neutral-90: #e8dff0;
  --mdw-neutral-92: #eee5f6;
  --mdw-neutral-94: #f4eafb;
  --mdw-neutral-95: #f7edfe;
  --mdw-neutral-96: #f9f1ff;
  --mdw-neutral-98: #fef7ff;
  --mdw-neutral-100: #ffffff;
  --mdw-neutral-variant-0: #000000;
  --mdw-neutral-variant-4: #0f0d14;
  --mdw-neutral-variant-6: #14121a;
  --mdw-neutral-variant-10: #1d1a22;
  --mdw-neutral-variant-12: #211e26;
  --mdw-neutral-variant-17: #2b2931;
  --mdw-neutral-variant-20: #322f37;
  --mdw-neutral-variant-22: #36333c;
  --mdw-neutral-variant-24: #3b3840;
  --mdw-neutral-variant-25: #3d3a43;
  --mdw-neutral-variant-30: #49454e;
  --mdw-neutral-variant-35: #54515a;
  --mdw-neutral-variant-40: #615d66;
  --mdw-neutral-variant-50: #7a757f;
  --mdw-neutral-variant-60: #948f99;
  --mdw-neutral-variant-70: #afa9b4;
  --mdw-neutral-variant-80: #cac4cf;
  --mdw-neutral-variant-87: #ded8e3;
  --mdw-neutral-variant-90: #e7e0eb;
  --mdw-neutral-variant-92: #ece6f1;
  --mdw-neutral-variant-94: #f2ebf7;
  --mdw-neutral-variant-95: #f5eefa;
  --mdw-neutral-variant-96: #f8f1fd;
  --mdw-neutral-variant-98: #fdf7ff;
  --mdw-neutral-variant-100: #ffffff;
  --mdw-error-0: #000000;
  --mdw-error-4: #280001;
  --mdw-error-6: #310001;
  --mdw-error-10: #410002;
  --mdw-error-12: #490002;
  --mdw-error-17: #5c0004;
  --mdw-error-20: #690005;
  --mdw-error-22: #710005;
  --mdw-error-24: #790006;
  --mdw-error-25: #7e0007;
  --mdw-error-30: #93000a;
  --mdw-error-35: #a80710;
  --mdw-error-40: #ba1a1a;
  --mdw-error-50: #de3730;
  --mdw-error-60: #ff5449;
  --mdw-error-70: #ff897d;
  --mdw-error-80: #ffb4ab;
  --mdw-error-87: #ffcfc9;
  --mdw-error-90: #ffdad6;
  --mdw-error-92: #ffe2de;
  --mdw-error-94: #ffe9e6;
  --mdw-error-95: #ffedea;
  --mdw-error-96: #fff0ee;
  --mdw-error-98: #fff8f7;
  --mdw-error-100: #ffffff;
  
    /* alphas */
  --mdw-primary-alpha-0: #6750a400;
  --mdw-primary-alpha-4: #6750a40a;
  --mdw-primary-alpha-5: #6750a40d;
  --mdw-primary-alpha-6: #6750a40f;
  --mdw-primary-alpha-8: #6750a414;
  --mdw-primary-alpha-10: #6750a41a;
  --mdw-primary-alpha-11: #6750a41c;
  --mdw-primary-alpha-12: #6750a41f;
  --mdw-primary-alpha-16: #6750a429;
  --mdw-primary-alpha-20: #6750a433;
  --mdw-primary-alpha-26: #6750a442;
  --mdw-primary-alpha-38: #6750a461;
  --mdw-primary-alpha-60: #6750a499;
  --mdw-primary-alpha-76: #6750a4c2;
  --mdw-on-primary-alpha-0: #ffffff00;
  --mdw-on-primary-alpha-4: #ffffff0a;
  --mdw-on-primary-alpha-5: #ffffff0d;
  --mdw-on-primary-alpha-6: #ffffff0f;
  --mdw-on-primary-alpha-8: #ffffff14;
  --mdw-on-primary-alpha-10: #ffffff1a;
  --mdw-on-primary-alpha-11: #ffffff1c;
  --mdw-on-primary-alpha-12: #ffffff1f;
  --mdw-on-primary-alpha-16: #ffffff29;
  --mdw-on-primary-alpha-20: #ffffff33;
  --mdw-on-primary-alpha-26: #ffffff42;
  --mdw-on-primary-alpha-38: #ffffff61;
  --mdw-on-primary-alpha-60: #ffffff99;
  --mdw-on-primary-alpha-76: #ffffffc2;
  --mdw-on-primary-container-alpha-0: #22005d00;
  --mdw-on-primary-container-alpha-4: #22005d0a;
  --mdw-on-primary-container-alpha-5: #22005d0d;
  --mdw-on-primary-container-alpha-6: #22005d0f;
  --mdw-on-primary-container-alpha-8: #22005d14;
  --mdw-on-primary-container-alpha-10: #22005d1a;
  --mdw-on-primary-container-alpha-11: #22005d1c;
  --mdw-on-primary-container-alpha-12: #22005d1f;
  --mdw-on-primary-container-alpha-16: #22005d29;
  --mdw-on-primary-container-alpha-20: #22005d33;
  --mdw-on-primary-container-alpha-26: #22005d42;
  --mdw-on-primary-container-alpha-38: #22005d61;
  --mdw-on-primary-container-alpha-60: #22005d99;
  --mdw-on-primary-container-alpha-76: #22005dc2;
  --mdw-on-secondary-container-alpha-0: #1e192b00;
  --mdw-on-secondary-container-alpha-4: #1e192b0a;
  --mdw-on-secondary-container-alpha-5: #1e192b0d;
  --mdw-on-secondary-container-alpha-6: #1e192b0f;
  --mdw-on-secondary-container-alpha-8: #1e192b14;
  --mdw-on-secondary-container-alpha-10: #1e192b1a;
  --mdw-on-secondary-container-alpha-11: #1e192b1c;
  --mdw-on-secondary-container-alpha-12: #1e192b1f;
  --mdw-on-secondary-container-alpha-16: #1e192b29;
  --mdw-on-secondary-container-alpha-20: #1e192b33;
  --mdw-on-secondary-container-alpha-26: #1e192b42;
  --mdw-on-secondary-container-alpha-38: #1e192b61;
  --mdw-on-secondary-container-alpha-60: #1e192b99;
  --mdw-on-secondary-container-alpha-76: #1e192bc2;
  --mdw-surface-alpha-0: #fef7ff00;
  --mdw-surface-alpha-4: #fef7ff0a;
  --mdw-surface-alpha-5: #fef7ff0d;
  --mdw-surface-alpha-6: #fef7ff0f;
  --mdw-surface-alpha-8: #fef7ff14;
  --mdw-surface-alpha-10: #fef7ff1a;
  --mdw-surface-alpha-11: #fef7ff1c;
  --mdw-surface-alpha-12: #fef7ff1f;
  --mdw-surface-alpha-16: #fef7ff29;
  --mdw-surface-alpha-20: #fef7ff33;
  --mdw-surface-alpha-26: #fef7ff42;
  --mdw-surface-alpha-38: #fef7ff61;
  --mdw-surface-alpha-60: #fef7ff99;
  --mdw-surface-alpha-76: #fef7ffc2;
  --mdw-on-surface-alpha-0: #1e1a2500;
  --mdw-on-surface-alpha-4: #1e1a250a;
  --mdw-on-surface-alpha-5: #1e1a250d;
  --mdw-on-surface-alpha-6: #1e1a250f;
  --mdw-on-surface-alpha-8: #1e1a2514;
  --mdw-on-surface-alpha-10: #1e1a251a;
  --mdw-on-surface-alpha-11: #1e1a251c;
  --mdw-on-surface-alpha-12: #1e1a251f;
  --mdw-on-surface-alpha-16: #1e1a2529;
  --mdw-on-surface-alpha-20: #1e1a2533;
  --mdw-on-surface-alpha-26: #1e1a2542;
  --mdw-on-surface-alpha-38: #1e1a2561;
  --mdw-on-surface-alpha-60: #1e1a2599;
  --mdw-on-surface-alpha-76: #1e1a25c2;
  --mdw-on-surface-variant-alpha-0: #49454e00;
  --mdw-on-surface-variant-alpha-4: #49454e0a;
  --mdw-on-surface-variant-alpha-5: #49454e0d;
  --mdw-on-surface-variant-alpha-6: #49454e0f;
  --mdw-on-surface-variant-alpha-8: #49454e14;
  --mdw-on-surface-variant-alpha-10: #49454e1a;
  --mdw-on-surface-variant-alpha-11: #49454e1c;
  --mdw-on-surface-variant-alpha-12: #49454e1f;
  --mdw-on-surface-variant-alpha-16: #49454e29;
  --mdw-on-surface-variant-alpha-20: #49454e33;
  --mdw-on-surface-variant-alpha-26: #49454e42;
  --mdw-on-surface-variant-alpha-38: #49454e61;
  --mdw-on-surface-variant-alpha-60: #49454e99;
  --mdw-on-surface-variant-alpha-76: #49454ec2;
  --mdw-surface-tint-alpha-0: #6750a400;
  --mdw-surface-tint-alpha-4: #6750a40a;
  --mdw-surface-tint-alpha-5: #6750a40d;
  --mdw-surface-tint-alpha-6: #6750a40f;
  --mdw-surface-tint-alpha-8: #6750a414;
  --mdw-surface-tint-alpha-10: #6750a41a;
  --mdw-surface-tint-alpha-11: #6750a41c;
  --mdw-surface-tint-alpha-12: #6750a41f;
  --mdw-surface-tint-alpha-16: #6750a429;
  --mdw-surface-tint-alpha-20: #6750a433;
  --mdw-surface-tint-alpha-26: #6750a442;
  --mdw-surface-tint-alpha-38: #6750a461;
  --mdw-surface-tint-alpha-60: #6750a499;
  --mdw-surface-tint-alpha-76: #6750a4c2;
  --mdw-outline-alpha-0: #7a757f00;
  --mdw-outline-alpha-4: #7a757f0a;
  --mdw-outline-alpha-5: #7a757f0d;
  --mdw-outline-alpha-6: #7a757f0f;
  --mdw-outline-alpha-8: #7a757f14;
  --mdw-outline-alpha-10: #7a757f1a;
  --mdw-outline-alpha-11: #7a757f1c;
  --mdw-outline-alpha-12: #7a757f1f;
  --mdw-outline-alpha-16: #7a757f29;
  --mdw-outline-alpha-20: #7a757f33;
  --mdw-outline-alpha-26: #7a757f42;
  --mdw-outline-alpha-38: #7a757f61;
  --mdw-outline-alpha-60: #7a757f99;
  --mdw-outline-alpha-76: #7a757fc2;
  --mdw-shadow-alpha-0: #00000000;
  --mdw-shadow-alpha-4: #0000000a;
  --mdw-shadow-alpha-5: #0000000d;
  --mdw-shadow-alpha-6: #0000000f;
  --mdw-shadow-alpha-8: #00000014;
  --mdw-shadow-alpha-10: #0000001a;
  --mdw-shadow-alpha-11: #0000001c;
  --mdw-shadow-alpha-12: #0000001f;
  --mdw-shadow-alpha-16: #00000029;
  --mdw-shadow-alpha-20: #00000033;
  --mdw-shadow-alpha-26: #00000042;
  --mdw-shadow-alpha-38: #00000061;
  --mdw-shadow-alpha-60: #00000099;
  --mdw-shadow-alpha-76: #000000c2;
  --mdw-scrim-alpha-0: #00000000;
  --mdw-scrim-alpha-4: #0000000a;
  --mdw-scrim-alpha-5: #0000000d;
  --mdw-scrim-alpha-6: #0000000f;
  --mdw-scrim-alpha-8: #00000014;
  --mdw-scrim-alpha-10: #0000001a;
  --mdw-scrim-alpha-11: #0000001c;
  --mdw-scrim-alpha-12: #0000001f;
  --mdw-scrim-alpha-16: #00000029;
  --mdw-scrim-alpha-20: #00000033;
  --mdw-scrim-alpha-26: #00000042;
  --mdw-scrim-alpha-38: #00000061;
  --mdw-scrim-alpha-60: #00000099;
  --mdw-scrim-alpha-76: #000000c2;
  
    /* custom colors */
  --mdw-custom-color-colorName-0: #000000;
  --mdw-custom-color-colorName-4: #00120a;
  --mdw-custom-color-colorName-6: #03170f;
  --mdw-custom-color-colorName-10: #0a1f17;
  --mdw-custom-color-colorName-12: #0f231b;
  --mdw-custom-color-colorName-17: #192e25;
  --mdw-custom-color-colorName-20: #20352b;
  --mdw-custom-color-colorName-22: #243930;
  --mdw-custom-color-colorName-24: #293d34;
  --mdw-custom-color-colorName-25: #2b4036;
  --mdw-custom-color-colorName-30: #364b41;
  --mdw-custom-color-colorName-35: #42574d;
  --mdw-custom-color-colorName-40: #4d6358;
  --mdw-custom-color-colorName-50: #667c71;
  --mdw-custom-color-colorName-60: #7f968a;
  --mdw-custom-color-colorName-70: #99b1a4;
  --mdw-custom-color-colorName-80: #b4ccbf;
  --mdw-custom-color-colorName-87: #c8e0d2;
  --mdw-custom-color-colorName-90: #d0e8db;
  --mdw-custom-color-colorName-92: #d6eee0;
  --mdw-custom-color-colorName-94: #dbf4e6;
  --mdw-custom-color-colorName-95: #def6e9;
  --mdw-custom-color-colorName-96: #e1f9eb;
  --mdw-custom-color-colorName-98: #e7fff1;
  --mdw-custom-color-colorName-100: #ffffff;
}
  