 :root {
  --wfc-primary-0: #000000;
  --wfc-primary-4: #13003a;
  --wfc-primary-6: #190048;
  --wfc-primary-10: #22005d;
  --wfc-primary-12: #260561;
  --wfc-primary-17: #31166c;
  --wfc-primary-20: #381e72;
  --wfc-primary-22: #3c2377;
  --wfc-primary-24: #41287c;
  --wfc-primary-25: #432b7e;
  --wfc-primary-30: #4f378a;
  --wfc-primary-35: #5b4397;
  --wfc-primary-40: #6750a4;
  --wfc-primary-50: #8069bf;
  --wfc-primary-60: #9a83db;
  --wfc-primary-70: #b69df8;
  --wfc-primary-80: #cfbcff;
  --wfc-primary-87: #e1d3ff;
  --wfc-primary-90: #e9ddff;
  --wfc-primary-92: #eee4ff;
  --wfc-primary-94: #f3eaff;
  --wfc-primary-95: #f6eeff;
  --wfc-primary-96: #f8f1ff;
  --wfc-primary-98: #fdf7ff;
  --wfc-primary-100: #ffffff;
  --wfc-secondary-0: #000000;
  --wfc-secondary-4: #100b1d;
  --wfc-secondary-6: #151022;
  --wfc-secondary-10: #1e192b;
  --wfc-secondary-12: #221d2f;
  --wfc-secondary-17: #2c273a;
  --wfc-secondary-20: #332d41;
  --wfc-secondary-22: #373245;
  --wfc-secondary-24: #3c364a;
  --wfc-secondary-25: #3e384c;
  --wfc-secondary-30: #4a4458;
  --wfc-secondary-35: #564f64;
  --wfc-secondary-40: #625b71;
  --wfc-secondary-50: #7b748a;
  --wfc-secondary-60: #958da4;
  --wfc-secondary-70: #b0a7c0;
  --wfc-secondary-80: #cbc2db;
  --wfc-secondary-87: #dfd6ef;
  --wfc-secondary-90: #e8def8;
  --wfc-secondary-92: #eee4fe;
  --wfc-secondary-94: #f3eaff;
  --wfc-secondary-95: #f6eeff;
  --wfc-secondary-96: #f8f1ff;
  --wfc-secondary-98: #fdf7ff;
  --wfc-secondary-100: #ffffff;
  --wfc-tertiary-0: #000000;
  --wfc-tertiary-4: #210410;
  --wfc-tertiary-6: #270815;
  --wfc-tertiary-10: #31101d;
  --wfc-tertiary-12: #361421;
  --wfc-tertiary-17: #421f2c;
  --wfc-tertiary-20: #4a2532;
  --wfc-tertiary-22: #4f2936;
  --wfc-tertiary-24: #542e3b;
  --wfc-tertiary-25: #56303d;
  --wfc-tertiary-30: #633b48;
  --wfc-tertiary-35: #704654;
  --wfc-tertiary-40: #7e5260;
  --wfc-tertiary-50: #996a79;
  --wfc-tertiary-60: #b58392;
  --wfc-tertiary-70: #d29dad;
  --wfc-tertiary-80: #efb8c8;
  --wfc-tertiary-87: #ffcddb;
  --wfc-tertiary-90: #ffd9e3;
  --wfc-tertiary-92: #ffe1e8;
  --wfc-tertiary-94: #ffe8ed;
  --wfc-tertiary-95: #ffecf0;
  --wfc-tertiary-96: #fff0f2;
  --wfc-tertiary-98: #fff8f8;
  --wfc-tertiary-100: #ffffff;
  --wfc-neutral-0: #000000;
  --wfc-neutral-4: #0f0e11;
  --wfc-neutral-6: #141316;
  --wfc-neutral-10: #1c1b1e;
  --wfc-neutral-12: #201f22;
  --wfc-neutral-17: #2b292d;
  --wfc-neutral-20: #313033;
  --wfc-neutral-22: #363438;
  --wfc-neutral-24: #3a383c;
  --wfc-neutral-25: #3d3b3e;
  --wfc-neutral-30: #48464a;
  --wfc-neutral-35: #545156;
  --wfc-neutral-40: #605d62;
  --wfc-neutral-50: #79767a;
  --wfc-neutral-60: #938f94;
  --wfc-neutral-70: #aeaaae;
  --wfc-neutral-80: #cac5ca;
  --wfc-neutral-87: #ddd8dd;
  --wfc-neutral-90: #e6e1e6;
  --wfc-neutral-92: #ece7eb;
  --wfc-neutral-94: #f2ecf1;
  --wfc-neutral-95: #f4eff4;
  --wfc-neutral-96: #f7f2f7;
  --wfc-neutral-98: #fdf8fd;
  --wfc-neutral-100: #ffffff;
  --wfc-error-0: #000000;
  --wfc-error-4: #280001;
  --wfc-error-6: #310001;
  --wfc-error-10: #410002;
  --wfc-error-12: #490002;
  --wfc-error-17: #5c0004;
  --wfc-error-20: #690005;
  --wfc-error-22: #710005;
  --wfc-error-24: #790006;
  --wfc-error-25: #7e0007;
  --wfc-error-30: #93000a;
  --wfc-error-35: #a80710;
  --wfc-error-40: #ba1a1a;
  --wfc-error-50: #de3730;
  --wfc-error-60: #ff5449;
  --wfc-error-70: #ff897d;
  --wfc-error-80: #ffb4ab;
  --wfc-error-87: #ffcfc9;
  --wfc-error-90: #ffdad6;
  --wfc-error-92: #ffe2de;
  --wfc-error-94: #ffe9e6;
  --wfc-error-95: #ffedea;
  --wfc-error-96: #fff0ee;
  --wfc-error-98: #fff8f7;
  --wfc-error-100: #ffffff;
  --wfc-neutral-variant-0: #000000;
  --wfc-neutral-variant-4: #0f0d14;
  --wfc-neutral-variant-6: #14121a;
  --wfc-neutral-variant-10: #1d1a22;
  --wfc-neutral-variant-12: #211e26;
  --wfc-neutral-variant-17: #2b2931;
  --wfc-neutral-variant-20: #322f38;
  --wfc-neutral-variant-22: #36333c;
  --wfc-neutral-variant-24: #3b3840;
  --wfc-neutral-variant-25: #3d3a43;
  --wfc-neutral-variant-30: #49454e;
  --wfc-neutral-variant-35: #54515a;
  --wfc-neutral-variant-40: #615d66;
  --wfc-neutral-variant-50: #7a757f;
  --wfc-neutral-variant-60: #948f99;
  --wfc-neutral-variant-70: #afa9b4;
  --wfc-neutral-variant-80: #cac4cf;
  --wfc-neutral-variant-87: #ded8e3;
  --wfc-neutral-variant-90: #e7e0eb;
  --wfc-neutral-variant-92: #ece6f1;
  --wfc-neutral-variant-94: #f2ebf7;
  --wfc-neutral-variant-95: #f5eefa;
  --wfc-neutral-variant-96: #f8f1fd;
  --wfc-neutral-variant-98: #fdf7ff;
  --wfc-neutral-variant-100: #ffffff;
  
    /* alphas */
  --wfc-primary-alpha-0: #6750a400;
  --wfc-primary-alpha-4: #6750a40a;
  --wfc-primary-alpha-5: #6750a40d;
  --wfc-primary-alpha-6: #6750a40f;
  --wfc-primary-alpha-8: #6750a414;
  --wfc-primary-alpha-10: #6750a41a;
  --wfc-primary-alpha-11: #6750a41c;
  --wfc-primary-alpha-12: #6750a41f;
  --wfc-primary-alpha-16: #6750a429;
  --wfc-primary-alpha-20: #6750a433;
  --wfc-primary-alpha-26: #6750a442;
  --wfc-primary-alpha-38: #6750a461;
  --wfc-primary-alpha-60: #6750a499;
  --wfc-primary-alpha-76: #6750a4c2;
  --wfc-on-primary-alpha-0: #ffffff00;
  --wfc-on-primary-alpha-4: #ffffff0a;
  --wfc-on-primary-alpha-5: #ffffff0d;
  --wfc-on-primary-alpha-6: #ffffff0f;
  --wfc-on-primary-alpha-8: #ffffff14;
  --wfc-on-primary-alpha-10: #ffffff1a;
  --wfc-on-primary-alpha-11: #ffffff1c;
  --wfc-on-primary-alpha-12: #ffffff1f;
  --wfc-on-primary-alpha-16: #ffffff29;
  --wfc-on-primary-alpha-20: #ffffff33;
  --wfc-on-primary-alpha-26: #ffffff42;
  --wfc-on-primary-alpha-38: #ffffff61;
  --wfc-on-primary-alpha-60: #ffffff99;
  --wfc-on-primary-alpha-76: #ffffffc2;
  --wfc-on-primary-container-alpha-0: #22005d00;
  --wfc-on-primary-container-alpha-4: #22005d0a;
  --wfc-on-primary-container-alpha-5: #22005d0d;
  --wfc-on-primary-container-alpha-6: #22005d0f;
  --wfc-on-primary-container-alpha-8: #22005d14;
  --wfc-on-primary-container-alpha-10: #22005d1a;
  --wfc-on-primary-container-alpha-11: #22005d1c;
  --wfc-on-primary-container-alpha-12: #22005d1f;
  --wfc-on-primary-container-alpha-16: #22005d29;
  --wfc-on-primary-container-alpha-20: #22005d33;
  --wfc-on-primary-container-alpha-26: #22005d42;
  --wfc-on-primary-container-alpha-38: #22005d61;
  --wfc-on-primary-container-alpha-60: #22005d99;
  --wfc-on-primary-container-alpha-76: #22005dc2;
  --wfc-on-secondary-container-alpha-0: #1e192b00;
  --wfc-on-secondary-container-alpha-4: #1e192b0a;
  --wfc-on-secondary-container-alpha-5: #1e192b0d;
  --wfc-on-secondary-container-alpha-6: #1e192b0f;
  --wfc-on-secondary-container-alpha-8: #1e192b14;
  --wfc-on-secondary-container-alpha-10: #1e192b1a;
  --wfc-on-secondary-container-alpha-11: #1e192b1c;
  --wfc-on-secondary-container-alpha-12: #1e192b1f;
  --wfc-on-secondary-container-alpha-16: #1e192b29;
  --wfc-on-secondary-container-alpha-20: #1e192b33;
  --wfc-on-secondary-container-alpha-26: #1e192b42;
  --wfc-on-secondary-container-alpha-38: #1e192b61;
  --wfc-on-secondary-container-alpha-60: #1e192b99;
  --wfc-on-secondary-container-alpha-76: #1e192bc2;
  --wfc-surface-alpha-0: #fdf8fd00;
  --wfc-surface-alpha-4: #fdf8fd0a;
  --wfc-surface-alpha-5: #fdf8fd0d;
  --wfc-surface-alpha-6: #fdf8fd0f;
  --wfc-surface-alpha-8: #fdf8fd14;
  --wfc-surface-alpha-10: #fdf8fd1a;
  --wfc-surface-alpha-11: #fdf8fd1c;
  --wfc-surface-alpha-12: #fdf8fd1f;
  --wfc-surface-alpha-16: #fdf8fd29;
  --wfc-surface-alpha-20: #fdf8fd33;
  --wfc-surface-alpha-26: #fdf8fd42;
  --wfc-surface-alpha-38: #fdf8fd61;
  --wfc-surface-alpha-60: #fdf8fd99;
  --wfc-surface-alpha-76: #fdf8fdc2;
  --wfc-on-surface-alpha-0: #1c1b1e00;
  --wfc-on-surface-alpha-4: #1c1b1e0a;
  --wfc-on-surface-alpha-5: #1c1b1e0d;
  --wfc-on-surface-alpha-6: #1c1b1e0f;
  --wfc-on-surface-alpha-8: #1c1b1e14;
  --wfc-on-surface-alpha-10: #1c1b1e1a;
  --wfc-on-surface-alpha-11: #1c1b1e1c;
  --wfc-on-surface-alpha-12: #1c1b1e1f;
  --wfc-on-surface-alpha-16: #1c1b1e29;
  --wfc-on-surface-alpha-20: #1c1b1e33;
  --wfc-on-surface-alpha-26: #1c1b1e42;
  --wfc-on-surface-alpha-38: #1c1b1e61;
  --wfc-on-surface-alpha-60: #1c1b1e99;
  --wfc-on-surface-alpha-76: #1c1b1ec2;
  --wfc-on-surface-variant-alpha-0: #49454e00;
  --wfc-on-surface-variant-alpha-4: #49454e0a;
  --wfc-on-surface-variant-alpha-5: #49454e0d;
  --wfc-on-surface-variant-alpha-6: #49454e0f;
  --wfc-on-surface-variant-alpha-8: #49454e14;
  --wfc-on-surface-variant-alpha-10: #49454e1a;
  --wfc-on-surface-variant-alpha-11: #49454e1c;
  --wfc-on-surface-variant-alpha-12: #49454e1f;
  --wfc-on-surface-variant-alpha-16: #49454e29;
  --wfc-on-surface-variant-alpha-20: #49454e33;
  --wfc-on-surface-variant-alpha-26: #49454e42;
  --wfc-on-surface-variant-alpha-38: #49454e61;
  --wfc-on-surface-variant-alpha-60: #49454e99;
  --wfc-on-surface-variant-alpha-76: #49454ec2;
  --wfc-surface-tint-alpha-0: #6750a400;
  --wfc-surface-tint-alpha-4: #6750a40a;
  --wfc-surface-tint-alpha-5: #6750a40d;
  --wfc-surface-tint-alpha-6: #6750a40f;
  --wfc-surface-tint-alpha-8: #6750a414;
  --wfc-surface-tint-alpha-10: #6750a41a;
  --wfc-surface-tint-alpha-11: #6750a41c;
  --wfc-surface-tint-alpha-12: #6750a41f;
  --wfc-surface-tint-alpha-16: #6750a429;
  --wfc-surface-tint-alpha-20: #6750a433;
  --wfc-surface-tint-alpha-26: #6750a442;
  --wfc-surface-tint-alpha-38: #6750a461;
  --wfc-surface-tint-alpha-60: #6750a499;
  --wfc-surface-tint-alpha-76: #6750a4c2;
  --wfc-outline-alpha-0: #7a757f00;
  --wfc-outline-alpha-4: #7a757f0a;
  --wfc-outline-alpha-5: #7a757f0d;
  --wfc-outline-alpha-6: #7a757f0f;
  --wfc-outline-alpha-8: #7a757f14;
  --wfc-outline-alpha-10: #7a757f1a;
  --wfc-outline-alpha-11: #7a757f1c;
  --wfc-outline-alpha-12: #7a757f1f;
  --wfc-outline-alpha-16: #7a757f29;
  --wfc-outline-alpha-20: #7a757f33;
  --wfc-outline-alpha-26: #7a757f42;
  --wfc-outline-alpha-38: #7a757f61;
  --wfc-outline-alpha-60: #7a757f99;
  --wfc-outline-alpha-76: #7a757fc2;
  --wfc-shadow-alpha-0: #00000000;
  --wfc-shadow-alpha-4: #0000000a;
  --wfc-shadow-alpha-5: #0000000d;
  --wfc-shadow-alpha-6: #0000000f;
  --wfc-shadow-alpha-8: #00000014;
  --wfc-shadow-alpha-10: #0000001a;
  --wfc-shadow-alpha-11: #0000001c;
  --wfc-shadow-alpha-12: #0000001f;
  --wfc-shadow-alpha-16: #00000029;
  --wfc-shadow-alpha-20: #00000033;
  --wfc-shadow-alpha-26: #00000042;
  --wfc-shadow-alpha-38: #00000061;
  --wfc-shadow-alpha-60: #00000099;
  --wfc-shadow-alpha-76: #000000c2;
  --wfc-scrim-alpha-0: #00000000;
  --wfc-scrim-alpha-4: #0000000a;
  --wfc-scrim-alpha-5: #0000000d;
  --wfc-scrim-alpha-6: #0000000f;
  --wfc-scrim-alpha-8: #00000014;
  --wfc-scrim-alpha-10: #0000001a;
  --wfc-scrim-alpha-11: #0000001c;
  --wfc-scrim-alpha-12: #0000001f;
  --wfc-scrim-alpha-16: #00000029;
  --wfc-scrim-alpha-20: #00000033;
  --wfc-scrim-alpha-26: #00000042;
  --wfc-scrim-alpha-38: #00000061;
  --wfc-scrim-alpha-60: #00000099;
  --wfc-scrim-alpha-76: #000000c2;
  
  
}

  