/* hide page while loading */
html:not(.mdw-initiated) body {
  opacity: 0;
  pointer-events: none;
}

/* Add 'color-scheme: dark | light;' to the html element style */
/* Default theme will use system preference */


:root {
  /* The only required variable to change theme */
  --mdw-primary-source: #6750A4;

  /* These are recommended to better control the theme */
  --mdw-secondary-source: #625B71;
  --mdw-tertiary-source: #7D5260;
  --mdw-neutral-source: #67616f;

  /* Additional color controls */
  /* --mdw-neutral-variant-source: #605666; */
  /* --mdw-error-source: #B3261E; */


  /* Add custom color pallets. Will generate full tone range */
  /* --mdw-custom-color-colorName: #5b7166; */


  /* set separate font families */
  /* --mdw-font-brand: 'Roboto'; */
  /* --mdw-font-plain: 'Roboto'; */
}
