/* hide while loading */
html:not(.mdw-initiated) body {
  opacity: 0;
  pointer-events: none;
}
:root {
  /* tones */
  --mdw-primary: #6750A4;
  --mdw-primary-0: #000000;
  --mdw-primary-4: #1b0048;
  --mdw-primary-6: #1c004d;
  --mdw-primary-10: #200358;
  --mdw-primary-12: #25095d;
  --mdw-primary-17: #44316c;
  --mdw-primary-20: #3a2271;
  --mdw-primary-22: #3f2776;
  --mdw-primary-24: #432a7b;
  --mdw-primary-30: #4f378b;
  --mdw-primary-40: #6750A4;
  --mdw-primary-50: #7f67be;
  --mdw-primary-60: #9f88d7;
  --mdw-primary-70: #bda7f1;
  --mdw-primary-80: #d1bbff;
  --mdw-primary-87: #decdff;
  --mdw-primary-90: #e3d5ff;
  --mdw-primary-92: #e9dcff;
  --mdw-primary-94: #eee4ff;
  --mdw-primary-95: #f0e6ff;
  --mdw-primary-96: #f2e9ff;
  --mdw-primary-98: #f4ecff;
  --mdw-primary-100: #ffffff;
  --mdw-secondary: #625B71;
  --mdw-secondary-0: #000000;
  --mdw-secondary-4: #090015;
  --mdw-secondary-6: #0d041a;
  --mdw-secondary-10: #170f24;
  --mdw-secondary-12: #1c142a;
  --mdw-secondary-17: #3c3c3c;
  --mdw-secondary-20: #332d3e;
  --mdw-secondary-22: #383243;
  --mdw-secondary-24: #3c3548;
  --mdw-secondary-30: #494258;
  --mdw-secondary-40: #625B71;
  --mdw-secondary-50: #7a728b;
  --mdw-secondary-60: #9993a4;
  --mdw-secondary-70: #b6b2be;
  --mdw-secondary-80: #ccc6d7;
  --mdw-secondary-87: #e1d8f1;
  --mdw-secondary-90: #eae0fb;
  --mdw-secondary-92: #f1e7ff;
  --mdw-secondary-94: #f6efff;
  --mdw-secondary-95: #f8f1ff;
  --mdw-secondary-96: #f9f4ff;
  --mdw-secondary-98: #fbf7ff;
  --mdw-secondary-100: #ffffff;
  --mdw-tertiary: #7D5260;
  --mdw-tertiary-0: #000000;
  --mdw-tertiary-4: #210007;
  --mdw-tertiary-6: #260009;
  --mdw-tertiary-10: #310511;
  --mdw-tertiary-12: #360b16;
  --mdw-tertiary-17: #453338;
  --mdw-tertiary-20: #4a242f;
  --mdw-tertiary-22: #4f2934;
  --mdw-tertiary-24: #542c38;
  --mdw-tertiary-30: #643946;
  --mdw-tertiary-40: #7D5260;
  --mdw-tertiary-50: #976978;
  --mdw-tertiary-60: #b08a96;
  --mdw-tertiary-70: #caa9b2;
  --mdw-tertiary-80: #e3bdc8;
  --mdw-tertiary-87: #fdcfdb;
  --mdw-tertiary-90: #ffd7e1;
  --mdw-tertiary-92: #ffdee6;
  --mdw-tertiary-94: #ffe6eb;
  --mdw-tertiary-95: #ffe8ed;
  --mdw-tertiary-96: #ffebef;
  --mdw-tertiary-98: #ffeef0;
  --mdw-tertiary-100: #ffffff;
  --mdw-error: #B3261E;
  --mdw-error-0: #000000;
  --mdw-error-4: #570d00;
  --mdw-error-6: #5c0d00;
  --mdw-error-10: #670c00;
  --mdw-error-12: #6c0d00;
  --mdw-error-17: #7b0d00;
  --mdw-error-20: #800b00;
  --mdw-error-22: #850c00;
  --mdw-error-24: #8a0c00;
  --mdw-error-30: #9a0f05;
  --mdw-error-40: #B3261E;
  --mdw-error-50: #cd3d35;
  --mdw-error-60: #e66056;
  --mdw-error-70: #ff8175;
  --mdw-error-80: #ff9589;
  --mdw-error-87: #ffa79b;
  --mdw-error-90: #ffaea3;
  --mdw-error-92: #ffb6aa;
  --mdw-error-94: #ffbfb2;
  --mdw-error-95: #ffc2b4;
  --mdw-error-96: #ffc6b7;
  --mdw-error-98: #ffc9ba;
  --mdw-error-100: #ffffff;
  --mdw-neutral: #67616f;
  --mdw-neutral-0: #000000;
  --mdw-neutral-4: #0d0513;
  --mdw-neutral-6: #110a18;
  --mdw-neutral-10: #1b1422;
  --mdw-neutral-12: #211a28;
  --mdw-neutral-17: #404040;
  --mdw-neutral-20: #37333c;
  --mdw-neutral-22: #3c3841;
  --mdw-neutral-24: #403b46;
  --mdw-neutral-30: #4e4856;
  --mdw-neutral-40: #67616f;
  --mdw-neutral-50: #7f7889;
  --mdw-neutral-60: #9d99a2;
  --mdw-neutral-70: #b9b8bc;
  --mdw-neutral-80: #d0ccd5;
  --mdw-neutral-87: #e6deef;
  --mdw-neutral-90: #efe6f9;
  --mdw-neutral-92: #f6edff;
  --mdw-neutral-94: #faf5ff;
  --mdw-neutral-95: #fcf7ff;
  --mdw-neutral-96: #fdfaff;
  --mdw-neutral-98: #fefdff;
  --mdw-neutral-100: #ffffff;
  --mdw-neutral-variant: #605666;
  --mdw-neutral-variant-0: #000000;
  --mdw-neutral-variant-4: #07000a;
  --mdw-neutral-variant-6: #0b000f;
  --mdw-neutral-variant-10: #150a19;
  --mdw-neutral-variant-12: #1a0f1f;
  --mdw-neutral-variant-17: #353535;
  --mdw-neutral-variant-20: #2f2833;
  --mdw-neutral-variant-22: #342d38;
  --mdw-neutral-variant-24: #39303d;
  --mdw-neutral-variant-30: #473d4d;
  --mdw-neutral-variant-40: #605666;
  --mdw-neutral-variant-50: #796d80;
  --mdw-neutral-variant-60: #958e99;
  --mdw-neutral-variant-70: #b1adb3;
  --mdw-neutral-variant-80: #c8c1cc;
  --mdw-neutral-variant-87: #e0d3e6;
  --mdw-neutral-variant-90: #e9dbf0;
  --mdw-neutral-variant-92: #f1e2f7;
  --mdw-neutral-variant-94: #f8eafc;
  --mdw-neutral-variant-95: #fbecff;
  --mdw-neutral-variant-96: #fbefff;
  --mdw-neutral-variant-98: #fcf2ff;
  --mdw-neutral-variant-100: #ffffff;

  /* colors */
  --mdw-primary: #6750A4;
  --mdw-primary-alpha-0: #6750A400;
  --mdw-primary-alpha-4: #6750A40a;
  --mdw-primary-alpha-5: #6750A40d;
  --mdw-primary-alpha-6: #6750A40f;
  --mdw-primary-alpha-8: #6750A414;
  --mdw-primary-alpha-10: #6750A41a;
  --mdw-primary-alpha-11: #6750A41c;
  --mdw-primary-alpha-12: #6750A41f;
  --mdw-primary-alpha-16: #6750A429;
  --mdw-primary-alpha-20: #6750A433;
  --mdw-primary-alpha-26: #6750A442;
  --mdw-primary-alpha-38: #6750A461;
  --mdw-primary-alpha-60: #6750A499;
  --mdw-primary-alpha-76: #6750A4c2;
  --mdw-primary-container: #e3d5ff;
  --mdw-primary-container-alpha-0: #e3d5ff00;
  --mdw-primary-container-alpha-4: #e3d5ff0a;
  --mdw-primary-container-alpha-5: #e3d5ff0d;
  --mdw-primary-container-alpha-6: #e3d5ff0f;
  --mdw-primary-container-alpha-8: #e3d5ff14;
  --mdw-primary-container-alpha-10: #e3d5ff1a;
  --mdw-primary-container-alpha-11: #e3d5ff1c;
  --mdw-primary-container-alpha-12: #e3d5ff1f;
  --mdw-primary-container-alpha-16: #e3d5ff29;
  --mdw-primary-container-alpha-20: #e3d5ff33;
  --mdw-primary-container-alpha-26: #e3d5ff42;
  --mdw-primary-container-alpha-38: #e3d5ff61;
  --mdw-primary-container-alpha-60: #e3d5ff99;
  --mdw-primary-container-alpha-76: #e3d5ffc2;
  --mdw-on-primary: #ffffff;
  --mdw-on-primary-alpha-0: #ffffff00;
  --mdw-on-primary-alpha-4: #ffffff0a;
  --mdw-on-primary-alpha-5: #ffffff0d;
  --mdw-on-primary-alpha-6: #ffffff0f;
  --mdw-on-primary-alpha-8: #ffffff14;
  --mdw-on-primary-alpha-10: #ffffff1a;
  --mdw-on-primary-alpha-11: #ffffff1c;
  --mdw-on-primary-alpha-12: #ffffff1f;
  --mdw-on-primary-alpha-16: #ffffff29;
  --mdw-on-primary-alpha-20: #ffffff33;
  --mdw-on-primary-alpha-26: #ffffff42;
  --mdw-on-primary-alpha-38: #ffffff61;
  --mdw-on-primary-alpha-60: #ffffff99;
  --mdw-on-primary-alpha-76: #ffffffc2;
  --mdw-on-primary-container: #200358;
  --mdw-on-primary-container-alpha-0: #20035800;
  --mdw-on-primary-container-alpha-4: #2003580a;
  --mdw-on-primary-container-alpha-5: #2003580d;
  --mdw-on-primary-container-alpha-6: #2003580f;
  --mdw-on-primary-container-alpha-8: #20035814;
  --mdw-on-primary-container-alpha-10: #2003581a;
  --mdw-on-primary-container-alpha-11: #2003581c;
  --mdw-on-primary-container-alpha-12: #2003581f;
  --mdw-on-primary-container-alpha-16: #20035829;
  --mdw-on-primary-container-alpha-20: #20035833;
  --mdw-on-primary-container-alpha-26: #20035842;
  --mdw-on-primary-container-alpha-38: #20035861;
  --mdw-on-primary-container-alpha-60: #20035899;
  --mdw-on-primary-container-alpha-76: #200358c2;
  --mdw-primary-inverse: #d1bbff;
  --mdw-primary-inverse-alpha-0: #d1bbff00;
  --mdw-primary-inverse-alpha-4: #d1bbff0a;
  --mdw-primary-inverse-alpha-5: #d1bbff0d;
  --mdw-primary-inverse-alpha-6: #d1bbff0f;
  --mdw-primary-inverse-alpha-8: #d1bbff14;
  --mdw-primary-inverse-alpha-10: #d1bbff1a;
  --mdw-primary-inverse-alpha-11: #d1bbff1c;
  --mdw-primary-inverse-alpha-12: #d1bbff1f;
  --mdw-primary-inverse-alpha-16: #d1bbff29;
  --mdw-primary-inverse-alpha-20: #d1bbff33;
  --mdw-primary-inverse-alpha-26: #d1bbff42;
  --mdw-primary-inverse-alpha-38: #d1bbff61;
  --mdw-primary-inverse-alpha-60: #d1bbff99;
  --mdw-primary-inverse-alpha-76: #d1bbffc2;
  --mdw-secondary: #625B71;
  --mdw-secondary-alpha-0: #625B7100;
  --mdw-secondary-alpha-4: #625B710a;
  --mdw-secondary-alpha-5: #625B710d;
  --mdw-secondary-alpha-6: #625B710f;
  --mdw-secondary-alpha-8: #625B7114;
  --mdw-secondary-alpha-10: #625B711a;
  --mdw-secondary-alpha-11: #625B711c;
  --mdw-secondary-alpha-12: #625B711f;
  --mdw-secondary-alpha-16: #625B7129;
  --mdw-secondary-alpha-20: #625B7133;
  --mdw-secondary-alpha-26: #625B7142;
  --mdw-secondary-alpha-38: #625B7161;
  --mdw-secondary-alpha-60: #625B7199;
  --mdw-secondary-alpha-76: #625B71c2;
  --mdw-secondary-container: #eae0fb;
  --mdw-secondary-container-alpha-0: #eae0fb00;
  --mdw-secondary-container-alpha-4: #eae0fb0a;
  --mdw-secondary-container-alpha-5: #eae0fb0d;
  --mdw-secondary-container-alpha-6: #eae0fb0f;
  --mdw-secondary-container-alpha-8: #eae0fb14;
  --mdw-secondary-container-alpha-10: #eae0fb1a;
  --mdw-secondary-container-alpha-11: #eae0fb1c;
  --mdw-secondary-container-alpha-12: #eae0fb1f;
  --mdw-secondary-container-alpha-16: #eae0fb29;
  --mdw-secondary-container-alpha-20: #eae0fb33;
  --mdw-secondary-container-alpha-26: #eae0fb42;
  --mdw-secondary-container-alpha-38: #eae0fb61;
  --mdw-secondary-container-alpha-60: #eae0fb99;
  --mdw-secondary-container-alpha-76: #eae0fbc2;
  --mdw-on-secondary: #ffffff;
  --mdw-on-secondary-alpha-0: #ffffff00;
  --mdw-on-secondary-alpha-4: #ffffff0a;
  --mdw-on-secondary-alpha-5: #ffffff0d;
  --mdw-on-secondary-alpha-6: #ffffff0f;
  --mdw-on-secondary-alpha-8: #ffffff14;
  --mdw-on-secondary-alpha-10: #ffffff1a;
  --mdw-on-secondary-alpha-11: #ffffff1c;
  --mdw-on-secondary-alpha-12: #ffffff1f;
  --mdw-on-secondary-alpha-16: #ffffff29;
  --mdw-on-secondary-alpha-20: #ffffff33;
  --mdw-on-secondary-alpha-26: #ffffff42;
  --mdw-on-secondary-alpha-38: #ffffff61;
  --mdw-on-secondary-alpha-60: #ffffff99;
  --mdw-on-secondary-alpha-76: #ffffffc2;
  --mdw-on-secondary-container: #170f24;
  --mdw-on-secondary-container-alpha-0: #170f2400;
  --mdw-on-secondary-container-alpha-4: #170f240a;
  --mdw-on-secondary-container-alpha-5: #170f240d;
  --mdw-on-secondary-container-alpha-6: #170f240f;
  --mdw-on-secondary-container-alpha-8: #170f2414;
  --mdw-on-secondary-container-alpha-10: #170f241a;
  --mdw-on-secondary-container-alpha-11: #170f241c;
  --mdw-on-secondary-container-alpha-12: #170f241f;
  --mdw-on-secondary-container-alpha-16: #170f2429;
  --mdw-on-secondary-container-alpha-20: #170f2433;
  --mdw-on-secondary-container-alpha-26: #170f2442;
  --mdw-on-secondary-container-alpha-38: #170f2461;
  --mdw-on-secondary-container-alpha-60: #170f2499;
  --mdw-on-secondary-container-alpha-76: #170f24c2;
  --mdw-tertiary: #7D5260;
  --mdw-tertiary-alpha-0: #7D526000;
  --mdw-tertiary-alpha-4: #7D52600a;
  --mdw-tertiary-alpha-5: #7D52600d;
  --mdw-tertiary-alpha-6: #7D52600f;
  --mdw-tertiary-alpha-8: #7D526014;
  --mdw-tertiary-alpha-10: #7D52601a;
  --mdw-tertiary-alpha-11: #7D52601c;
  --mdw-tertiary-alpha-12: #7D52601f;
  --mdw-tertiary-alpha-16: #7D526029;
  --mdw-tertiary-alpha-20: #7D526033;
  --mdw-tertiary-alpha-26: #7D526042;
  --mdw-tertiary-alpha-38: #7D526061;
  --mdw-tertiary-alpha-60: #7D526099;
  --mdw-tertiary-alpha-76: #7D5260c2;
  --mdw-tertiary-container: #ffd7e1;
  --mdw-tertiary-container-alpha-0: #ffd7e100;
  --mdw-tertiary-container-alpha-4: #ffd7e10a;
  --mdw-tertiary-container-alpha-5: #ffd7e10d;
  --mdw-tertiary-container-alpha-6: #ffd7e10f;
  --mdw-tertiary-container-alpha-8: #ffd7e114;
  --mdw-tertiary-container-alpha-10: #ffd7e11a;
  --mdw-tertiary-container-alpha-11: #ffd7e11c;
  --mdw-tertiary-container-alpha-12: #ffd7e11f;
  --mdw-tertiary-container-alpha-16: #ffd7e129;
  --mdw-tertiary-container-alpha-20: #ffd7e133;
  --mdw-tertiary-container-alpha-26: #ffd7e142;
  --mdw-tertiary-container-alpha-38: #ffd7e161;
  --mdw-tertiary-container-alpha-60: #ffd7e199;
  --mdw-tertiary-container-alpha-76: #ffd7e1c2;
  --mdw-on-tertiary: #ffffff;
  --mdw-on-tertiary-alpha-0: #ffffff00;
  --mdw-on-tertiary-alpha-4: #ffffff0a;
  --mdw-on-tertiary-alpha-5: #ffffff0d;
  --mdw-on-tertiary-alpha-6: #ffffff0f;
  --mdw-on-tertiary-alpha-8: #ffffff14;
  --mdw-on-tertiary-alpha-10: #ffffff1a;
  --mdw-on-tertiary-alpha-11: #ffffff1c;
  --mdw-on-tertiary-alpha-12: #ffffff1f;
  --mdw-on-tertiary-alpha-16: #ffffff29;
  --mdw-on-tertiary-alpha-20: #ffffff33;
  --mdw-on-tertiary-alpha-26: #ffffff42;
  --mdw-on-tertiary-alpha-38: #ffffff61;
  --mdw-on-tertiary-alpha-60: #ffffff99;
  --mdw-on-tertiary-alpha-76: #ffffffc2;
  --mdw-on-tertiary-container: #310511;
  --mdw-on-tertiary-container-alpha-0: #31051100;
  --mdw-on-tertiary-container-alpha-4: #3105110a;
  --mdw-on-tertiary-container-alpha-5: #3105110d;
  --mdw-on-tertiary-container-alpha-6: #3105110f;
  --mdw-on-tertiary-container-alpha-8: #31051114;
  --mdw-on-tertiary-container-alpha-10: #3105111a;
  --mdw-on-tertiary-container-alpha-11: #3105111c;
  --mdw-on-tertiary-container-alpha-12: #3105111f;
  --mdw-on-tertiary-container-alpha-16: #31051129;
  --mdw-on-tertiary-container-alpha-20: #31051133;
  --mdw-on-tertiary-container-alpha-26: #31051142;
  --mdw-on-tertiary-container-alpha-38: #31051161;
  --mdw-on-tertiary-container-alpha-60: #31051199;
  --mdw-on-tertiary-container-alpha-76: #310511c2;
  --mdw-error: #B3261E;
  --mdw-error-alpha-0: #B3261E00;
  --mdw-error-alpha-4: #B3261E0a;
  --mdw-error-alpha-5: #B3261E0d;
  --mdw-error-alpha-6: #B3261E0f;
  --mdw-error-alpha-8: #B3261E14;
  --mdw-error-alpha-10: #B3261E1a;
  --mdw-error-alpha-11: #B3261E1c;
  --mdw-error-alpha-12: #B3261E1f;
  --mdw-error-alpha-16: #B3261E29;
  --mdw-error-alpha-20: #B3261E33;
  --mdw-error-alpha-26: #B3261E42;
  --mdw-error-alpha-38: #B3261E61;
  --mdw-error-alpha-60: #B3261E99;
  --mdw-error-alpha-76: #B3261Ec2;
  --mdw-error-container: #ffaea3;
  --mdw-error-container-alpha-0: #ffaea300;
  --mdw-error-container-alpha-4: #ffaea30a;
  --mdw-error-container-alpha-5: #ffaea30d;
  --mdw-error-container-alpha-6: #ffaea30f;
  --mdw-error-container-alpha-8: #ffaea314;
  --mdw-error-container-alpha-10: #ffaea31a;
  --mdw-error-container-alpha-11: #ffaea31c;
  --mdw-error-container-alpha-12: #ffaea31f;
  --mdw-error-container-alpha-16: #ffaea329;
  --mdw-error-container-alpha-20: #ffaea333;
  --mdw-error-container-alpha-26: #ffaea342;
  --mdw-error-container-alpha-38: #ffaea361;
  --mdw-error-container-alpha-60: #ffaea399;
  --mdw-error-container-alpha-76: #ffaea3c2;
  --mdw-on-error: #ffffff;
  --mdw-on-error-alpha-0: #ffffff00;
  --mdw-on-error-alpha-4: #ffffff0a;
  --mdw-on-error-alpha-5: #ffffff0d;
  --mdw-on-error-alpha-6: #ffffff0f;
  --mdw-on-error-alpha-8: #ffffff14;
  --mdw-on-error-alpha-10: #ffffff1a;
  --mdw-on-error-alpha-11: #ffffff1c;
  --mdw-on-error-alpha-12: #ffffff1f;
  --mdw-on-error-alpha-16: #ffffff29;
  --mdw-on-error-alpha-20: #ffffff33;
  --mdw-on-error-alpha-26: #ffffff42;
  --mdw-on-error-alpha-38: #ffffff61;
  --mdw-on-error-alpha-60: #ffffff99;
  --mdw-on-error-alpha-76: #ffffffc2;
  --mdw-on-error-container: #670c00;
  --mdw-on-error-container-alpha-0: #670c0000;
  --mdw-on-error-container-alpha-4: #670c000a;
  --mdw-on-error-container-alpha-5: #670c000d;
  --mdw-on-error-container-alpha-6: #670c000f;
  --mdw-on-error-container-alpha-8: #670c0014;
  --mdw-on-error-container-alpha-10: #670c001a;
  --mdw-on-error-container-alpha-11: #670c001c;
  --mdw-on-error-container-alpha-12: #670c001f;
  --mdw-on-error-container-alpha-16: #670c0029;
  --mdw-on-error-container-alpha-20: #670c0033;
  --mdw-on-error-container-alpha-26: #670c0042;
  --mdw-on-error-container-alpha-38: #670c0061;
  --mdw-on-error-container-alpha-60: #670c0099;
  --mdw-on-error-container-alpha-76: #670c00c2;
  --mdw-neutral: #67616f;
  --mdw-neutral-alpha-0: #67616f00;
  --mdw-neutral-alpha-4: #67616f0a;
  --mdw-neutral-alpha-5: #67616f0d;
  --mdw-neutral-alpha-6: #67616f0f;
  --mdw-neutral-alpha-8: #67616f14;
  --mdw-neutral-alpha-10: #67616f1a;
  --mdw-neutral-alpha-11: #67616f1c;
  --mdw-neutral-alpha-12: #67616f1f;
  --mdw-neutral-alpha-16: #67616f29;
  --mdw-neutral-alpha-20: #67616f33;
  --mdw-neutral-alpha-26: #67616f42;
  --mdw-neutral-alpha-38: #67616f61;
  --mdw-neutral-alpha-60: #67616f99;
  --mdw-neutral-alpha-76: #67616fc2;
  --mdw-neutral-variant: #605666;
  --mdw-neutral-variant-alpha-0: #60566600;
  --mdw-neutral-variant-alpha-4: #6056660a;
  --mdw-neutral-variant-alpha-5: #6056660d;
  --mdw-neutral-variant-alpha-6: #6056660f;
  --mdw-neutral-variant-alpha-8: #60566614;
  --mdw-neutral-variant-alpha-10: #6056661a;
  --mdw-neutral-variant-alpha-11: #6056661c;
  --mdw-neutral-variant-alpha-12: #6056661f;
  --mdw-neutral-variant-alpha-16: #60566629;
  --mdw-neutral-variant-alpha-20: #60566633;
  --mdw-neutral-variant-alpha-26: #60566642;
  --mdw-neutral-variant-alpha-38: #60566661;
  --mdw-neutral-variant-alpha-60: #60566699;
  --mdw-neutral-variant-alpha-76: #605666c2;
  --mdw-surface: #fefdff;
  --mdw-surface-alpha-0: #fefdff00;
  --mdw-surface-alpha-4: #fefdff0a;
  --mdw-surface-alpha-5: #fefdff0d;
  --mdw-surface-alpha-6: #fefdff0f;
  --mdw-surface-alpha-8: #fefdff14;
  --mdw-surface-alpha-10: #fefdff1a;
  --mdw-surface-alpha-11: #fefdff1c;
  --mdw-surface-alpha-12: #fefdff1f;
  --mdw-surface-alpha-16: #fefdff29;
  --mdw-surface-alpha-20: #fefdff33;
  --mdw-surface-alpha-26: #fefdff42;
  --mdw-surface-alpha-38: #fefdff61;
  --mdw-surface-alpha-60: #fefdff99;
  --mdw-surface-alpha-76: #fefdffc2;
  --mdw-surface-dim: #e6deef;
  --mdw-surface-dim-alpha-0: #e6deef00;
  --mdw-surface-dim-alpha-4: #e6deef0a;
  --mdw-surface-dim-alpha-5: #e6deef0d;
  --mdw-surface-dim-alpha-6: #e6deef0f;
  --mdw-surface-dim-alpha-8: #e6deef14;
  --mdw-surface-dim-alpha-10: #e6deef1a;
  --mdw-surface-dim-alpha-11: #e6deef1c;
  --mdw-surface-dim-alpha-12: #e6deef1f;
  --mdw-surface-dim-alpha-16: #e6deef29;
  --mdw-surface-dim-alpha-20: #e6deef33;
  --mdw-surface-dim-alpha-26: #e6deef42;
  --mdw-surface-dim-alpha-38: #e6deef61;
  --mdw-surface-dim-alpha-60: #e6deef99;
  --mdw-surface-dim-alpha-76: #e6deefc2;
  --mdw-surface-bright: #fefdff;
  --mdw-surface-bright-alpha-0: #fefdff00;
  --mdw-surface-bright-alpha-4: #fefdff0a;
  --mdw-surface-bright-alpha-5: #fefdff0d;
  --mdw-surface-bright-alpha-6: #fefdff0f;
  --mdw-surface-bright-alpha-8: #fefdff14;
  --mdw-surface-bright-alpha-10: #fefdff1a;
  --mdw-surface-bright-alpha-11: #fefdff1c;
  --mdw-surface-bright-alpha-12: #fefdff1f;
  --mdw-surface-bright-alpha-16: #fefdff29;
  --mdw-surface-bright-alpha-20: #fefdff33;
  --mdw-surface-bright-alpha-26: #fefdff42;
  --mdw-surface-bright-alpha-38: #fefdff61;
  --mdw-surface-bright-alpha-60: #fefdff99;
  --mdw-surface-bright-alpha-76: #fefdffc2;
  --mdw-surface-container-lowest: #ffffff;
  --mdw-surface-container-lowest-alpha-0: #ffffff00;
  --mdw-surface-container-lowest-alpha-4: #ffffff0a;
  --mdw-surface-container-lowest-alpha-5: #ffffff0d;
  --mdw-surface-container-lowest-alpha-6: #ffffff0f;
  --mdw-surface-container-lowest-alpha-8: #ffffff14;
  --mdw-surface-container-lowest-alpha-10: #ffffff1a;
  --mdw-surface-container-lowest-alpha-11: #ffffff1c;
  --mdw-surface-container-lowest-alpha-12: #ffffff1f;
  --mdw-surface-container-lowest-alpha-16: #ffffff29;
  --mdw-surface-container-lowest-alpha-20: #ffffff33;
  --mdw-surface-container-lowest-alpha-26: #ffffff42;
  --mdw-surface-container-lowest-alpha-38: #ffffff61;
  --mdw-surface-container-lowest-alpha-60: #ffffff99;
  --mdw-surface-container-lowest-alpha-76: #ffffffc2;
  --mdw-surface-container-low: #fdfaff;
  --mdw-surface-container-low-alpha-0: #fdfaff00;
  --mdw-surface-container-low-alpha-4: #fdfaff0a;
  --mdw-surface-container-low-alpha-5: #fdfaff0d;
  --mdw-surface-container-low-alpha-6: #fdfaff0f;
  --mdw-surface-container-low-alpha-8: #fdfaff14;
  --mdw-surface-container-low-alpha-10: #fdfaff1a;
  --mdw-surface-container-low-alpha-11: #fdfaff1c;
  --mdw-surface-container-low-alpha-12: #fdfaff1f;
  --mdw-surface-container-low-alpha-16: #fdfaff29;
  --mdw-surface-container-low-alpha-20: #fdfaff33;
  --mdw-surface-container-low-alpha-26: #fdfaff42;
  --mdw-surface-container-low-alpha-38: #fdfaff61;
  --mdw-surface-container-low-alpha-60: #fdfaff99;
  --mdw-surface-container-low-alpha-76: #fdfaffc2;
  --mdw-surface-container: #faf5ff;
  --mdw-surface-container-alpha-0: #faf5ff00;
  --mdw-surface-container-alpha-4: #faf5ff0a;
  --mdw-surface-container-alpha-5: #faf5ff0d;
  --mdw-surface-container-alpha-6: #faf5ff0f;
  --mdw-surface-container-alpha-8: #faf5ff14;
  --mdw-surface-container-alpha-10: #faf5ff1a;
  --mdw-surface-container-alpha-11: #faf5ff1c;
  --mdw-surface-container-alpha-12: #faf5ff1f;
  --mdw-surface-container-alpha-16: #faf5ff29;
  --mdw-surface-container-alpha-20: #faf5ff33;
  --mdw-surface-container-alpha-26: #faf5ff42;
  --mdw-surface-container-alpha-38: #faf5ff61;
  --mdw-surface-container-alpha-60: #faf5ff99;
  --mdw-surface-container-alpha-76: #faf5ffc2;
  --mdw-surface-container-high: #f6edff;
  --mdw-surface-container-high-alpha-0: #f6edff00;
  --mdw-surface-container-high-alpha-4: #f6edff0a;
  --mdw-surface-container-high-alpha-5: #f6edff0d;
  --mdw-surface-container-high-alpha-6: #f6edff0f;
  --mdw-surface-container-high-alpha-8: #f6edff14;
  --mdw-surface-container-high-alpha-10: #f6edff1a;
  --mdw-surface-container-high-alpha-11: #f6edff1c;
  --mdw-surface-container-high-alpha-12: #f6edff1f;
  --mdw-surface-container-high-alpha-16: #f6edff29;
  --mdw-surface-container-high-alpha-20: #f6edff33;
  --mdw-surface-container-high-alpha-26: #f6edff42;
  --mdw-surface-container-high-alpha-38: #f6edff61;
  --mdw-surface-container-high-alpha-60: #f6edff99;
  --mdw-surface-container-high-alpha-76: #f6edffc2;
  --mdw-surface-container-highest: #efe6f9;
  --mdw-surface-container-highest-alpha-0: #efe6f900;
  --mdw-surface-container-highest-alpha-4: #efe6f90a;
  --mdw-surface-container-highest-alpha-5: #efe6f90d;
  --mdw-surface-container-highest-alpha-6: #efe6f90f;
  --mdw-surface-container-highest-alpha-8: #efe6f914;
  --mdw-surface-container-highest-alpha-10: #efe6f91a;
  --mdw-surface-container-highest-alpha-11: #efe6f91c;
  --mdw-surface-container-highest-alpha-12: #efe6f91f;
  --mdw-surface-container-highest-alpha-16: #efe6f929;
  --mdw-surface-container-highest-alpha-20: #efe6f933;
  --mdw-surface-container-highest-alpha-26: #efe6f942;
  --mdw-surface-container-highest-alpha-38: #efe6f961;
  --mdw-surface-container-highest-alpha-60: #efe6f999;
  --mdw-surface-container-highest-alpha-76: #efe6f9c2;
  --mdw-surface-variant: #e9dbf0;
  --mdw-surface-variant-alpha-0: #e9dbf000;
  --mdw-surface-variant-alpha-4: #e9dbf00a;
  --mdw-surface-variant-alpha-5: #e9dbf00d;
  --mdw-surface-variant-alpha-6: #e9dbf00f;
  --mdw-surface-variant-alpha-8: #e9dbf014;
  --mdw-surface-variant-alpha-10: #e9dbf01a;
  --mdw-surface-variant-alpha-11: #e9dbf01c;
  --mdw-surface-variant-alpha-12: #e9dbf01f;
  --mdw-surface-variant-alpha-16: #e9dbf029;
  --mdw-surface-variant-alpha-20: #e9dbf033;
  --mdw-surface-variant-alpha-26: #e9dbf042;
  --mdw-surface-variant-alpha-38: #e9dbf061;
  --mdw-surface-variant-alpha-60: #e9dbf099;
  --mdw-surface-variant-alpha-76: #e9dbf0c2;
  --mdw-on-surface: #1b1422;
  --mdw-on-surface-alpha-0: #1b142200;
  --mdw-on-surface-alpha-4: #1b14220a;
  --mdw-on-surface-alpha-5: #1b14220d;
  --mdw-on-surface-alpha-6: #1b14220f;
  --mdw-on-surface-alpha-8: #1b142214;
  --mdw-on-surface-alpha-10: #1b14221a;
  --mdw-on-surface-alpha-11: #1b14221c;
  --mdw-on-surface-alpha-12: #1b14221f;
  --mdw-on-surface-alpha-16: #1b142229;
  --mdw-on-surface-alpha-20: #1b142233;
  --mdw-on-surface-alpha-26: #1b142242;
  --mdw-on-surface-alpha-38: #1b142261;
  --mdw-on-surface-alpha-60: #1b142299;
  --mdw-on-surface-alpha-76: #1b1422c2;
  --mdw-on-surface-variant: #473d4d;
  --mdw-on-surface-variant-alpha-0: #473d4d00;
  --mdw-on-surface-variant-alpha-4: #473d4d0a;
  --mdw-on-surface-variant-alpha-5: #473d4d0d;
  --mdw-on-surface-variant-alpha-6: #473d4d0f;
  --mdw-on-surface-variant-alpha-8: #473d4d14;
  --mdw-on-surface-variant-alpha-10: #473d4d1a;
  --mdw-on-surface-variant-alpha-11: #473d4d1c;
  --mdw-on-surface-variant-alpha-12: #473d4d1f;
  --mdw-on-surface-variant-alpha-16: #473d4d29;
  --mdw-on-surface-variant-alpha-20: #473d4d33;
  --mdw-on-surface-variant-alpha-26: #473d4d42;
  --mdw-on-surface-variant-alpha-38: #473d4d61;
  --mdw-on-surface-variant-alpha-60: #473d4d99;
  --mdw-on-surface-variant-alpha-76: #473d4dc2;
  --mdw-surface-inverse: #37333c;
  --mdw-surface-inverse-alpha-0: #37333c00;
  --mdw-surface-inverse-alpha-4: #37333c0a;
  --mdw-surface-inverse-alpha-5: #37333c0d;
  --mdw-surface-inverse-alpha-6: #37333c0f;
  --mdw-surface-inverse-alpha-8: #37333c14;
  --mdw-surface-inverse-alpha-10: #37333c1a;
  --mdw-surface-inverse-alpha-11: #37333c1c;
  --mdw-surface-inverse-alpha-12: #37333c1f;
  --mdw-surface-inverse-alpha-16: #37333c29;
  --mdw-surface-inverse-alpha-20: #37333c33;
  --mdw-surface-inverse-alpha-26: #37333c42;
  --mdw-surface-inverse-alpha-38: #37333c61;
  --mdw-surface-inverse-alpha-60: #37333c99;
  --mdw-surface-inverse-alpha-76: #37333cc2;
  --mdw-on-surface-inverse: #fcf7ff;
  --mdw-on-surface-inverse-alpha-0: #fcf7ff00;
  --mdw-on-surface-inverse-alpha-4: #fcf7ff0a;
  --mdw-on-surface-inverse-alpha-5: #fcf7ff0d;
  --mdw-on-surface-inverse-alpha-6: #fcf7ff0f;
  --mdw-on-surface-inverse-alpha-8: #fcf7ff14;
  --mdw-on-surface-inverse-alpha-10: #fcf7ff1a;
  --mdw-on-surface-inverse-alpha-11: #fcf7ff1c;
  --mdw-on-surface-inverse-alpha-12: #fcf7ff1f;
  --mdw-on-surface-inverse-alpha-16: #fcf7ff29;
  --mdw-on-surface-inverse-alpha-20: #fcf7ff33;
  --mdw-on-surface-inverse-alpha-26: #fcf7ff42;
  --mdw-on-surface-inverse-alpha-38: #fcf7ff61;
  --mdw-on-surface-inverse-alpha-60: #fcf7ff99;
  --mdw-on-surface-inverse-alpha-76: #fcf7ffc2;
  --mdw-surface-tint: #6750A4;
  --mdw-surface-tint-alpha-0: #6750A400;
  --mdw-surface-tint-alpha-4: #6750A40a;
  --mdw-surface-tint-alpha-5: #6750A40d;
  --mdw-surface-tint-alpha-6: #6750A40f;
  --mdw-surface-tint-alpha-8: #6750A414;
  --mdw-surface-tint-alpha-10: #6750A41a;
  --mdw-surface-tint-alpha-11: #6750A41c;
  --mdw-surface-tint-alpha-12: #6750A41f;
  --mdw-surface-tint-alpha-16: #6750A429;
  --mdw-surface-tint-alpha-20: #6750A433;
  --mdw-surface-tint-alpha-26: #6750A442;
  --mdw-surface-tint-alpha-38: #6750A461;
  --mdw-surface-tint-alpha-60: #6750A499;
  --mdw-surface-tint-alpha-76: #6750A4c2;
  --mdw-background: #fefdff;
  --mdw-background-alpha-0: #fefdff00;
  --mdw-background-alpha-4: #fefdff0a;
  --mdw-background-alpha-5: #fefdff0d;
  --mdw-background-alpha-6: #fefdff0f;
  --mdw-background-alpha-8: #fefdff14;
  --mdw-background-alpha-10: #fefdff1a;
  --mdw-background-alpha-11: #fefdff1c;
  --mdw-background-alpha-12: #fefdff1f;
  --mdw-background-alpha-16: #fefdff29;
  --mdw-background-alpha-20: #fefdff33;
  --mdw-background-alpha-26: #fefdff42;
  --mdw-background-alpha-38: #fefdff61;
  --mdw-background-alpha-60: #fefdff99;
  --mdw-background-alpha-76: #fefdffc2;
  --mdw-on-background: #1b1422;
  --mdw-on-background-alpha-0: #1b142200;
  --mdw-on-background-alpha-4: #1b14220a;
  --mdw-on-background-alpha-5: #1b14220d;
  --mdw-on-background-alpha-6: #1b14220f;
  --mdw-on-background-alpha-8: #1b142214;
  --mdw-on-background-alpha-10: #1b14221a;
  --mdw-on-background-alpha-11: #1b14221c;
  --mdw-on-background-alpha-12: #1b14221f;
  --mdw-on-background-alpha-16: #1b142229;
  --mdw-on-background-alpha-20: #1b142233;
  --mdw-on-background-alpha-26: #1b142242;
  --mdw-on-background-alpha-38: #1b142261;
  --mdw-on-background-alpha-60: #1b142299;
  --mdw-on-background-alpha-76: #1b1422c2;
  --mdw-outline: #796d80;
  --mdw-outline-alpha-0: #796d8000;
  --mdw-outline-alpha-4: #796d800a;
  --mdw-outline-alpha-5: #796d800d;
  --mdw-outline-alpha-6: #796d800f;
  --mdw-outline-alpha-8: #796d8014;
  --mdw-outline-alpha-10: #796d801a;
  --mdw-outline-alpha-11: #796d801c;
  --mdw-outline-alpha-12: #796d801f;
  --mdw-outline-alpha-16: #796d8029;
  --mdw-outline-alpha-20: #796d8033;
  --mdw-outline-alpha-26: #796d8042;
  --mdw-outline-alpha-38: #796d8061;
  --mdw-outline-alpha-60: #796d8099;
  --mdw-outline-alpha-76: #796d80c2;
  --mdw-outline-variant: #c8c1cc;
  --mdw-outline-variant-alpha-0: #c8c1cc00;
  --mdw-outline-variant-alpha-4: #c8c1cc0a;
  --mdw-outline-variant-alpha-5: #c8c1cc0d;
  --mdw-outline-variant-alpha-6: #c8c1cc0f;
  --mdw-outline-variant-alpha-8: #c8c1cc14;
  --mdw-outline-variant-alpha-10: #c8c1cc1a;
  --mdw-outline-variant-alpha-11: #c8c1cc1c;
  --mdw-outline-variant-alpha-12: #c8c1cc1f;
  --mdw-outline-variant-alpha-16: #c8c1cc29;
  --mdw-outline-variant-alpha-20: #c8c1cc33;
  --mdw-outline-variant-alpha-26: #c8c1cc42;
  --mdw-outline-variant-alpha-38: #c8c1cc61;
  --mdw-outline-variant-alpha-60: #c8c1cc99;
  --mdw-outline-variant-alpha-76: #c8c1ccc2;
  --mdw-shadow: #000000;
  --mdw-shadow-alpha-0: #00000000;
  --mdw-shadow-alpha-4: #0000000a;
  --mdw-shadow-alpha-5: #0000000d;
  --mdw-shadow-alpha-6: #0000000f;
  --mdw-shadow-alpha-8: #00000014;
  --mdw-shadow-alpha-10: #0000001a;
  --mdw-shadow-alpha-11: #0000001c;
  --mdw-shadow-alpha-12: #0000001f;
  --mdw-shadow-alpha-16: #00000029;
  --mdw-shadow-alpha-20: #00000033;
  --mdw-shadow-alpha-26: #00000042;
  --mdw-shadow-alpha-38: #00000061;
  --mdw-shadow-alpha-60: #00000099;
  --mdw-shadow-alpha-76: #000000c2;
  --mdw-scrim: #000000;
  --mdw-scrim-alpha-0: #00000000;
  --mdw-scrim-alpha-4: #0000000a;
  --mdw-scrim-alpha-5: #0000000d;
  --mdw-scrim-alpha-6: #0000000f;
  --mdw-scrim-alpha-8: #00000014;
  --mdw-scrim-alpha-10: #0000001a;
  --mdw-scrim-alpha-11: #0000001c;
  --mdw-scrim-alpha-12: #0000001f;
  --mdw-scrim-alpha-16: #00000029;
  --mdw-scrim-alpha-20: #00000033;
  --mdw-scrim-alpha-26: #00000042;
  --mdw-scrim-alpha-38: #00000061;
  --mdw-scrim-alpha-60: #00000099;
  --mdw-scrim-alpha-76: #000000c2;

  /* non color */
  --mdw-state-layer-opacity-hover: 0.08;
  --mdw-state-layer-opacity-focus: 0.12;
  --mdw-state-layer-opacity-pressed: 0.12;
  --mdw-state-layer-opacity-dragged: 0.16;
  --mdw-shape-extra-small: 4px;
  --mdw-shape-extra-small-top: 4px 4px 0 0;
  --mdw-shape-small: 8px;
  --mdw-shape-medium: 12px;
  --mdw-shape-large: 16px;
  --mdw-shape-large-end: 0 16px 16px 0;
  --mdw-shape-large-top: 16px 16px 0 0;
  --mdw-shape-extra-large: 28px;
  --mdw-shape-extra-large-top: 28px 28px 0 0;
  --mdw-shape-full: 50%;
  --mdw-navigation-rail-width: 88px;
  --mdw-navigation-drawer-width: 360px;
  --mdw-card-group-columns: 4;
  --mdw-side-sheet-width: 296px;
  --mdw-bottom-sheet-initial-position: 40%;
  --mdw-bottom-sheet-minimized-position: 64px;
  --mdw-font-icon-size-small: 1.25rem;
  --mdw-font-icon-size-medium: 1.5rem;
  --mdw-font-icon-size-large: 2.25rem;
  --mdw-font-icon-size-extra-large: 3rem;
  --mdw-font-display-size-large: 3.562rem;
  --mdw-font-display-line-height-large: 4rem;
  --mdw-font-display-weight-large: 400;
  --mdw-font-display-letter-spacing-large: -0.016rem;
  --mdw-font-display-size-medium: 2.812rem;
  --mdw-font-display-line-height-medium: 3.25rem;
  --mdw-font-display-weight-medium: 400;
  --mdw-font-display-letter-spacing-medium: 0rem;
  --mdw-font-display-size-small: 2.25rem;
  --mdw-font-display-line-height-small: 2.75rem;
  --mdw-font-display-weight-small: 475;
  --mdw-font-display-letter-spacing-small: 0rem;
  --mdw-font-headline-size-large: 2rem;
  --mdw-font-headline-line-height-large: 2.5rem;
  --mdw-font-headline-weight-large: 400;
  --mdw-font-headline-letter-spacing-large: 0rem;
  --mdw-font-headline-size-medium: 1.75rem;
  --mdw-font-headline-line-height-medium: 2.25rem;
  --mdw-font-headline-weight-medium: 400;
  --mdw-font-headline-letter-spacing-medium: 0rem;
  --mdw-font-headline-size-small: 1.5rem;
  --mdw-font-headline-line-height-small: 2rem;
  --mdw-font-headline-weight-small: 400;
  --mdw-font-headline-letter-spacing-small: 0rem;
  --mdw-font-title-size-large: 1.375rem;
  --mdw-font-title-line-height-large: 1.75rem;
  --mdw-font-title-weight-large: 400;
  --mdw-font-title-letter-spacing-large: 0rem;
  --mdw-font-title-size-medium: 1rem;
  --mdw-font-title-line-height-medium: 1.5rem;
  --mdw-font-title-weight-medium: 500;
  --mdw-font-title-letter-spacing-medium: 0.009rem;
  --mdw-font-title-size-small: 0.875rem;
  --mdw-font-title-line-height-small: 1.25rem;
  --mdw-font-title-weight-small: 500;
  --mdw-font-title-letter-spacing-small: 0.006rem;
  --mdw-font-label-size-large: 0.875rem;
  --mdw-font-label-line-height-large: 1.25rem;
  --mdw-font-label-weight-large: 500;
  --mdw-font-label-letter-spacing-large: 0.006rem;
  --mdw-font-label-size-medium: 0.75rem;
  --mdw-font-label-line-height-medium: 1rem;
  --mdw-font-label-weight-medium: 500;
  --mdw-font-label-letter-spacing-medium: 0.031rem;
  --mdw-font-label-size-small: 0.688rem;
  --mdw-font-label-line-height-small: 0.75rem;
  --mdw-font-label-weight-small: 500;
  --mdw-font-label-letter-spacing-small: 0.031rem;
  --mdw-font-body-size-large: 1rem;
  --mdw-font-body-line-height-large: 1.5rem;
  --mdw-font-body-weight-large: 400;
  --mdw-font-body-letter-spacing-large: 0.031rem;
  --mdw-font-body-size-medium: 0.875rem;
  --mdw-font-body-line-height-medium: 1.25rem;
  --mdw-font-body-weight-medium: 400;
  --mdw-font-body-letter-spacing-medium: 0.016rem;
  --mdw-font-body-size-small: 0.75rem;
  --mdw-font-body-line-height-small: 1rem;
  --mdw-font-body-weight-small: 400;
  --mdw-font-body-letter-spacing-small: 0.025rem;
  --mdw-motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --mdw-motion-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --mdw-motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
  --mdw-motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --mdw-motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --mdw-motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --mdw-transition-bounce: cubic-bezier(.47, 1.64, .41, .8);
  --mdw-motion-duration-short1: 50ms;
  --mdw-motion-duration-short2: 100ms;
  --mdw-motion-duration-short3: 150ms;
  --mdw-motion-duration-short4: 200ms;
  --mdw-motion-duration-medium1: 250ms;
  --mdw-motion-duration-medium2: 300ms;
  --mdw-motion-duration-medium3: 350ms;
  --mdw-motion-duration-medium4: 400ms;
  --mdw-motion-duration-long1: 450ms;
  --mdw-motion-duration-long2: 500ms;
  --mdw-motion-duration-long3: 550ms;
  --mdw-motion-duration-long4: 600ms;
  --mdw-motion-duration-extra-long1: 700ms;
  --mdw-motion-duration-extra-long2: 800ms;
  --mdw-motion-duration-extra-long3: 900ms;
  --mdw-motion-duration-extra-long4: 1000ms;
}

:root.mdw-theme-dark {
  /* colors */
  --mdw-primary: #d1bbff;
  --mdw-primary-alpha-0: #d1bbff00;
  --mdw-primary-alpha-4: #d1bbff0a;
  --mdw-primary-alpha-5: #d1bbff0d;
  --mdw-primary-alpha-6: #d1bbff0f;
  --mdw-primary-alpha-8: #d1bbff14;
  --mdw-primary-alpha-10: #d1bbff1a;
  --mdw-primary-alpha-11: #d1bbff1c;
  --mdw-primary-alpha-12: #d1bbff1f;
  --mdw-primary-alpha-16: #d1bbff29;
  --mdw-primary-alpha-20: #d1bbff33;
  --mdw-primary-alpha-26: #d1bbff42;
  --mdw-primary-alpha-38: #d1bbff61;
  --mdw-primary-alpha-60: #d1bbff99;
  --mdw-primary-alpha-76: #d1bbffc2;
  --mdw-primary-container: #4f378b;
  --mdw-primary-container-alpha-0: #4f378b00;
  --mdw-primary-container-alpha-4: #4f378b0a;
  --mdw-primary-container-alpha-5: #4f378b0d;
  --mdw-primary-container-alpha-6: #4f378b0f;
  --mdw-primary-container-alpha-8: #4f378b14;
  --mdw-primary-container-alpha-10: #4f378b1a;
  --mdw-primary-container-alpha-11: #4f378b1c;
  --mdw-primary-container-alpha-12: #4f378b1f;
  --mdw-primary-container-alpha-16: #4f378b29;
  --mdw-primary-container-alpha-20: #4f378b33;
  --mdw-primary-container-alpha-26: #4f378b42;
  --mdw-primary-container-alpha-38: #4f378b61;
  --mdw-primary-container-alpha-60: #4f378b99;
  --mdw-primary-container-alpha-76: #4f378bc2;
  --mdw-on-primary: #3a2271;
  --mdw-on-primary-alpha-0: #3a227100;
  --mdw-on-primary-alpha-4: #3a22710a;
  --mdw-on-primary-alpha-5: #3a22710d;
  --mdw-on-primary-alpha-6: #3a22710f;
  --mdw-on-primary-alpha-8: #3a227114;
  --mdw-on-primary-alpha-10: #3a22711a;
  --mdw-on-primary-alpha-11: #3a22711c;
  --mdw-on-primary-alpha-12: #3a22711f;
  --mdw-on-primary-alpha-16: #3a227129;
  --mdw-on-primary-alpha-20: #3a227133;
  --mdw-on-primary-alpha-26: #3a227142;
  --mdw-on-primary-alpha-38: #3a227161;
  --mdw-on-primary-alpha-60: #3a227199;
  --mdw-on-primary-alpha-76: #3a2271c2;
  --mdw-on-primary-container: #e3d5ff;
  --mdw-on-primary-container-alpha-0: #e3d5ff00;
  --mdw-on-primary-container-alpha-4: #e3d5ff0a;
  --mdw-on-primary-container-alpha-5: #e3d5ff0d;
  --mdw-on-primary-container-alpha-6: #e3d5ff0f;
  --mdw-on-primary-container-alpha-8: #e3d5ff14;
  --mdw-on-primary-container-alpha-10: #e3d5ff1a;
  --mdw-on-primary-container-alpha-11: #e3d5ff1c;
  --mdw-on-primary-container-alpha-12: #e3d5ff1f;
  --mdw-on-primary-container-alpha-16: #e3d5ff29;
  --mdw-on-primary-container-alpha-20: #e3d5ff33;
  --mdw-on-primary-container-alpha-26: #e3d5ff42;
  --mdw-on-primary-container-alpha-38: #e3d5ff61;
  --mdw-on-primary-container-alpha-60: #e3d5ff99;
  --mdw-on-primary-container-alpha-76: #e3d5ffc2;
  --mdw-primary-inverse: #6750A4;
  --mdw-primary-inverse-alpha-0: #6750A400;
  --mdw-primary-inverse-alpha-4: #6750A40a;
  --mdw-primary-inverse-alpha-5: #6750A40d;
  --mdw-primary-inverse-alpha-6: #6750A40f;
  --mdw-primary-inverse-alpha-8: #6750A414;
  --mdw-primary-inverse-alpha-10: #6750A41a;
  --mdw-primary-inverse-alpha-11: #6750A41c;
  --mdw-primary-inverse-alpha-12: #6750A41f;
  --mdw-primary-inverse-alpha-16: #6750A429;
  --mdw-primary-inverse-alpha-20: #6750A433;
  --mdw-primary-inverse-alpha-26: #6750A442;
  --mdw-primary-inverse-alpha-38: #6750A461;
  --mdw-primary-inverse-alpha-60: #6750A499;
  --mdw-primary-inverse-alpha-76: #6750A4c2;
  --mdw-secondary: #ccc6d7;
  --mdw-secondary-alpha-0: #ccc6d700;
  --mdw-secondary-alpha-4: #ccc6d70a;
  --mdw-secondary-alpha-5: #ccc6d70d;
  --mdw-secondary-alpha-6: #ccc6d70f;
  --mdw-secondary-alpha-8: #ccc6d714;
  --mdw-secondary-alpha-10: #ccc6d71a;
  --mdw-secondary-alpha-11: #ccc6d71c;
  --mdw-secondary-alpha-12: #ccc6d71f;
  --mdw-secondary-alpha-16: #ccc6d729;
  --mdw-secondary-alpha-20: #ccc6d733;
  --mdw-secondary-alpha-26: #ccc6d742;
  --mdw-secondary-alpha-38: #ccc6d761;
  --mdw-secondary-alpha-60: #ccc6d799;
  --mdw-secondary-alpha-76: #ccc6d7c2;
  --mdw-secondary-container: #494258;
  --mdw-secondary-container-alpha-0: #49425800;
  --mdw-secondary-container-alpha-4: #4942580a;
  --mdw-secondary-container-alpha-5: #4942580d;
  --mdw-secondary-container-alpha-6: #4942580f;
  --mdw-secondary-container-alpha-8: #49425814;
  --mdw-secondary-container-alpha-10: #4942581a;
  --mdw-secondary-container-alpha-11: #4942581c;
  --mdw-secondary-container-alpha-12: #4942581f;
  --mdw-secondary-container-alpha-16: #49425829;
  --mdw-secondary-container-alpha-20: #49425833;
  --mdw-secondary-container-alpha-26: #49425842;
  --mdw-secondary-container-alpha-38: #49425861;
  --mdw-secondary-container-alpha-60: #49425899;
  --mdw-secondary-container-alpha-76: #494258c2;
  --mdw-on-secondary: #332d3e;
  --mdw-on-secondary-alpha-0: #332d3e00;
  --mdw-on-secondary-alpha-4: #332d3e0a;
  --mdw-on-secondary-alpha-5: #332d3e0d;
  --mdw-on-secondary-alpha-6: #332d3e0f;
  --mdw-on-secondary-alpha-8: #332d3e14;
  --mdw-on-secondary-alpha-10: #332d3e1a;
  --mdw-on-secondary-alpha-11: #332d3e1c;
  --mdw-on-secondary-alpha-12: #332d3e1f;
  --mdw-on-secondary-alpha-16: #332d3e29;
  --mdw-on-secondary-alpha-20: #332d3e33;
  --mdw-on-secondary-alpha-26: #332d3e42;
  --mdw-on-secondary-alpha-38: #332d3e61;
  --mdw-on-secondary-alpha-60: #332d3e99;
  --mdw-on-secondary-alpha-76: #332d3ec2;
  --mdw-on-secondary-container: #eae0fb;
  --mdw-on-secondary-container-alpha-0: #eae0fb00;
  --mdw-on-secondary-container-alpha-4: #eae0fb0a;
  --mdw-on-secondary-container-alpha-5: #eae0fb0d;
  --mdw-on-secondary-container-alpha-6: #eae0fb0f;
  --mdw-on-secondary-container-alpha-8: #eae0fb14;
  --mdw-on-secondary-container-alpha-10: #eae0fb1a;
  --mdw-on-secondary-container-alpha-11: #eae0fb1c;
  --mdw-on-secondary-container-alpha-12: #eae0fb1f;
  --mdw-on-secondary-container-alpha-16: #eae0fb29;
  --mdw-on-secondary-container-alpha-20: #eae0fb33;
  --mdw-on-secondary-container-alpha-26: #eae0fb42;
  --mdw-on-secondary-container-alpha-38: #eae0fb61;
  --mdw-on-secondary-container-alpha-60: #eae0fb99;
  --mdw-on-secondary-container-alpha-76: #eae0fbc2;
  --mdw-tertiary: #e3bdc8;
  --mdw-tertiary-alpha-0: #e3bdc800;
  --mdw-tertiary-alpha-4: #e3bdc80a;
  --mdw-tertiary-alpha-5: #e3bdc80d;
  --mdw-tertiary-alpha-6: #e3bdc80f;
  --mdw-tertiary-alpha-8: #e3bdc814;
  --mdw-tertiary-alpha-10: #e3bdc81a;
  --mdw-tertiary-alpha-11: #e3bdc81c;
  --mdw-tertiary-alpha-12: #e3bdc81f;
  --mdw-tertiary-alpha-16: #e3bdc829;
  --mdw-tertiary-alpha-20: #e3bdc833;
  --mdw-tertiary-alpha-26: #e3bdc842;
  --mdw-tertiary-alpha-38: #e3bdc861;
  --mdw-tertiary-alpha-60: #e3bdc899;
  --mdw-tertiary-alpha-76: #e3bdc8c2;
  --mdw-tertiary-container: #643946;
  --mdw-tertiary-container-alpha-0: #64394600;
  --mdw-tertiary-container-alpha-4: #6439460a;
  --mdw-tertiary-container-alpha-5: #6439460d;
  --mdw-tertiary-container-alpha-6: #6439460f;
  --mdw-tertiary-container-alpha-8: #64394614;
  --mdw-tertiary-container-alpha-10: #6439461a;
  --mdw-tertiary-container-alpha-11: #6439461c;
  --mdw-tertiary-container-alpha-12: #6439461f;
  --mdw-tertiary-container-alpha-16: #64394629;
  --mdw-tertiary-container-alpha-20: #64394633;
  --mdw-tertiary-container-alpha-26: #64394642;
  --mdw-tertiary-container-alpha-38: #64394661;
  --mdw-tertiary-container-alpha-60: #64394699;
  --mdw-tertiary-container-alpha-76: #643946c2;
  --mdw-on-tertiary: #4a242f;
  --mdw-on-tertiary-alpha-0: #4a242f00;
  --mdw-on-tertiary-alpha-4: #4a242f0a;
  --mdw-on-tertiary-alpha-5: #4a242f0d;
  --mdw-on-tertiary-alpha-6: #4a242f0f;
  --mdw-on-tertiary-alpha-8: #4a242f14;
  --mdw-on-tertiary-alpha-10: #4a242f1a;
  --mdw-on-tertiary-alpha-11: #4a242f1c;
  --mdw-on-tertiary-alpha-12: #4a242f1f;
  --mdw-on-tertiary-alpha-16: #4a242f29;
  --mdw-on-tertiary-alpha-20: #4a242f33;
  --mdw-on-tertiary-alpha-26: #4a242f42;
  --mdw-on-tertiary-alpha-38: #4a242f61;
  --mdw-on-tertiary-alpha-60: #4a242f99;
  --mdw-on-tertiary-alpha-76: #4a242fc2;
  --mdw-on-tertiary-container: #ffd7e1;
  --mdw-on-tertiary-container-alpha-0: #ffd7e100;
  --mdw-on-tertiary-container-alpha-4: #ffd7e10a;
  --mdw-on-tertiary-container-alpha-5: #ffd7e10d;
  --mdw-on-tertiary-container-alpha-6: #ffd7e10f;
  --mdw-on-tertiary-container-alpha-8: #ffd7e114;
  --mdw-on-tertiary-container-alpha-10: #ffd7e11a;
  --mdw-on-tertiary-container-alpha-11: #ffd7e11c;
  --mdw-on-tertiary-container-alpha-12: #ffd7e11f;
  --mdw-on-tertiary-container-alpha-16: #ffd7e129;
  --mdw-on-tertiary-container-alpha-20: #ffd7e133;
  --mdw-on-tertiary-container-alpha-26: #ffd7e142;
  --mdw-on-tertiary-container-alpha-38: #ffd7e161;
  --mdw-on-tertiary-container-alpha-60: #ffd7e199;
  --mdw-on-tertiary-container-alpha-76: #ffd7e1c2;
  --mdw-error: #ff9589;
  --mdw-error-alpha-0: #ff958900;
  --mdw-error-alpha-4: #ff95890a;
  --mdw-error-alpha-5: #ff95890d;
  --mdw-error-alpha-6: #ff95890f;
  --mdw-error-alpha-8: #ff958914;
  --mdw-error-alpha-10: #ff95891a;
  --mdw-error-alpha-11: #ff95891c;
  --mdw-error-alpha-12: #ff95891f;
  --mdw-error-alpha-16: #ff958929;
  --mdw-error-alpha-20: #ff958933;
  --mdw-error-alpha-26: #ff958942;
  --mdw-error-alpha-38: #ff958961;
  --mdw-error-alpha-60: #ff958999;
  --mdw-error-alpha-76: #ff9589c2;
  --mdw-error-container: #9a0f05;
  --mdw-error-container-alpha-0: #9a0f0500;
  --mdw-error-container-alpha-4: #9a0f050a;
  --mdw-error-container-alpha-5: #9a0f050d;
  --mdw-error-container-alpha-6: #9a0f050f;
  --mdw-error-container-alpha-8: #9a0f0514;
  --mdw-error-container-alpha-10: #9a0f051a;
  --mdw-error-container-alpha-11: #9a0f051c;
  --mdw-error-container-alpha-12: #9a0f051f;
  --mdw-error-container-alpha-16: #9a0f0529;
  --mdw-error-container-alpha-20: #9a0f0533;
  --mdw-error-container-alpha-26: #9a0f0542;
  --mdw-error-container-alpha-38: #9a0f0561;
  --mdw-error-container-alpha-60: #9a0f0599;
  --mdw-error-container-alpha-76: #9a0f05c2;
  --mdw-on-error: #800b00;
  --mdw-on-error-alpha-0: #800b0000;
  --mdw-on-error-alpha-4: #800b000a;
  --mdw-on-error-alpha-5: #800b000d;
  --mdw-on-error-alpha-6: #800b000f;
  --mdw-on-error-alpha-8: #800b0014;
  --mdw-on-error-alpha-10: #800b001a;
  --mdw-on-error-alpha-11: #800b001c;
  --mdw-on-error-alpha-12: #800b001f;
  --mdw-on-error-alpha-16: #800b0029;
  --mdw-on-error-alpha-20: #800b0033;
  --mdw-on-error-alpha-26: #800b0042;
  --mdw-on-error-alpha-38: #800b0061;
  --mdw-on-error-alpha-60: #800b0099;
  --mdw-on-error-alpha-76: #800b00c2;
  --mdw-on-error-container: #ffaea3;
  --mdw-on-error-container-alpha-0: #ffaea300;
  --mdw-on-error-container-alpha-4: #ffaea30a;
  --mdw-on-error-container-alpha-5: #ffaea30d;
  --mdw-on-error-container-alpha-6: #ffaea30f;
  --mdw-on-error-container-alpha-8: #ffaea314;
  --mdw-on-error-container-alpha-10: #ffaea31a;
  --mdw-on-error-container-alpha-11: #ffaea31c;
  --mdw-on-error-container-alpha-12: #ffaea31f;
  --mdw-on-error-container-alpha-16: #ffaea329;
  --mdw-on-error-container-alpha-20: #ffaea333;
  --mdw-on-error-container-alpha-26: #ffaea342;
  --mdw-on-error-container-alpha-38: #ffaea361;
  --mdw-on-error-container-alpha-60: #ffaea399;
  --mdw-on-error-container-alpha-76: #ffaea3c2;
  --mdw-neutral: #d0ccd5;
  --mdw-neutral-alpha-0: #d0ccd500;
  --mdw-neutral-alpha-4: #d0ccd50a;
  --mdw-neutral-alpha-5: #d0ccd50d;
  --mdw-neutral-alpha-6: #d0ccd50f;
  --mdw-neutral-alpha-8: #d0ccd514;
  --mdw-neutral-alpha-10: #d0ccd51a;
  --mdw-neutral-alpha-11: #d0ccd51c;
  --mdw-neutral-alpha-12: #d0ccd51f;
  --mdw-neutral-alpha-16: #d0ccd529;
  --mdw-neutral-alpha-20: #d0ccd533;
  --mdw-neutral-alpha-26: #d0ccd542;
  --mdw-neutral-alpha-38: #d0ccd561;
  --mdw-neutral-alpha-60: #d0ccd599;
  --mdw-neutral-alpha-76: #d0ccd5c2;
  --mdw-neutral-variant: #c8c1cc;
  --mdw-neutral-variant-alpha-0: #c8c1cc00;
  --mdw-neutral-variant-alpha-4: #c8c1cc0a;
  --mdw-neutral-variant-alpha-5: #c8c1cc0d;
  --mdw-neutral-variant-alpha-6: #c8c1cc0f;
  --mdw-neutral-variant-alpha-8: #c8c1cc14;
  --mdw-neutral-variant-alpha-10: #c8c1cc1a;
  --mdw-neutral-variant-alpha-11: #c8c1cc1c;
  --mdw-neutral-variant-alpha-12: #c8c1cc1f;
  --mdw-neutral-variant-alpha-16: #c8c1cc29;
  --mdw-neutral-variant-alpha-20: #c8c1cc33;
  --mdw-neutral-variant-alpha-26: #c8c1cc42;
  --mdw-neutral-variant-alpha-38: #c8c1cc61;
  --mdw-neutral-variant-alpha-60: #c8c1cc99;
  --mdw-neutral-variant-alpha-76: #c8c1ccc2;
  --mdw-surface: #110a18;
  --mdw-surface-alpha-0: #110a1800;
  --mdw-surface-alpha-4: #110a180a;
  --mdw-surface-alpha-5: #110a180d;
  --mdw-surface-alpha-6: #110a180f;
  --mdw-surface-alpha-8: #110a1814;
  --mdw-surface-alpha-10: #110a181a;
  --mdw-surface-alpha-11: #110a181c;
  --mdw-surface-alpha-12: #110a181f;
  --mdw-surface-alpha-16: #110a1829;
  --mdw-surface-alpha-20: #110a1833;
  --mdw-surface-alpha-26: #110a1842;
  --mdw-surface-alpha-38: #110a1861;
  --mdw-surface-alpha-60: #110a1899;
  --mdw-surface-alpha-76: #110a18c2;
  --mdw-surface-dim: #110a18;
  --mdw-surface-dim-alpha-0: #110a1800;
  --mdw-surface-dim-alpha-4: #110a180a;
  --mdw-surface-dim-alpha-5: #110a180d;
  --mdw-surface-dim-alpha-6: #110a180f;
  --mdw-surface-dim-alpha-8: #110a1814;
  --mdw-surface-dim-alpha-10: #110a181a;
  --mdw-surface-dim-alpha-11: #110a181c;
  --mdw-surface-dim-alpha-12: #110a181f;
  --mdw-surface-dim-alpha-16: #110a1829;
  --mdw-surface-dim-alpha-20: #110a1833;
  --mdw-surface-dim-alpha-26: #110a1842;
  --mdw-surface-dim-alpha-38: #110a1861;
  --mdw-surface-dim-alpha-60: #110a1899;
  --mdw-surface-dim-alpha-76: #110a18c2;
  --mdw-surface-bright: #403b46;
  --mdw-surface-bright-alpha-0: #403b4600;
  --mdw-surface-bright-alpha-4: #403b460a;
  --mdw-surface-bright-alpha-5: #403b460d;
  --mdw-surface-bright-alpha-6: #403b460f;
  --mdw-surface-bright-alpha-8: #403b4614;
  --mdw-surface-bright-alpha-10: #403b461a;
  --mdw-surface-bright-alpha-11: #403b461c;
  --mdw-surface-bright-alpha-12: #403b461f;
  --mdw-surface-bright-alpha-16: #403b4629;
  --mdw-surface-bright-alpha-20: #403b4633;
  --mdw-surface-bright-alpha-26: #403b4642;
  --mdw-surface-bright-alpha-38: #403b4661;
  --mdw-surface-bright-alpha-60: #403b4699;
  --mdw-surface-bright-alpha-76: #403b46c2;
  --mdw-surface-container-lowest: #0d0513;
  --mdw-surface-container-lowest-alpha-0: #0d051300;
  --mdw-surface-container-lowest-alpha-4: #0d05130a;
  --mdw-surface-container-lowest-alpha-5: #0d05130d;
  --mdw-surface-container-lowest-alpha-6: #0d05130f;
  --mdw-surface-container-lowest-alpha-8: #0d051314;
  --mdw-surface-container-lowest-alpha-10: #0d05131a;
  --mdw-surface-container-lowest-alpha-11: #0d05131c;
  --mdw-surface-container-lowest-alpha-12: #0d05131f;
  --mdw-surface-container-lowest-alpha-16: #0d051329;
  --mdw-surface-container-lowest-alpha-20: #0d051333;
  --mdw-surface-container-lowest-alpha-26: #0d051342;
  --mdw-surface-container-lowest-alpha-38: #0d051361;
  --mdw-surface-container-lowest-alpha-60: #0d051399;
  --mdw-surface-container-lowest-alpha-76: #0d0513c2;
  --mdw-surface-container-low: #1b1422;
  --mdw-surface-container-low-alpha-0: #1b142200;
  --mdw-surface-container-low-alpha-4: #1b14220a;
  --mdw-surface-container-low-alpha-5: #1b14220d;
  --mdw-surface-container-low-alpha-6: #1b14220f;
  --mdw-surface-container-low-alpha-8: #1b142214;
  --mdw-surface-container-low-alpha-10: #1b14221a;
  --mdw-surface-container-low-alpha-11: #1b14221c;
  --mdw-surface-container-low-alpha-12: #1b14221f;
  --mdw-surface-container-low-alpha-16: #1b142229;
  --mdw-surface-container-low-alpha-20: #1b142233;
  --mdw-surface-container-low-alpha-26: #1b142242;
  --mdw-surface-container-low-alpha-38: #1b142261;
  --mdw-surface-container-low-alpha-60: #1b142299;
  --mdw-surface-container-low-alpha-76: #1b1422c2;
  --mdw-surface-container: #211a28;
  --mdw-surface-container-alpha-0: #211a2800;
  --mdw-surface-container-alpha-4: #211a280a;
  --mdw-surface-container-alpha-5: #211a280d;
  --mdw-surface-container-alpha-6: #211a280f;
  --mdw-surface-container-alpha-8: #211a2814;
  --mdw-surface-container-alpha-10: #211a281a;
  --mdw-surface-container-alpha-11: #211a281c;
  --mdw-surface-container-alpha-12: #211a281f;
  --mdw-surface-container-alpha-16: #211a2829;
  --mdw-surface-container-alpha-20: #211a2833;
  --mdw-surface-container-alpha-26: #211a2842;
  --mdw-surface-container-alpha-38: #211a2861;
  --mdw-surface-container-alpha-60: #211a2899;
  --mdw-surface-container-alpha-76: #211a28c2;
  --mdw-surface-container-high: #404040;
  --mdw-surface-container-high-alpha-0: #40404000;
  --mdw-surface-container-high-alpha-4: #4040400a;
  --mdw-surface-container-high-alpha-5: #4040400d;
  --mdw-surface-container-high-alpha-6: #4040400f;
  --mdw-surface-container-high-alpha-8: #40404014;
  --mdw-surface-container-high-alpha-10: #4040401a;
  --mdw-surface-container-high-alpha-11: #4040401c;
  --mdw-surface-container-high-alpha-12: #4040401f;
  --mdw-surface-container-high-alpha-16: #40404029;
  --mdw-surface-container-high-alpha-20: #40404033;
  --mdw-surface-container-high-alpha-26: #40404042;
  --mdw-surface-container-high-alpha-38: #40404061;
  --mdw-surface-container-high-alpha-60: #40404099;
  --mdw-surface-container-high-alpha-76: #404040c2;
  --mdw-surface-container-highest: #3c3841;
  --mdw-surface-container-highest-alpha-0: #3c384100;
  --mdw-surface-container-highest-alpha-4: #3c38410a;
  --mdw-surface-container-highest-alpha-5: #3c38410d;
  --mdw-surface-container-highest-alpha-6: #3c38410f;
  --mdw-surface-container-highest-alpha-8: #3c384114;
  --mdw-surface-container-highest-alpha-10: #3c38411a;
  --mdw-surface-container-highest-alpha-11: #3c38411c;
  --mdw-surface-container-highest-alpha-12: #3c38411f;
  --mdw-surface-container-highest-alpha-16: #3c384129;
  --mdw-surface-container-highest-alpha-20: #3c384133;
  --mdw-surface-container-highest-alpha-26: #3c384142;
  --mdw-surface-container-highest-alpha-38: #3c384161;
  --mdw-surface-container-highest-alpha-60: #3c384199;
  --mdw-surface-container-highest-alpha-76: #3c3841c2;
  --mdw-surface-variant: #473d4d;
  --mdw-surface-variant-alpha-0: #473d4d00;
  --mdw-surface-variant-alpha-4: #473d4d0a;
  --mdw-surface-variant-alpha-5: #473d4d0d;
  --mdw-surface-variant-alpha-6: #473d4d0f;
  --mdw-surface-variant-alpha-8: #473d4d14;
  --mdw-surface-variant-alpha-10: #473d4d1a;
  --mdw-surface-variant-alpha-11: #473d4d1c;
  --mdw-surface-variant-alpha-12: #473d4d1f;
  --mdw-surface-variant-alpha-16: #473d4d29;
  --mdw-surface-variant-alpha-20: #473d4d33;
  --mdw-surface-variant-alpha-26: #473d4d42;
  --mdw-surface-variant-alpha-38: #473d4d61;
  --mdw-surface-variant-alpha-60: #473d4d99;
  --mdw-surface-variant-alpha-76: #473d4dc2;
  --mdw-on-surface: #efe6f9;
  --mdw-on-surface-alpha-0: #efe6f900;
  --mdw-on-surface-alpha-4: #efe6f90a;
  --mdw-on-surface-alpha-5: #efe6f90d;
  --mdw-on-surface-alpha-6: #efe6f90f;
  --mdw-on-surface-alpha-8: #efe6f914;
  --mdw-on-surface-alpha-10: #efe6f91a;
  --mdw-on-surface-alpha-11: #efe6f91c;
  --mdw-on-surface-alpha-12: #efe6f91f;
  --mdw-on-surface-alpha-16: #efe6f929;
  --mdw-on-surface-alpha-20: #efe6f933;
  --mdw-on-surface-alpha-26: #efe6f942;
  --mdw-on-surface-alpha-38: #efe6f961;
  --mdw-on-surface-alpha-60: #efe6f999;
  --mdw-on-surface-alpha-76: #efe6f9c2;
  --mdw-on-surface-variant: #c8c1cc;
  --mdw-on-surface-variant-alpha-0: #c8c1cc00;
  --mdw-on-surface-variant-alpha-4: #c8c1cc0a;
  --mdw-on-surface-variant-alpha-5: #c8c1cc0d;
  --mdw-on-surface-variant-alpha-6: #c8c1cc0f;
  --mdw-on-surface-variant-alpha-8: #c8c1cc14;
  --mdw-on-surface-variant-alpha-10: #c8c1cc1a;
  --mdw-on-surface-variant-alpha-11: #c8c1cc1c;
  --mdw-on-surface-variant-alpha-12: #c8c1cc1f;
  --mdw-on-surface-variant-alpha-16: #c8c1cc29;
  --mdw-on-surface-variant-alpha-20: #c8c1cc33;
  --mdw-on-surface-variant-alpha-26: #c8c1cc42;
  --mdw-on-surface-variant-alpha-38: #c8c1cc61;
  --mdw-on-surface-variant-alpha-60: #c8c1cc99;
  --mdw-on-surface-variant-alpha-76: #c8c1ccc2;
  --mdw-surface-tint: #6750A4;
  --mdw-surface-tint-alpha-0: #6750A400;
  --mdw-surface-tint-alpha-4: #6750A40a;
  --mdw-surface-tint-alpha-5: #6750A40d;
  --mdw-surface-tint-alpha-6: #6750A40f;
  --mdw-surface-tint-alpha-8: #6750A414;
  --mdw-surface-tint-alpha-10: #6750A41a;
  --mdw-surface-tint-alpha-11: #6750A41c;
  --mdw-surface-tint-alpha-12: #6750A41f;
  --mdw-surface-tint-alpha-16: #6750A429;
  --mdw-surface-tint-alpha-20: #6750A433;
  --mdw-surface-tint-alpha-26: #6750A442;
  --mdw-surface-tint-alpha-38: #6750A461;
  --mdw-surface-tint-alpha-60: #6750A499;
  --mdw-surface-tint-alpha-76: #6750A4c2;
  --mdw-surface-inverse: #efe6f9;
  --mdw-surface-inverse-alpha-0: #efe6f900;
  --mdw-surface-inverse-alpha-4: #efe6f90a;
  --mdw-surface-inverse-alpha-5: #efe6f90d;
  --mdw-surface-inverse-alpha-6: #efe6f90f;
  --mdw-surface-inverse-alpha-8: #efe6f914;
  --mdw-surface-inverse-alpha-10: #efe6f91a;
  --mdw-surface-inverse-alpha-11: #efe6f91c;
  --mdw-surface-inverse-alpha-12: #efe6f91f;
  --mdw-surface-inverse-alpha-16: #efe6f929;
  --mdw-surface-inverse-alpha-20: #efe6f933;
  --mdw-surface-inverse-alpha-26: #efe6f942;
  --mdw-surface-inverse-alpha-38: #efe6f961;
  --mdw-surface-inverse-alpha-60: #efe6f999;
  --mdw-surface-inverse-alpha-76: #efe6f9c2;
  --mdw-on-surface-inverse: #37333c;
  --mdw-on-surface-inverse-alpha-0: #37333c00;
  --mdw-on-surface-inverse-alpha-4: #37333c0a;
  --mdw-on-surface-inverse-alpha-5: #37333c0d;
  --mdw-on-surface-inverse-alpha-6: #37333c0f;
  --mdw-on-surface-inverse-alpha-8: #37333c14;
  --mdw-on-surface-inverse-alpha-10: #37333c1a;
  --mdw-on-surface-inverse-alpha-11: #37333c1c;
  --mdw-on-surface-inverse-alpha-12: #37333c1f;
  --mdw-on-surface-inverse-alpha-16: #37333c29;
  --mdw-on-surface-inverse-alpha-20: #37333c33;
  --mdw-on-surface-inverse-alpha-26: #37333c42;
  --mdw-on-surface-inverse-alpha-38: #37333c61;
  --mdw-on-surface-inverse-alpha-60: #37333c99;
  --mdw-on-surface-inverse-alpha-76: #37333cc2;
  --mdw-background: #110a18;
  --mdw-background-alpha-0: #110a1800;
  --mdw-background-alpha-4: #110a180a;
  --mdw-background-alpha-5: #110a180d;
  --mdw-background-alpha-6: #110a180f;
  --mdw-background-alpha-8: #110a1814;
  --mdw-background-alpha-10: #110a181a;
  --mdw-background-alpha-11: #110a181c;
  --mdw-background-alpha-12: #110a181f;
  --mdw-background-alpha-16: #110a1829;
  --mdw-background-alpha-20: #110a1833;
  --mdw-background-alpha-26: #110a1842;
  --mdw-background-alpha-38: #110a1861;
  --mdw-background-alpha-60: #110a1899;
  --mdw-background-alpha-76: #110a18c2;
  --mdw-on-background: #efe6f9;
  --mdw-on-background-alpha-0: #efe6f900;
  --mdw-on-background-alpha-4: #efe6f90a;
  --mdw-on-background-alpha-5: #efe6f90d;
  --mdw-on-background-alpha-6: #efe6f90f;
  --mdw-on-background-alpha-8: #efe6f914;
  --mdw-on-background-alpha-10: #efe6f91a;
  --mdw-on-background-alpha-11: #efe6f91c;
  --mdw-on-background-alpha-12: #efe6f91f;
  --mdw-on-background-alpha-16: #efe6f929;
  --mdw-on-background-alpha-20: #efe6f933;
  --mdw-on-background-alpha-26: #efe6f942;
  --mdw-on-background-alpha-38: #efe6f961;
  --mdw-on-background-alpha-60: #efe6f999;
  --mdw-on-background-alpha-76: #efe6f9c2;
  --mdw-outline: #958e99;
  --mdw-outline-alpha-0: #958e9900;
  --mdw-outline-alpha-4: #958e990a;
  --mdw-outline-alpha-5: #958e990d;
  --mdw-outline-alpha-6: #958e990f;
  --mdw-outline-alpha-8: #958e9914;
  --mdw-outline-alpha-10: #958e991a;
  --mdw-outline-alpha-11: #958e991c;
  --mdw-outline-alpha-12: #958e991f;
  --mdw-outline-alpha-16: #958e9929;
  --mdw-outline-alpha-20: #958e9933;
  --mdw-outline-alpha-26: #958e9942;
  --mdw-outline-alpha-38: #958e9961;
  --mdw-outline-alpha-60: #958e9999;
  --mdw-outline-alpha-76: #958e99c2;
  --mdw-outline-variant: #473d4d;
  --mdw-outline-variant-alpha-0: #473d4d00;
  --mdw-outline-variant-alpha-4: #473d4d0a;
  --mdw-outline-variant-alpha-5: #473d4d0d;
  --mdw-outline-variant-alpha-6: #473d4d0f;
  --mdw-outline-variant-alpha-8: #473d4d14;
  --mdw-outline-variant-alpha-10: #473d4d1a;
  --mdw-outline-variant-alpha-11: #473d4d1c;
  --mdw-outline-variant-alpha-12: #473d4d1f;
  --mdw-outline-variant-alpha-16: #473d4d29;
  --mdw-outline-variant-alpha-20: #473d4d33;
  --mdw-outline-variant-alpha-26: #473d4d42;
  --mdw-outline-variant-alpha-38: #473d4d61;
  --mdw-outline-variant-alpha-60: #473d4d99;
  --mdw-outline-variant-alpha-76: #473d4dc2;
  --mdw-shadow: #000000;
  --mdw-shadow-alpha-0: #00000000;
  --mdw-shadow-alpha-4: #0000000a;
  --mdw-shadow-alpha-5: #0000000d;
  --mdw-shadow-alpha-6: #0000000f;
  --mdw-shadow-alpha-8: #00000014;
  --mdw-shadow-alpha-10: #0000001a;
  --mdw-shadow-alpha-11: #0000001c;
  --mdw-shadow-alpha-12: #0000001f;
  --mdw-shadow-alpha-16: #00000029;
  --mdw-shadow-alpha-20: #00000033;
  --mdw-shadow-alpha-26: #00000042;
  --mdw-shadow-alpha-38: #00000061;
  --mdw-shadow-alpha-60: #00000099;
  --mdw-shadow-alpha-76: #000000c2;
  --mdw-scrim: #000000;
  --mdw-scrim-alpha-0: #00000000;
  --mdw-scrim-alpha-4: #0000000a;
  --mdw-scrim-alpha-5: #0000000d;
  --mdw-scrim-alpha-6: #0000000f;
  --mdw-scrim-alpha-8: #00000014;
  --mdw-scrim-alpha-10: #0000001a;
  --mdw-scrim-alpha-11: #0000001c;
  --mdw-scrim-alpha-12: #0000001f;
  --mdw-scrim-alpha-16: #00000029;
  --mdw-scrim-alpha-20: #00000033;
  --mdw-scrim-alpha-26: #00000042;
  --mdw-scrim-alpha-38: #00000061;
  --mdw-scrim-alpha-60: #00000099;
  --mdw-scrim-alpha-76: #000000c2;
  
}