/* hide while loading */
html:not(.mdw-initiated) body {
  opacity: 0;
  pointer-events: none;
}

/* Change theme by adding 'color-scheme: dark | light;' to the html element style */
/* By default it will use the system preference */


:root {
  /* set separate font families */
  /* --mdw-font-brand: 'Roboto'; */
  /* --mdw-font-plain: 'Roboto'; */

  --mdw-primary-source: #6750A4;
  --mdw-secondary-source: #625B71;
  --mdw-tertiary-source: #7D5260;
  --mdw-neutral-source: #67616f;
  /* --mdw-neutral-variant-source: #605666; */
  /* --mdw-error-source: #B3261E; */

  --mdw-custom-color-colorName: #5b7166;
}
