wfc-top-app-bar {
  --wfc-top-app-bar-scroll-position: 0px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 64px;
  box-sizing: border-box;
  padding: 0 16px;
  z-index: 9;
}

wfc-top-app-bar.sticky,
wfc-top-app-bar.compress {
  position: fixed;
}

wfc-top-app-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--wfc-surface);

  transition: background-color;
  transition-duration: var(--wfc-motion-duration-medium1);
  transition-timing-function: var(--wfc-motion-easing-standard);
}

wfc-top-app-bar.scrolled::before {
  background-color: var(--wfc-surface-container);
}

wfc-top-app-bar > wfc-navigation-button {
  margin-left: -8px;
}

wfc-top-app-bar > .headline {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: var(--wfc-font-large-title-size);
  font-weight: var(--wfc-font-large-title-weight);
  line-height: var(--wfc-font-large-title-line-height);
  letter-spacing: var(--wfc-font-large-title-tracking);
  color: var(--wfc-on-surface);
}

wfc-top-app-bar.center-aligned > .headline {
  text-align: center;
}

wfc-top-app-bar wfc-icon {
  font-size: 29px;
  width: 24px;
  height: 24px;
}

wfc-top-app-bar:not(.center-aligned) > wfc-navigation-button + .headline,
wfc-top-app-bar:not(.center-aligned) > wfc-icon + .headline {
  margin-left: 16px;
}



/* --- medium --- */

wfc-top-app-bar.medium {
  align-items: start;
  padding-top: 20px;
  height: 112px;
}

wfc-top-app-bar.medium > .headline {
  font-size: var(--wfc-font-small-headline-size);
  font-weight: var(--wfc-font-small-headline-weight);
  line-height: var(--wfc-font-small-headline-line-height);
  letter-spacing: var(--wfc-font-small-headline-tracking);

  margin-top: 44px;
  transform: translateX(-36px);
}

wfc-top-app-bar.medium > wfc-navigation-button {
  margin-top: -8px;
}

wfc-top-app-bar.medium.compress {
  height: calc(112px + var(--wfc-top-app-bar-scroll-position));
}

wfc-top-app-bar.medium.compress > .headline {
  margin-top: max(calc(44px + var(--wfc-top-app-bar-scroll-position)), -4px);
  transform: translateX(min(calc(-36px - var(--wfc-top-app-bar-scroll-position)), 0px));
}



/* --- large --- */

wfc-top-app-bar.large {
  align-items: start;
  padding-top: 20px;
  height: 152px;
}

wfc-top-app-bar.large > .headline {
  font-size: var(--wfc-font-medium-headline-size);
  font-weight: var(--wfc-font-medium-headline-weight);
  line-height: var(--wfc-font-medium-headline-line-height);
  letter-spacing: var(--wfc-font-medium-headline-tracking);

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: unset;
  align-self: end;
  margin-bottom: 16px;
  transform: translateX(-36px);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

wfc-top-app-bar.large > wfc-navigation-button {
  margin-top: -6px;
}

wfc-top-app-bar.large.compress {
  height: calc(152px + var(--wfc-top-app-bar-scroll-position));
}

wfc-top-app-bar.large.compress > .headline {
  margin-bottom: max(calc(16px + var(--wfc-top-app-bar-scroll-position)), 14px);
  transform: translateX(min(calc(-36px - var(--wfc-top-app-bar-scroll-position)), 0px));
}

body.has-navigation wfc-top-app-bar {
  margin-left: var(--wfc-navigation-drawer-width);
  transition: margin-left 0ms;
  transition-timing-function: var(--wfc-motion-easing-standard-decelerate);
}

body.has-navigation-rail:not(.has-navigation) wfc-top-app-bar,
body.has-navigation-rail.navigation-drawer-state-hide wfc-top-app-bar {
  margin-left: var(--wfc-navigation-rail-width);
  transition: margin-left 0ms;
  transition-timing-function: var(--wfc-motion-easing-standard-decelerate);
}

body.navigation-drawer-state-hide:not(.has-navigation-rail) wfc-top-app-bar,
body.window-compact wfc-top-app-bar,
body.window-medium wfc-top-app-bar,
body.has-navigation-rail.navigation-drawer-state-hide.window-compact.has-bottom-app-bar wfc-top-app-bar,
body.has-navigation-rail.navigation-drawer-state-hide.window-compact.has-navigation-bar wfc-top-app-bar {
  margin-left: 0;
  transition-timing-function: var(--wfc-motion-easing-standard-accelerate);
  transition: margin-left 0ms;
}

body.has-navigation-rail.window-medium wfc-top-app-bar {
  margin-left: var(--wfc-navigation-rail-width);
  transition-timing-function: var(--wfc-motion-easing-standard-decelerate);
}

wfc-top-app-bar {
  transition-duration: var(--wfc-motion-duration-short4);
}
