:host {
  position: relative;
  min-width: 112px;
  display: contents;
}

.surface {
  --wfc-surface-horizontal-position: 0px;
  --wfc-surface-vertical-position: 0px;
  --wfc-surface-close-delay: 0ms;
  --wfc-surface-translate-x: calc(var(--wfc-surface-width, inherit) * 0.35 * -1);
  --wfc-surface-offset-bottom: 0;
  
  position: absolute;
  border-radius: inherit;
  display: none;
  inset: auto;
  border: none;
  padding: 0px;
  overflow: visible;
  background-color: transparent;
  color: inherit;
  opacity: 0;
  z-index: 20;
  user-select: none;
  -webkit-user-select: none;
  max-height: inherit;
  height: inherit;
  width: inherit;
  min-width: inherit;
  max-width: inherit;
  visibility: hidden;
}

.surface.always-visible {
  display: block;
  visibility: visible;
  opacity: 1;
}

/* .surface.animating {
  max-height: var(--wfc-surface-height, inherit);
} */

.surface {
  max-height: var(--wfc-surface-height, inherit);
}

:host(.open) .surface,
.animating.surface {
  display: block;
  opacity: 1;
  visibility: visible;
}

.surface::backdrop {
  display: none;
}

:host(.fixed) .surface {
  position: fixed;
}

.surface-content {
  display: block;
  list-style-type: none;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  background-color: inherit;
  border-radius: inherit;
  overflow: auto;
  height: inherit;
  max-height: inherit;
  min-width: inherit;
  max-width: inherit;
  overscroll-behavior: contain;
}

.animating .surface-content {
  overflow: hidden;
}

.predictive-back-icon {
  --wfc-predictive-back-stretch: 0px;

  position: absolute;
  left: 12px;
  top: calc(50% - 18px);
  width: calc(28px + var(--wfc-predictive-back-stretch));
  height: 32px;
  border-radius: 18px;
  background-color: var(--wfc-scrim-alpha-76);
  transition: left, opacity;
  transition-duration: var(--wfc-motion-duration-medium1);
  opacity: 1;
  pointer-events: none;
  color: var(--wfc-on-primary);
  align-items: center;
  justify-content: center;
}

.predictive-back-icon svg {
  width: 24px;
  height: 24px;
  margin-left: 6px;
}

.predictive-back-icon.right {
  right: 12px;
  left: unset;
  transition: right, opacity;
}

.predictive-back-icon.right svg {
  rotate: 180deg;
  margin-left: -8px;
}

.predictive-back-icon.hide {
  left: -100%;
  opacity: 0;
}

.predictive-back-icon.right.hide {
  right: -100%;
}


:host(.open.animation-fullscreen),
:host(.closing.animation-fullscreen) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* max-height: 100vh; */
  z-index: 22;
}

:host(.open.animation-fullscreen) .surface,
:host(.closing.animation-fullscreen) .surface {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

:host(.open.animation-fullscreen) .surface-content,
:host(.closing.animation-fullscreen) .surface-content {
  width: 100%;
  height: 100%;
}

/* force inside to be taller than container to always have scroll. This will force overscroll-behavior to be active */
:host(.open.animation-fullscreen) .item-padding {
  /* padding is 76 + 8. 82 = 100% + 2 */
  min-height: calc(100% - 82px);
}

:host(:not(.open).animation-fullscreen) {
  transition: top, left, width, height, border-radius;
  transition-duration: var(--wfc-motion-duration-short3);
  transition-timing-function: var(--wfc-motion-easing-emphasized-accelerate);
  transition-delay: 50ms;
}

:host(.open.animation-fullscreen) {
  transition-duration: var(--wfc-motion-duration-medium3);
  transition-timing-function: var(--wfc-motion-easing-emphasized);
}

:host(:not(.open).animation-fullscreen) .surface.animating {
  transition: opacity;
  transition-duration: var(--wfc-motion-duration-short2);
  transition-timing-function: var(--wfc-motion-easing-emphasized-accelerate);
}

:host(.open.animation-fullscreen) .surface.animating {
  transition-duration: var(--wfc-motion-duration-medium2);
  transition-timing-function: var(--wfc-motion-easing-emphasized);
}



:host(:not(.anchor).position-center) .surface,
:host(:not(.anchor).position-center-center) .surface {
  --wfc-surface-horizontal-position: -50%;
  --wfc-surface-vertical-position: -50%;
  top: 50%;
  left: 50%;
}

:host(:not(.anchor).position-center-left) .surface {
  --wfc-surface-horizontal-position: 0px;
  --wfc-surface-vertical-position: -50%;
  top: 50%;
  left: 0;
}

:host(:not(.anchor).position-center-right) .surface {
  --wfc-surface-horizontal-position: 0px;
  --wfc-surface-vertical-position: -50%;
  top: 50%;
  right: 0;
}

:host(:not(.anchor).position-top-center) .surface {
  --wfc-surface-horizontal-position: -50%;
  --wfc-surface-vertical-position: 0px;
  top: 0;
  left: 50%;
}

:host(.position-top-left) .surface {
  --wfc-surface-horizontal-position: 0px;
  --wfc-surface-vertical-position: 0px;
  top: 0;
  left: 0;
}

:host(:not(.anchor).position-top-left) .surface {
  --wfc-surface-horizontal-position: 0px;
  --wfc-surface-vertical-position: 0px;
  top: 0;
  left: 0;
}

:host(:not(.anchor).position-top-right) .surface {
  --wfc-surface-horizontal-position: 0px;
  --wfc-surface-vertical-position: 0px;
  top: 0;
  right: 0;
}

:host(:not(.anchor).position-bottom-center) .surface {
  --wfc-surface-horizontal-position: -50%;
  --wfc-surface-vertical-position: 0px;
  bottom: 0;
  left: 50%;
}

:host(.position-bottom-left) .surface {
  --wfc-surface-horizontal-position: 0px;
  --wfc-surface-vertical-position: 0px;
  bottom: 0;
  left: 0;
}

:host(:not(.anchor).position-bottom-left) .surface {
  --wfc-surface-horizontal-position: 0px;
  --wfc-surface-vertical-position: 0px;
  bottom: 0;
  left: 0;
}

:host(:not(.anchor).position-bottom-right) .surface {
  --wfc-surface-horizontal-position: 0px;
  --wfc-surface-vertical-position: 0px;
  bottom: 0;
  right: 0;
}

:host(:not(.anchor)) .surface {
  transform: translate(
    var(--wfc-surface-horizontal-position),
    var(--wfc-surface-vertical-position)
  );
}

slot {
  display: block;
  height: inherit;
  max-height: inherit;
}


:host(:not(.open):not(.animation-fullscreen)) .surface.animating {
  /* animation: hide-translate-y;
  animation-duration: var(--wfc-motion-duration-short3);
  animation-timing-function: var(--wfc-motion-easing-emphasized-accelerate); */
  animation: none;
}

:host(.open:not(.animation-fullscreen)) .surface.animating {
  /* animation: show-translate-y;
  animation-duration: var(--wfc-motion-duration-medium2);
  animation-timing-function: var(--wfc-motion-easing-emphasized); */
  animation: none;
}

:host(:not(.open).animation-height) .surface.animating {
  animation: hide-max-height;
  animation-duration: var(--wfc-motion-duration-short3);
  animation-timing-function: var(--wfc-motion-easing-emphasized-accelerate);
  animation-delay: var(--wfc-surface-close-delay, 0ms);
}

:host(.open.animation-height) .surface.animating {
  animation: show-max-height;
  animation-duration: var(--wfc-motion-duration-medium3);
  animation-timing-function: var(--wfc-motion-easing-emphasized);
}

:host(:not(.open).animation-height) .surface.above.animating {
  animation: hide-max-height-above;
  animation-duration: var(--wfc-motion-duration-short3);
  animation-timing-function: var(--wfc-motion-easing-emphasized-accelerate);
  animation-delay: var(--wfc-surface-close-delay, 0ms);
}

:host(.open.animation-height) .surface.above.animating {
  animation: show-max-height-above;
  animation-duration: var(--wfc-motion-duration-medium3);
  animation-timing-function: var(--wfc-motion-easing-emphasized);
}


:host(:not(.open).animation-translate-left) .surface {
  transform: translate(calc(var(--wfc-surface-horizontal-position) + (var(--wfc-surface-translate-x) * -1)), var(--wfc-surface-vertical-position));
}

:host(:not(.open).animation-translate-left) .surface.animating {
  animation: hide-translate-left;
  animation-duration: var(--wfc-motion-duration-medium2);
  animation-timing-function: var(--wfc-motion-easing-standard);
}

:host(.open.animation-translate-left) .surface.animating {
  animation: show-translate-left;
  animation-duration: var(--wfc-motion-duration-medium3);
  animation-timing-function: var(--wfc-motion-easing-standard-decelerate);
}


:host(:not(.open).animation-translate-right) .surface {
  transform: translate(calc(var(--wfc-surface-horizontal-position) + var(--wfc-surface-translate-x)), var(--wfc-surface-vertical-position));
}

:host(:not(.open).animation-translate-right) .surface.animating {
  animation: hide-translate-right;
  animation-duration: var(--wfc-motion-duration-medium2);
  animation-timing-function: var(--wfc-motion-easing-standard);
}

:host(.open.animation-translate-right) .surface.animating {
  animation: show-translate-right;
  animation-duration: var(--wfc-motion-duration-medium3);
  animation-timing-function: var(--wfc-motion-easing-standard-decelerate);
}


:host(:not(.open).animation-height-center-to-opacity) .surface.animating {
  animation: hide-height-center-to-opacity;
  animation-duration: var(--wfc-motion-duration-short3);
  animation-timing-function: var(--wfc-motion-easing-emphasized-accelerate);
  animation-delay: var(--wfc-surface-close-delay, 0ms);
}

:host(.open.animation-height-center-to-opacity) .surface.animating {
  animation: show-height-center-to-opacity;
  animation-duration: var(--wfc-motion-duration-medium1);
  animation-timing-function: var(--wfc-motion-easing-emphasized);
}


:host(:not(.open).animation-opacity) .surface.animating {
  animation: hide-opacity;
  animation-duration: var(--wfc-motion-duration-short3);
  animation-timing-function: var(--wfc-motion-easing-emphasized-accelerate);
  animation-delay: var(--wfc-surface-close-delay, 0ms);
}

:host(.open.animation-opacity) .surface.animating {
  animation: show-opacity;
  animation-duration: var(--wfc-motion-duration-medium1);
  animation-timing-function: var(--wfc-motion-easing-emphasized);
}


:host(:not(.animation)),
:host(:not(.animation)) .surface,
:host(:not(.animation)) .surface-content {
  transition-duration: 0ms !important;
  transition-delay: 0ms !important;
  animation-duration: 0ms !important;
  animation-delay: 0ms !important;
}

@keyframes show-max-height {
  0% {
    opacity: 0;
    max-height: 54px;
  }

  50% {
    opacity: 1;
  }

  100% {
    max-height: var(--wfc-surface-height);
  }
}

@keyframes hide-max-height {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
    max-height: var(--wfc-surface-height);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: block;
    visibility: visible;
    max-height: calc(var(--wfc-surface-height) * 0.35);
  }
}

@keyframes show-max-height-above {
  0% {
    opacity: 0;
    max-height: 54px;
    transform: translate(var(--wfc-surface-translate-x), calc(-106px + var(--wfc-surface-offset-bottom)));
  }

  50% {
    opacity: 1;
  }

  100% {
    max-height: var(--wfc-surface-height);
    transform: translate(
      var(--wfc-surface-translate-x),
      var(--wfc-surface-translate-y)
    );
  }
}

@keyframes hide-max-height-above {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
    max-height: var(--wfc-surface-height);
    transform: translate(
      var(--wfc-surface-translate-x),
      var(--wfc-surface-translate-y)
    );
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: block;
    visibility: visible;
    max-height: calc(var(--wfc-surface-height) * 0.35);
    transform: translate(var(--wfc-surface-translate-x), calc((var(--wfc-surface-translate-y) * 0.35) + (-24px + var(--wfc-surface-offset-bottom))));
  }
}

@keyframes show-translate-y {
  0% {
    opacity: 0;
    transform: translate(var(--wfc-surface-horizontal-position), calc(var(--wfc-surface-vertical-position) - 50px));
  }

  60% {
    opacity: 1;
  }

  100% {
  }
}

@keyframes hide-translate-y {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: block;
    visibility: visible;
    transform: translate(var(--wfc-surface-horizontal-position), calc(var(--wfc-surface-vertical-position) - 50px));
  }
}


@keyframes show-translate-left {
  0% {
    opacity: 0;
    transform: translate(calc(var(--wfc-surface-horizontal-position) + (var(--wfc-surface-translate-x) * -1)), var(--wfc-surface-vertical-position));
  }

  40% {
    opacity: 1;
  }

  100% {
    transform: translate(var(--wfc-surface-horizontal-position), var(--wfc-surface-vertical-position));
  }
}

@keyframes hide-translate-left {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translate(var(--wfc-surface-horizontal-position), var(--wfc-surface-vertical-position));
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: block;
    visibility: visible;
    transform: translate(calc(var(--wfc-surface-horizontal-position) + (var(--wfc-surface-translate-x) * -1)), var(--wfc-surface-vertical-position));
  }
}


@keyframes show-translate-right {
  0% {
    opacity: 0;
    transform: translate(calc(var(--wfc-surface-horizontal-position) + var(--wfc-surface-translate-x)), var(--wfc-surface-vertical-position));
  }

  40% {
    opacity: 1;
  }

  100% {
    transform: translate(var(--wfc-surface-horizontal-position), var(--wfc-surface-vertical-position));
  }
}

@keyframes hide-translate-right {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translate(var(--wfc-surface-horizontal-position), var(--wfc-surface-vertical-position));
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: block;
    visibility: visible;
    transform: translate(calc(var(--wfc-surface-horizontal-position) + var(--wfc-surface-translate-x)), var(--wfc-surface-vertical-position));
  }
}


@keyframes show-height-center-to-opacity {
  0% {
    opacity: 0;
    max-height: calc(var(--wfc-surface-height) * 0.75);
    transform: translate(var(--wfc-surface-horizontal-position), calc(var(--wfc-surface-vertical-position) + (var(--wfc-surface-height) * 0.031)));
  }

  50% {
    opacity: 1;
  }

  100% {
    max-height: var(--wfc-surface-height);
  }
}

@keyframes hide-height-center-to-opacity {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: block;
    visibility: visible;
  }
}


@keyframes show-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide-opacity {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    display: block;
    visibility: visible;
  }
}



.scrim {
  display: none;
}

:host(.scrim) .scrim {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 20;
  opacity: 0;
  background-color: var(--wfc-scrim);
  transition: opacity var(--wfc-motion-duration-short4);
  transition-timing-function: var(--wfc-motion-easing-standard);
}

:host(.scrim.fixed) .scrim {
  position: fixed;
}

:host(.open.scrim) .scrim {
  overscroll-behavior: contain;
  opacity: 0.16;
  pointer-events: all;
}
