:host {
  position: relative;
  min-width: 112px;
  display: contents;
}

.surface {
  --mdw-surface-horizontal-position: 0px;
  --mdw-surface-vertical-position: 0px;
  --mdw-surface-close-delay: 0ms;
  --mdw-surface-translate-x: calc(var(--mdw-surface-width, inherit) * 0.35 * -1);
  
  position: absolute;
  border-radius: inherit;
  display: none;
  inset: auto;
  border: none;
  padding: 0px;
  overflow: visible;
  background-color: transparent;
  color: inherit;
  opacity: 0;
  z-index: 20;
  user-select: none;
  max-height: inherit;
  height: inherit;
  width: inherit;
  min-width: inherit;
  max-width: inherit;
  visibility: hidden;
}

.surface.always-visible {
  display: block;
  visibility: visible;
  opacity: 1;
}

.surface.animating {
  max-height: var(--mdw-surface-height, inherit);
}

:host(.open) .surface,
.animating.surface {
  display: block;
  opacity: 1;
  visibility: visible;
}

.surface::backdrop {
  display: none;
}

:host(.fixed) .surface {
  position: fixed;
}

.surface-content {
  display: block;
  list-style-type: none;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  background-color: inherit;
  border-radius: inherit;
  overflow: auto;
  height: inherit;
  max-height: inherit;
  min-width: inherit;
  max-width: inherit;
  overscroll-behavior: contain;
}

.animating .surface-content {
  overflow: hidden;
}


:host(.open.animation-fullscreen),
:host(.closing.animation-fullscreen) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* max-height: 100vh; */
  z-index: 22;
}

:host(.open.animation-fullscreen) .surface,
:host(.closing.animation-fullscreen) .surface {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

:host(.open.animation-fullscreen) .surface-content,
:host(.closing.animation-fullscreen) .surface-content {
  width: 100%;
  height: 100%;
}

:host(:not(.open).animation-fullscreen) {
  transition: top, left, width, height, border-radius;
  transition-duration: var(--mdw-motion-duration-short3);
  transition-timing-function: var(--mdw-motion-easing-emphasized-accelerate);
}

:host(.open.animation-fullscreen) {
  transition-duration: var(--mdw-motion-duration-medium3);
  transition-timing-function: var(--mdw-motion-easing-emphasized);
}

:host(:not(.open).animation-fullscreen) .surface.animating {
  transition: opacity;
  transition-duration: var(--mdw-motion-duration-short2);
  transition-timing-function: var(--mdw-motion-easing-emphasized-accelerate);
}

:host(.open.animation-fullscreen) .surface.animating {
  transition-duration: var(--mdw-motion-duration-medium2);
  transition-timing-function: var(--mdw-motion-easing-emphasized);
}



/* TODO offsets for non anchor */
:host(:not(.anchor).position-center) .surface,
:host(:not(.anchor).position-center-center) .surface {
  /* --mdw-surface-horizontal-position: calc(-50% + var(--mdw-surface-offset-x));
  --mdw-surface-vertical-position: calc(-50% + var(--mdw-surface-offset-y));
  top: calc(50% + var(--mdw-surface-offset-y));
  left: calc(50% + var(--mdw-surface-offset-x)); */

  --mdw-surface-horizontal-position: -50%;
  --mdw-surface-vertical-position: -50%;
  top: 50%;
  left: 50%;
}

:host(:not(.anchor).position-center-left) .surface {
  /* --mdw-surface-horizontal-position: var(--mdw-surface-offset-x);
  --mdw-surface-vertical-position: calc(-50% + var(--mdw-surface-offset-y));
  top: calc(50% + var(--mdw-surface-offset-y));
  left: 0; */

  --mdw-surface-horizontal-position: 0px;
  --mdw-surface-vertical-position: -50%;
  top: 50%;
  left: 0;
}

:host(:not(.anchor).position-center-right) .surface {
  /* --mdw-surface-horizontal-position: var(--mdw-surface-offset-x);
  --mdw-surface-vertical-position: calc(-50% + var(--mdw-surface-offset-y));
  top: calc(50% + var(--mdw-surface-offset-y));
  right: 0; */

  --mdw-surface-horizontal-position: 0px;
  --mdw-surface-vertical-position: -50%;
  top: 50%;
  right: 0;
}

:host(:not(.anchor).position-top-center) .surface {
  /* --mdw-surface-horizontal-position: calc(-50% + var(--mdw-surface-offset-x));
  --mdw-surface-vertical-position: var(--mdw-surface-offset-y);
  top: 0;
  left: calc(50% + var(--mdw-surface-offset-x)); */

  --mdw-surface-horizontal-position: -50%;
  --mdw-surface-vertical-position: 0px;
  top: 0;
  left: 50%;
}

:host(:not(.anchor).position-top-left) .surface {
  /* --mdw-surface-horizontal-position: var(--mdw-surface-offset-x);
  --mdw-surface-vertical-position: var(--mdw-surface-offset-y); */
  --mdw-surface-horizontal-position: 0px;
  --mdw-surface-vertical-position: 0px;
  top: 0;
  left: 0;
}

:host(:not(.anchor).position-top-right) .surface {
  /* --mdw-surface-horizontal-position: var(--mdw-surface-offset-x);
  --mdw-surface-vertical-position: var(--mdw-surface-offset-y); */
  --mdw-surface-horizontal-position: 0px;
  --mdw-surface-vertical-position: 0px;
  top: 0;
  right: 0;
}

:host(:not(.anchor).position-bottom-center) .surface {
  /* --mdw-surface-horizontal-position: calc(-50% + var(--mdw-surface-offset-x));
  --mdw-surface-vertical-position: var(--mdw-surface-offset-y);
  bottom: 0;
  left: calc(50% + var(--mdw-surface-offset-x)); */

  --mdw-surface-horizontal-position: -50%;
  --mdw-surface-vertical-position: 0px;
  bottom: 0;
  left: 50%;
}

:host(:not(.anchor).position-bottom-left) .surface {
  /* --mdw-surface-horizontal-position: var(--mdw-surface-offset-x);
  --mdw-surface-vertical-position: var(--mdw-surface-offset-y); */
  --mdw-surface-horizontal-position: 0px;
  --mdw-surface-vertical-position: 0px;
  bottom: 0;
  left: 0;
}

:host(:not(.anchor).position-bottom-right) .surface {
  /* --mdw-surface-horizontal-position: var(--mdw-surface-offset-x);
  --mdw-surface-vertical-position: var(--mdw-surface-offset-y); */
  --mdw-surface-horizontal-position: 0px;
  --mdw-surface-vertical-position: 0px;
  bottom: 0;
  right: 0;
}

:host(:not(.anchor)) .surface {
  transform: translate(
    var(--mdw-surface-horizontal-position),
    var(--mdw-surface-vertical-position)
  );
}

slot {
  display: block;
  height: inherit;
  max-height: inherit;
}

/* ::slotted(:is(.mdw-divider, [role='separator'])) {
  margin: 8px 0;
} */


:host(:not(.open):not(.animation-fullscreen)) .surface.animating {
  animation: hide-translate-y;
  animation-duration: var(--mdw-motion-duration-short3);
  animation-timing-function: var(--mdw-motion-easing-emphasized-accelerate);
}

:host(.open:not(.animation-fullscreen)) .surface.animating {
  animation: show-translate-y;
  animation-duration: var(--mdw-motion-duration-medium2);
  animation-timing-function: var(--mdw-motion-easing-emphasized);
}

:host(:not(.open).animation-height) .surface.animating {
  animation: hide-max-height;
  animation-duration: var(--mdw-motion-duration-short3);
  animation-timing-function: var(--mdw-motion-easing-emphasized-accelerate);
  animation-delay: var(--mdw-surface-close-delay, 0ms);
}

:host(.open.animation-height) .surface.animating {
  animation: show-max-height;
  animation-duration: var(--mdw-motion-duration-medium3);
  animation-timing-function: var(--mdw-motion-easing-emphasized);
}


:host(:not(.open).animation-translate-left) .surface {
  transform: translate(calc(var(--mdw-surface-horizontal-position) + (var(--mdw-surface-translate-x) * -1)), var(--mdw-surface-vertical-position));
}

:host(:not(.open).animation-translate-left) .surface.animating {
  animation: hide-translate-left;
  animation-duration: var(--mdw-motion-duration-medium2);
  animation-timing-function: var(--mdw-motion-easing-standard);
}

:host(.open.animation-translate-left) .surface.animating {
  animation: show-translate-left;
  animation-duration: var(--mdw-motion-duration-medium3);
  animation-timing-function: var(--mdw-motion-easing-standard-decelerate);
}


:host(:not(.open).animation-translate-right) .surface {
  transform: translate(calc(var(--mdw-surface-horizontal-position) + var(--mdw-surface-translate-x)), var(--mdw-surface-vertical-position));
}

:host(:not(.open).animation-translate-right) .surface.animating {
  animation: hide-translate-right;
  animation-duration: var(--mdw-motion-duration-medium2);
  animation-timing-function: var(--mdw-motion-easing-standard);
}

:host(.open.animation-translate-right) .surface.animating {
  animation: show-translate-right;
  animation-duration: var(--mdw-motion-duration-medium3);
  animation-timing-function: var(--mdw-motion-easing-standard-decelerate);
}


:host(:not(.open).animation-height-center-to-opacity) .surface.animating {
  animation: hide-height-center-to-opacity;
  animation-duration: var(--mdw-motion-duration-short3);
  animation-timing-function: var(--mdw-motion-easing-emphasized-accelerate);
  animation-delay: var(--mdw-surface-close-delay, 0ms);
}

:host(.open.animation-height-center-to-opacity) .surface.animating {
  animation: show-height-center-to-opacity;
  animation-duration: var(--mdw-motion-duration-medium1);
  animation-timing-function: var(--mdw-motion-easing-emphasized);
}


:host-context(body:not(.mdw-animation)) .surface {
  animation-duration: 0ms !important;
}


@keyframes show-max-height {
  0% {
    opacity: 0;
    max-height: 54px;
  }

  50% {
    opacity: 1;
  }

  100% {
    max-height: var(--mdw-surface-height);
  }
}

@keyframes hide-max-height {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
    max-height: var(--mdw-surface-height);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: block;
    visibility: visible;
    max-height: calc(var(--mdw-surface-height) * 0.35);
  }
}

@keyframes show-translate-y {
  0% {
    opacity: 0;
    transform: translate(var(--mdw-surface-horizontal-position), calc(var(--mdw-surface-vertical-position) - 50px));
  }

  60% {
    opacity: 1;
  }

  100% {
  }
}

@keyframes hide-translate-y {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: block;
    visibility: visible;
    transform: translate(var(--mdw-surface-horizontal-position), calc(var(--mdw-surface-vertical-position) - 50px));
  }
}


@keyframes show-translate-left {
  0% {
    opacity: 0;
    transform: translate(calc(var(--mdw-surface-horizontal-position) + (var(--mdw-surface-translate-x) * -1)), var(--mdw-surface-vertical-position));
  }

  40% {
    opacity: 1;
  }

  100% {
    transform: translate(var(--mdw-surface-horizontal-position), var(--mdw-surface-vertical-position));
  }
}

@keyframes hide-translate-left {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translate(var(--mdw-surface-horizontal-position), var(--mdw-surface-vertical-position));
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: block;
    visibility: visible;
    transform: translate(calc(var(--mdw-surface-horizontal-position) + (var(--mdw-surface-translate-x) * -1)), var(--mdw-surface-vertical-position));
  }
}


@keyframes show-translate-right {
  0% {
    opacity: 0;
    transform: translate(calc(var(--mdw-surface-horizontal-position) + var(--mdw-surface-translate-x)), var(--mdw-surface-vertical-position));
  }

  40% {
    opacity: 1;
  }

  100% {
    transform: translate(var(--mdw-surface-horizontal-position), var(--mdw-surface-vertical-position));
  }
}

@keyframes hide-translate-right {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translate(var(--mdw-surface-horizontal-position), var(--mdw-surface-vertical-position));
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: block;
    visibility: visible;
    transform: translate(calc(var(--mdw-surface-horizontal-position) + var(--mdw-surface-translate-x)), var(--mdw-surface-vertical-position));
  }
}


@keyframes show-height-center-to-opacity {
  0% {
    opacity: 0;
    max-height: calc(var(--mdw-surface-height) * 0.75);
    transform: translate(var(--mdw-surface-horizontal-position), calc(var(--mdw-surface-vertical-position) + (var(--mdw-surface-height) * 0.031)));
  }

  50% {
    opacity: 1;
  }

  100% {
    max-height: var(--mdw-surface-height);
  }
}

@keyframes hide-height-center-to-opacity {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: block;
    visibility: visible;
  }
}



.scrim {
  display: none;
}

:host(.scrim) .scrim {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 20;
  opacity: 0;
  background-color: var(--mdw-scrim);
  transition: opacity var(--mdw-motion-duration-short4);
  transition-timing-function: var(--mdw-motion-easing-standard);
}

:host(.scrim.fixed) .scrim {
  position: fixed;
}

:host(.open.scrim) .scrim {
  overscroll-behavior: contain;
  opacity: 0.16;
  pointer-events: all;
}
