:host {
  position: relative;
  display: block;
  outline: none;
  width: 200px;
  height: 80px;
}

:host > slot {
  display: block;
  font-size: var(--mdw-font-title-size-large);
  font-weight: var(--mdw-font-title-weight-large);
  letter-spacing: var(--mdw-font-title-letter-spacing-large);
  line-height: var(--mdw-font-title-line-height);
  height: 46px;
}

:host(.mdw-has-icon) > slot {
  margin-left: 42px;
}

::slotted(mdw-icon) {
  position: absolute;
  top: 16px;
  left: 0;
}

:host > .control {
  position: relative;
  display: flex;
  align-items: center;
}

:host(.mdw-has-icon) > .control {
  margin-left: 42px;
}

:host([disabled]) > .control {
  pointer-events: none;
  opacity: .38;
}

:host > .control > .track-active {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--mdw-primary);
}

:host([disabled]) > .control > .track-active {
  background-color: var(--mdw-on-surface);
}

:host > .control > .track-inactive {
  position: absolute;
  left: 50%;
  right: 0;
  height: 4px;
  border-radius: 2px;

  background-color: var(--mdw-surface-container-highest);
}

:host([disabled]) > .control > .track-inactive {
  background-color: var(--mdw-on-surface-alpha-50);
}

:host > .control > .thumb {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  border-radius: var(--mdw-shape-full);
  cursor: pointer;

  background-color: var(--mdw-primary);
  box-shadow: var(--mdw-elevation-1);
}

:host > slot {
  display: block;
  line-height: 36px;
}

:host([disabled]) > .control > .thumb {
  background-color: var(--mdw-on-surface);
  box-shadow: none;
}

:host > .control > .thumb::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 40px;
  height: 40px;
  border-radius: var(--mdw-shape-full);
  background-color: var(--mdw-primary);
  opacity: 0;
  transition: opacity var(--mdw-motion-duration-short2);
}

:host > .control > .thumb:active::before {
  opacity: var(--mdw-state-layer-opacity-pressed);
  transition: opacity var(--mdw-motion-duration-short4);
}

:host(:focus) > .control > .thumb::before,
:host > .control > .thumb:focus::before {
  opacity: var(--mdw-state-layer-opacity-focus);
  transition: opacity var(--mdw-motion-duration-short4);
}

:host > .control > .thumb > .label {
  position: absolute;
  top: -36px;
  left: -4px;
  pointer-events: none;
  width: 28px;
  height: 28px;
  border-radius: var(--mdw-shape-full) var(--mdw-shape-full) 0 var(--mdw-shape-full);
  box-sizing: border-box;
  transform-origin: center;
  transform: rotate(45deg);
  background-color: var(--mdw-primary);
  opacity: 0;
  transition: opacity var(--mdw-motion-duration-short2);
}

:host > .control > .thumb > .label > .label-text {
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  vertical-align: center;
  transform-origin: center;
  transform: rotate(-45deg);
  font-size: var(--mdw-font-label-size-medium);
  font-weight: var(--mdw-font-label-weight-medium);
  letter-spacing: var(--mdw-font-label-letter-spacing-medium);
  color: var(--mdw-on-primary);
}

:host(:focus) > .control > .thumb > .label,
:host > .thumb:focus > .label,
:host > .thumb:active > .label {
  opacity: 1;
  transition: opacity var(--mdw-motion-duration-short4);
}

/* hover state layers. Media needed to prevent hover on mobile */
@media (hover: hover) {
  :host > .control > .thumb:hover::before {
    opacity: var(--mdw-state-layer-opacity-hover);
    transition: opacity var(--mdw-motion-duration-short4);
  }

  :host > .control > .thumb:hover > .label {
    opacity: 1;
    transition: opacity var(--mdw-motion-duration-short4);
  }
}

:host > .control > .marks {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4px;
  pointer-events: none;
}

:host > .control > .marks > .mark {
  width: 4px;
  height: 4px;
  border-radius: var(--mdw-shape-full);
}

:host > .control > .marks > .mark.active {
  background-color: var(--mdw-on-primary-alpha-38);
}

:host > .control > .marks > .mark.inactive {
  background-color: var(--mdw-on-surface-variant);
}
