:host {
  display: inline-flex;
  vertical-align: middle;
  min-inline-size: 200px;
}

:host([disabled]) {
  opacity: 0.38;
  pointer-events: none;
}

.container {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  block-size: 72px;
  pointer-events: none;
  touch-action: none;
}


.track,
.tick-marks {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
}


.track::before,
.tick-marks::before,
.track::after,
.tick-marks::after {
  position: absolute;
  content: '';
  inset-inline-start:18px;
  inset-inline-end: 18px;
  background-size: calc((100% - 4px) / 10) 100%;
}

.track::before,
.tick-marks::before {
  block-size: 4px;
  border-radius: 2px;
}

.track::before {
  background-color: var(--mdw-primary-container);
}

:host([disabled]) .track::before {
  background-color: var(--mdw-surface-variant);
}

.container.step .tick-marks::before {
  background-image: radial-gradient(circle at 2px center,
        var(--mdw-on-surface-variant-alpha-38) 0,
        var(--mdw-on-surface-variant-alpha-38) 1px,
        transparent 1px);
}

:host([disabled]) .container.step .tick-marks::before {
  background-image: radial-gradient(circle at 2px center,
      var(--mdw-on-surface-alpha-38) 0,
      var(--mdw-on-surface-alpha-38) 1px,
      transparent 1px);
}

.track::after,
.tick-marks::after {
  --mdw-slider-active-end-clip: calc(100% - var(--mdw-slider-active-end, 0));
  block-size: 4px;
  border-radius: 2px;
  clip-path: inset(0 var(--mdw-slider-active-end-clip) 0 var(--mdw-slider-active-start, 0));
}

.track::after {
  background-color: var(--mdw-primary);
}

:host([disabled]) .track::after {
  background-color: var(--mdw-on-surface);
}

.container.step .tick-marks::after {
  background-image: radial-gradient(circle at 2px center,
        var(--mdw-on-primary-alpha-38) 0,
        var(--mdw-on-primary-alpha-38) 1px,
        transparent 1px);
}

:host([disabled]) .container.step .tick-marks::after {
  background-image: radial-gradient(circle at 2px center,
      var(--mdw-on-surface-alpha-38) 0,
      var(--mdw-on-surface-alpha-38) 1px,
      transparent 1px);
}


.handle-padding {
  position: relative;
  width: 100%;
  margin: 0 20px;
}

.handle {
  position: absolute;
  margin-left: -10px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border-radius: var(--mdw-shape-full);
  cursor: pointer;
  box-sizing: border-box;

  background-color: var(--mdw-primary);
  box-shadow: var(--mdw-elevation-1);
  border: 1px solid transparent;
}

:host([disabled]) .handle {
  background-color: var(--mdw-on-surface);
  box-shadow: none;
}

.handle.start {
  left: var(--mdw-slider-active-end, 50%);
}

:host([range]) .handle.start {
  left: var(--mdw-slider-active-start, 25%);
}

:host([range]) .handle.overlap {
  border: 1px solid var(--mdw-on-surface-inverse);
  z-index: 1;
}

.handle.end {
  display: none;
}

:host([range]) .handle.end {
  display: block;
  right: calc(100% - var(--mdw-slider-active-end, 25%) - 10px);
}

.handle::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 40px;
  height: 40px;
  border-radius: var(--mdw-shape-full);
  background-color: var(--mdw-primary);
  opacity: 0;
  transition: opacity var(--mdw-motion-duration-short2);
}


.label {
  position: absolute;
  display: block;
  color: var(--mdw-on-surface-variant);
  font-size: var(--mdw-font-large-label-size);
  font-weight: var(--mdw-font-large-label-weight);
  line-height: var(--mdw-font-large-label-line-height);
  letter-spacing: var(--mdw-font-large-label-tracking);
  left: 18px;
  top: 0;
}

::slotted(mdw-icon) {
  z-index: 1;
  color: var(--mdw-on-surface-variant);
  align-self: center;
  margin-right: -4px;
}

slot[name="leading-icon"].has-label::slotted(mdw-icon) {
  margin-top: -26px;
}


.handle .value-container {
  position: absolute;
  top: -36px;
  left: -4px;
  pointer-events: none;
  width: 28px;
  height: 28px;
  border-radius: var(--mdw-shape-full) var(--mdw-shape-full) 0 var(--mdw-shape-full);
  box-sizing: border-box;
  transform-origin: center;
  transform: rotate(45deg);
  background-color: var(--mdw-primary);
  opacity: 0;
  transition: opacity var(--mdw-motion-duration-short2);
}

.handle .value-container .value {
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  vertical-align: center;
  transform-origin: center;
  transform: rotate(-45deg);
  font-size: var(--mdw-font-medium-label-size);
  font-weight: var(--mdw-font-medium-label-weight);
  letter-spacing: var(--mdw-font-medium-label-tracking);
  color: var(--mdw-on-primary);
}

:host(:focus) .handle::before {
  opacity: var(--mdw-state-layer-opacity-focus);
  transition: opacity var(--mdw-motion-duration-short4);
}

:host(:focus) .value-container {
  opacity: 1;
  transition: opacity var(--mdw-motion-duration-short4);
}


/* hover state layers. Media needed to prevent hover on mobile */
@media (hover: hover) {
  input.start:hover ~ .handle-padding .handle.start::before {
    opacity: var(--mdw-state-layer-opacity-hover);
    transition: opacity var(--mdw-motion-duration-short4);
  }

    input.start:hover ~ .handle-padding .handle.start .value-container {
    opacity: 1;
    transition: opacity var(--mdw-motion-duration-short4);
  }

  input.end:hover ~ .handle-padding .handle.end::before {
    opacity: var(--mdw-state-layer-opacity-hover);
    transition: opacity var(--mdw-motion-duration-short4);
  }

  input.end:hover ~ .handle-padding .handle.end .value-container {
    opacity: 1;
    transition: opacity var(--mdw-motion-duration-short4);
  }
}


input {
  opacity: 0;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  background: transparent;
  cursor: pointer;
  pointer-events: auto;
  appearance: none;
}

:host([disabled]) input {
  pointer-events: none;
}

::-webkit-slider-runnable-track {
  -webkit-appearance: none;
}

::-moz-range-track {
  appearance: none;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  block-size: 20px;
  inline-size: 20px;
  opacity: 0;
  z-index: 2;
}

::-moz-range-thumb {
  appearance: none;
  block-size: 40px;
  inline-size: 40px;
  transform: scaleX(0);
  opacity: 0;
  z-index: 2;
}


:host([range]) input.start {
  --mdw-slider-active-end-clip: calc(100% - var(--mdw-slider-active-end, 0) + var(--mdw-slider-range-active-diff));
  clip-path: inset(0 var(--mdw-slider-active-end-clip) 0 0);
}

:host(:not([range])) input.end {
  display: none;
}

:host([range]) input.end {
  clip-path: inset(0 0 0 calc(var(--mdw-slider-active-start, 0) + var(--mdw-slider-range-active-diff)));
}
